{% set recipe_template__base_class = 'node--recipe' %}

<section {{ bem(recipe_template__base_class) }} data-theme="twix">
    {% for component in components %}
      {{component | raw}}
    {% endfor %}
</section>
