.node--recipe {

  .list-container-block {
    h2 {
      @include set-font($font-type: 'primary-font');

      font-size: 2rem;
      line-height: 1.1;
      font-weight: 500;
      color: clr(primary);
      text-transform: capitalize;

      @include small {
        margin: 30px 20px 20px 20px;
      }

      @include medium {
        margin: 40px 40px 30px 40px;
        font-size: 26px;
      }

      @include xl {
        font-size: 28px;
      }
    }

    ol {
      padding: 0;
    }
  }

  .article-wysiwyg {
    margin: 30px 0;

    @include medium {
      margin: 40px 0;
    }

    @include xl {
      margin: 60px auto;
      max-width: 1360px;
    }

    &__content {
      margin: 0 20px;
      max-width: 100%;

      @include medium {
        margin: 0 40px;
      }

      @include xl {
        max-width: 665px;
        padding: 0;
        margin: 0 0 0 116px;
      }

    }
  }


  @include xl {
    .recipe-body-content-header {
      margin-left: 116px;
      text-transform: capitalize;
      color: clr(primary);
    }

    .list-container-block {
      max-width: 1360px;
      margin: auto;

      h2 {
        margin-left: 116px;
      }

      ol {
        margin-left: 116px;
        max-width: 665px;

        .list-item__content {
          max-width: 530px;
        }

        img {
          max-width: 509px;
        }
      }
    }

    .article-inline {
      max-width: 1365px;
      margin: auto;

      &__heading>h3, &__media, .inline-video, .article-inline__content {
        max-width: 665px;
        margin-left: 116px;
      }
    }

    .article-full-width__media {
      max-width: 1128px;
      margin: auto;
    }
  }
}
