.ajax-card-grid {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: clr(subcolor-2);
    padding-bottom: 2rem;
  }

  &__heading {
    @include set-font($font-type: 'heading-font');

    color: clr(primary);
    text-align: center;
    font-size: 4rem;
    line-height: 1;
    margin: 2rem 0 4rem;
    padding: 0;

    @include medium {
      font-size: 5.6rem;
      margin: 3rem 0 4rem;
    }

    @include xl {
      font-size: 6.4rem;
      margin: 3rem 0 6rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 62.5rem;

    @include medium {
      max-width: 71rem;
    }

    @include large {
      max-width: calc(100% - 40px);
    }
    
    @include xl {
      max-width: 140.5rem;
    }

    & .product-card {
      margin-bottom: 4rem;

      @include xl {
        margin-bottom: 6rem;
      }

      & > a {
        text-decoration: none;
      }
    }
  }

  &__more-link {
    text-align: center;
    display: none;
    width: 100%;
    padding: 0 2rem 4rem 2rem;

    &.active {
      display: block;
    }

    & .default-link {
      background-color: clr(secondary);
      width: 100%;

      @include medium {
        width: auto;
      }

      &:hover,
      &:focus-visible {
        cursor: pointer;
      }
    }
  }

  &__item_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include medium {
      width: 50%;
    }

    @include large {
      width: 33%;
    }

    @include xl {
      width: 25%;
    }

    & > section,
    & > article {
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include large {
        width: 304px;
      }

      @include xl {
        width: 318px;
      }
    }
  }
}
