.ajax-card-grid {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: clr(subcolor-2);
    padding: 6rem 0;
  }

  &__heading {
    font-family: variable(heading-font);
    color: clr(primary);
    text-align: center;
    margin-top: 0;

    @include xs {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 4rem;
    }

    @include medium {
      font-size: 4.8rem;
      line-height: 4.8rem;
      margin-bottom: 6rem;
    }
  }

  &__graphic-divider {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;

    @include small {
      max-width: 62.5rem;
    }

    @include medium {
      max-width: 80.5rem;
    }

    @include xl {
      max-width: 140.5rem;
    }


    & .product-card {
      margin-bottom: 6rem;
      & > a {
        text-decoration: none;
      }
    }
  }

  &__more-link {
    text-align: center;
    display: none;

    &.active {
      display: block;
    }

    & .default-link {
      background-color: clr(secondary);
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__item_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include medium {
      width: 50%;
    }

    @include xl {
      width: 25%;
    }

    & > section, & > article {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
