html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: clr(background);
  color: clr(text);

  p a {
    color: clr(primary);
    text-decoration: none;
    border-bottom: 1px solid clr(secondary);
  }

  &, & button {
    letter-spacing: 0.048rem;
    #clear {
      border: none;
      background: transparent;
    }
    @include medium {
      letter-spacing: 0.07rem;
    }

    @include large {
      letter-spacing: 0.16rem;
    }
  }

  #layout-builder-modal {
    font-size: 120%;
  }

  @include body-copy;
}

// Add a class to remove the overflow hidden from the body when resizing
.no-scroll{
  overflow: hidden;
  @include large {
    overflow: visible;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.visually-hidden:focus-within {
  overflow: hidden;
}

.text-color-A {
  color: clr(primary) !important;
}

.text-color-E {
  color: clr(subcolor-3) !important;
}

.text-color-W {
  color: $white !important;
}

.bg-color-C {
  background-color: clr(subcolor-1) !important;
}

.bg-color-D {
  background-color: clr(subcolor-2) !important;
}

.bg-color-E {
  background-color: clr(subcolor-3) !important;
}

.bg-gradient-C {
  background-image: radial-gradient(
      circle at 50% 40%,
      clr(card-background) 10%,
      clr(subcolor-1)
  ) !important;
}

.bg-gradient-D {
  background-image: radial-gradient(
      circle at 50% 40%,
      clr(card-background) 10%,
      clr(subcolor-2)
  ) !important;
}

.bg-gradient-E {
  background-image: radial-gradient(
      circle at 50% 40%,
      clr(card-background) 10%,
      clr(subcolor-3)
  ) !important;
}

.aspect-ratio-wrapper {
  position: relative;
  height: 0;

  &--21-9 {
    padding-top: 42.85%;
  }

  &--16-9 {
    padding-top: 56.25%;
  }

  &--4-3 {
    padding-top: 75%;
  }

  &--3-4 {
    padding-top: 133%;
  }

  &--1-1 {
    padding-top: 100%;
  }

  &--full-width {
    width: 100%;
  }

  img, figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
  }
}

.swiper-slide .aspect-ratio-wrapper {
  position: static;
}

#onetrust-banner-sdk, #onetrust-pc-sdk, #ot-sdk-cookie-policy, #ot-sync-ntfy {
  font-size: 16px !important;
}

@mixin set-font ($font-type) {
  font-family: variable(#{$font-type});
  letter-spacing: variable(#{$font-type + '-m-letter-spacing'});

  @include medium {
    letter-spacing: variable(#{$font-type + '-t-letter-spacing'});
  }

  @include xl {
    letter-spacing: variable(#{$font-type + '-d-letter-spacing'});
  }
}
