<section class="fonts-test-component" data-theme="dove"/>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 100',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--100'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 200',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--200'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 300',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--300'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 400',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--400'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 500',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--500'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 600',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--600'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 700',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--700'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 800',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--800'
  } %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: 'Font weight 900',
    heading_level: 1,
    heading_base_class: 'fonts-test-component__heading fonts-test-component__heading--900'
  } %}
  {% include "@atoms/text/text/01-paragraph.twig" with {
    paragraph_content: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.',
    paragraph_base_class: 'fonts-test-component__paragraph fonts-test-component__paragraph--light'
  } %}
  {% include "@atoms/text/text/01-paragraph.twig" with {
    paragraph_content: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.',
    paragraph_base_class: 'fonts-test-component__paragraph fonts-test-component__paragraph--medium'
  } %}
  {% include "@atoms/text/text/01-paragraph.twig" with {
    paragraph_content: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.',
    paragraph_base_class: 'fonts-test-component__paragraph fonts-test-component__paragraph--bold'
  } %}
</section>