.fonts-test-component {
  color: clr(primary);
  padding: 0 5rem;

  &__heading {
    margin: 0;
    font-size: 5rem;

    &--heading-font {
      @include set-font($font-type: 'heading-font');
    }

    &--primary-font {
      @include set-font($font-type: 'primary-font');
    }

    &--secondary-font {
      @include set-font($font-type: 'secondary-font');
    }
  }

  &__paragraph {
    column-count: 3;
    column-gap: 5rem;
    font-size: 2rem;

    &--light {
      @include set-font($font-type: 'secondary-font');
    }
    &--medium {
      @include set-font($font-type: 'primary-font');
    }
    &--bold {
      @include set-font($font-type: 'heading-font');
    }
  }
}
