.recipe-feature-block {
  margin: 20px 0;

  .media {
    position: relative;
    overflow: hidden;

    img, figure {
      @include large {
        width: 75%;
      }
    }

    .media-info {
      background-color: clr(subcolor-2);
      position: absolute;
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;

      @include medium {
        margin-right: 65px;
        margin-left: 65px;
      }

      @include large {
        left: 60%;
        width: 40%;
        margin-left: 0;
        margin-right: 0;
        top: 0;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        flex-flow: column nowrap;
      }

      .stretch {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 2;
        top: -20px;

        svg {
          path {
            fill: clr(subcolor-3);
            width: 100%;
          }
          rect {
            width: 100%;
            height: 100%;
          }
        }
      }

      .repeat {
        position: absolute;
        width: 100%;
        height: 16px;
        top: 50%;
        transform: rotate(-90deg);
        left: calc(-50% - 7px);

        svg {
          width: 100%;

          path {
            fill: clr(subcolor-2);
          }
          rect {
            width: inherit;
            height: 15px;
          }
        }
      }

      .eyebrow {
        padding-top: 30px;
        font-family: variable(primary-font);
        font-size: 14px;
        line-height: 14px;
        color: clr(primary);
        text-transform: uppercase;
        letter-spacing: 1.4px;
      }
      .title {
        font-family: variable(primary-font);
        font-size: 64px;
        line-height: 100%;
        text-transform: capitalize;
        font-weight: normal;
        margin: 30px auto;

        a.link {
          color: clr(primary);
          text-decoration: none;
        }
      }

      .default-link {
        margin-top: 50px;
        background-color: clr(secondary);

        &:hover {
          color: clr(secondary);
        }
      }
    }
  }
}
