.eyebrow {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: clr(subcolor-3);
  font-family: variable(secondary-font);
  display: block;
  margin-bottom: 3rem;

  &--parent-page {
    font-size: 1.4rem;
    font-family: variable(primary-font);
    color: clr(primary);
    text-align: center;
  }

  @media (max-width: 375px) {
    line-height: 1.4rem;
  }

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}
