.eyebrow {
  @include set-font($font-type: 'secondary-font');

  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: clr(subcolor-3);
  display: block;
  margin-bottom: 3rem;

  &--parent-page {
    @include set-font($font-type: 'primary-font');

    font-size: 1.4rem;
    color: clr(primary);
    text-align: center;
  }

  @media (max-width: 375px) {
    line-height: 1.4rem;
  }

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}
