.product-card {
  min-height: 520px;
  border-radius: variable(border-radius);
  width: 318px;
  transition: cubic-bezier(0.75, 0, 0.25, 0), 0.8s;
  background-image: radial-gradient(circle at 50% 40%, clr(card-background) 10%, clr(subcolor-1));
  position: relative;

  a {
    text-decoration: none;
  }

  .eyebrow {
    color: clr(primary);
    padding-top: 3rem;
    font-family: variable(primary-font);
    text-align: center;
    margin-bottom: 0;
  }

  img {
    transition: transform 0.8s;
  }

  &:hover {
    background-image: radial-gradient(circle at 50% 50%, clr(secondary), clr(secondary));
    transition: cubic-bezier(0.75,0,0.25,0), 0.8s;

    p, a, .eyebrow{
      color: clr(subcolor-3);
    }

    img {
      transform: scale(1.1);
      transition: transform 0.8s;
    }

  }

  &__image {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 3rem;
    height: 255px;
    width: 255px;
    box-sizing: border-box;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-family: variable(primary-font);
    max-width: 75%;
    min-height: 105px;
    margin: 2rem auto 0;

    p {
      max-width: 255px;
      color: clr(primary);
      margin-bottom: 0;
    }

  }

  &__link_section {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1rem;
  }

  &__button{
    position: relative;
    left: -1rem;
    a {
      padding: 0 1.85rem;;
      line-height: 5rem;
      font-size: 1.4rem;
    }

    &:hover {
      a {
        color: clr(secondary);
      }
    }
  }

  & .text_link{
    padding: 1.5rem 2rem;
    line-height: 5rem;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: clr(primary);
    font-family: variable(secondary-font);
    text-transform: uppercase;
  }

  .badge {
    position: absolute;
    top: -3.5rem;
    right: -1.5rem;
  }
}
