.product-card {
  $this: &;

  min-height: 520px;
  border-radius: variable(card-border-radius);
  transition: cubic-bezier(0.75, 0, 0.25, 0), 0.8s;
  background-image: radial-gradient(
    circle at 50% 40%,
    clr(card-background) 10%,
    clr(subcolor-1)
  );
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  @include card-width;

  a {
    text-decoration: none;
  }

  @include medium {
    &:hover {
      .product-card__hover-helper {
        opacity: 1;
      }

      .eyebrow,
      .product-card__title {
        color: clr(subcolor-3);
        transition: inherit;
      }

      .product-card__image img {
        transform: scale(1.1);
        transition: transform 0.8s;
      }

      .product-card__img-hover {
        .product-image__image {
          opacity: 0;
        }

        .hover-image__image {
          opacity: 1;
        }
      }
    }
  }

  &__hover-helper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: variable(card-border-radius);
    opacity: 0;
    background-image: radial-gradient(
      circle at 50% 50%,
      clr(secondary),
      clr(secondary)
    );
    transition: inherit;
  }

  &__inner {
    position: relative;
    padding-bottom: 8rem; /* reserve height for buttons */
    box-sizing: border-box;
    min-height: 520px;
    transition: inherit;
  }

  .badge {
    position: absolute;
    top: -3.5rem;
    right: -1.5rem;
    z-index: 2;
  }

  .eyebrow {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-eyebrow, product-card-eyebrow);
    padding-top: 3rem;
    text-align: center;
    margin: 0 0 -1rem; /* marging-bottom = 2rem in total */
  }

  &__brand-shape {
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: calc(50% - 100px);
    margin-top: 5.7rem;

    svg {
      fill: rgba(clr(subcolor-1-rgb), 0.2);
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 3rem;
    height: 25.5rem;
    width: 25.5rem;
    box-sizing: content-box;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      transition: transform 0.8s;
      z-index: 1;
      object-fit: contain;
    }
  }

  &__img-hover {
    height: 25.5rem;
    width: 25.5rem;
    margin: 0 auto;
    padding-top: 3rem;
    position: relative;
    box-sizing: content-box;

    img {
      max-width: 100%;
      max-height: 25.5rem;
      display: block;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      transition: opacity 0.25s ease-in;
      object-fit: contain;

      &.product-image__image {
        opacity: 1;
      }

      &.hover-image__image {
        opacity: 0;
      }
    }
  }

  &__title {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-title, product-card-title);
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 2rem 3rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &--with-rating &__title {
    -webkit-line-clamp: 4;
  }

  &__rating {
    margin: 1rem 0 0.5rem;

    .inline-rating {
      margin: 0 3rem;
    }

    .score {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary, card-title, product-card-title);
      font-size: 1.4rem;
    }
  }

  &__link_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    left: 3rem;
    height: 5rem;
    font-size: 0; // reset to remove extra height
    
    &--no-commerce-vendor {
      justify-content: space-between;
    }
  }

  &__link {
    display: flex;
    flex-grow: 1;
    padding-left: 1rem;
  }

  .ps-disabled {
    display: none !important;
  }
}
