.fullscreen-video {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    width: 100%;
  }

  &__control[data-state="hidden"] {
    display: none;
  }

  &__control[data-state="play"] {
    @include playbutton;

    width: 60px;
    height: 60px;
    top: 15px;
    right: 15px;
    left: auto;

    .play-icon {
      width: 20px;
      height: 24px;
      fill: clr(secondary);
      margin: auto 35%;
    }

    @include xl {
      right: calc((100% - 1440px) / 2 + 15px);
    }
  }

  &__control[data-state="pause"] {
    @include pausebutton;

    width: 60px;
    height: 60px;
    top: 15px;
    right: 15px;
    left: auto;

    >div {
      width: 14px;
      height: 18px;
      border-right: 4px solid clr(text-inverse);
      border-left: 4px solid clr(text-inverse);
      margin: auto;
    }

    @include xl {
      right: calc((100% - 1440px) / 2 + 15px);
    }
  }

  &__control[data-state="pause"] .play-icon{
    display: none;
  }

  &__controls {
    overflow: hidden;
    background: transparent;
    width: 100%;
    min-height: 30px;
    padding: 0 20px;

    @include medium {
      padding: 0 30px;
    }

    &[data-state="hidden"] {
      display: none;
    }

    &[data-state="visible"] {
      display: flex;
      align-items: center;
    }

    button {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: none;
      outline: none;
      cursor: pointer;
      background: transparent;
      height: 24px;
    }

    button:hover,
    button:focus {
      outline: 2px solid white;
    }

    progress {
      display: block;
      width: 100%;
      height: 10px;
      border: none;
      overflow: hidden;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: clr(player);

      span {
        width: 0%;
        height: 10px;
        display: inline-block;
        background-color: clr(player);
      }

      &:focus {
        outline: 2px solid white;
      }

      &::-moz-progress-bar {
        background-color: clr(player);
      }

      &::-webkit-progress-value {
        background-color: clr(player);
      }
    }
  }

  &__playpause[data-state="play"] {
    @include playbutton;

    width: 26px;
    height: 26px;
    position: static;
    margin-right: 10px;

    @include medium {
      margin-right: 20px;
    }

    @include xl {
      margin-right: 30px;
    }

    >div {
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 10px solid clr(player);
      margin: auto 35%
    }
  }

  &__playpause[data-state="pause"] {
    @include pausebutton;

    width: 26px;
    height: 26px;
    position: static;
    margin-right: 10px;

    @include medium {
      margin-right: 20px;
    }

    @include xl {
      margin-right: 30px;
    }

    >div {
      width: 7px;
      height: 9px;
      border-right: 4px solid clr(text-inverse);
      border-left: 4px solid clr(text-inverse);
      margin: auto;
    }
  }

  &__volumechange[data-state="unmute"] {
    @include mutebutton;

    top: 90px;
    right: 15px;
    left: auto;
    height: 60px;
    width: 60px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(241, 241, 241, 0.2);
 
    .mute-icon {
      width: 24px;
      height: 24px;
      fill: #fff ;
      margin: auto 25%;
    }

    @include medium {
      top: 100px;
      height: 60px;
      width: 60px;
    }

    @include xl {
      right: calc((100% - 1440px) / 2 + 15px);
    }
  }

  &__volumechange[data-state="mute"] {
    @extend .fullscreen-video__volumechange[data-state="unmute"];

    opacity: 0.5;
  }

  button.fullscreen-video__mute {
    margin-right: 10px;
    width: 26px;
    height: 26px;

    @include medium {
      margin-right: 20px;
    }

    @include xl {
      margin-right: 30px;
    }
  }

  button.fullscreen-video__subtitles {
    margin-right: 10px;

    @include medium {
      margin-right: 20px;
    }

    @include xl {
      margin-right: 30px;
    }
  }

  button.fullscreen-video__close {
    position: absolute;
    background: transparent;
    top: 20px;
    right: 20px;
    z-index: 10;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;

    @include medium {
      top: 40px;
      right: 40px;
    }

    @include xl {
      right: 60px;
    }

    &:focus {
      outline: 2px solid white;
    }
  }

  &__progress-time {
    cursor: pointer;
    flex-grow: 1;
    margin-right: 10px;
  }

  &__progress-time--duration {
    width: auto;
    flex-grow: 0;
    flex-basis: 80px;
    font-size: 14px;
    color: clr(text-inverse);
    margin-right: 10px;
    min-width: 11rem;

    @include medium {
      margin-right: 20px;
    }

    @include xl {
      margin-right: 30px;
    }
  }

  &__controls > button {
    display: block;
    background: transparent;
    padding: 0;
  }
}



/* fullscreen */

html:-ms-fullscreen {
  width: 100%;
}

:-webkit-full-screen {
  background-color: transparent;
}

video:-webkit-full-screen+.fullscreen-video__controls {
  background: #ccc;

  /* required for Chrome which doesn't heed the transparent value set above */
}

video:-webkit-full-screen+.fullscreen-video__controls progress {
  margin-top: 0.5rem;
}


/* hide controls on fullscreen with WebKit */

figure[data-fullscreen="true"] {
  display: flex;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
}

figure[data-fullscreen="true"] video {
  height: auto;
}

figure[data-fullscreen="true"] figcaption {
  display: none;
}

figure[data-fullscreen="true"] .fullscreen-video__controls {
  position: absolute;
  bottom: 2%;
  width: 100%;
  z-index: 10;
}

figure[data-fullscreen="true"] .fullscreen-video__controls li {
  width: 5%;
}

figure[data-fullscreen="true"] .fullscreen-video__controls .progress {
  width: 68%;
}

figure[data-fullscreen="false"] .fullscreen-video__close {
  display: none;
}

.hide-volume {
  display: none !important;
}
