<div class="swiper-slide pdp-hero-slide">
  {% include "@atoms/images/image/responsive-image.twig" with {
    image_alt: item.image.alt,
    image_srcset: item.image.srcset,
    image_sizes: '(max-width: 375px) 375px,
        (max-width: 768px) 768px,
        (max-width: 1024px) 1024px,
        1440px',
    image_src: item.image.src,
    height: '670px',
    width: '670px',
    responsive_image_blockname: 'pdp-hero-slide',
    height: '200px',
    width: '200px',
  } %}
</div>
