<li class="checkbox-item">
  <input class="checkbox-item__input" id="{{ key }}" name="checkbox" type="checkbox" aria-selected="false" {% if checkbox_item_checked %}checked="{{ checkbox_item_checked }}" aria-selected="true" {% endif %}>
  <label class="checkbox-item__label" for="{{ key }}" role="checkbox" {% if checkbox_item_checked %} aria-checked="true" {% else %} aria-checked="false" {% endif %} tabindex="0">{{ checkbox_item }}</label>
</li>
