<li class="checkbox-item" role="presentation">
  <input class="checkbox-item__input" id="{{ key }}" name="checkbox" type="checkbox" {% if checkbox_item_checked %}checked="{{ checkbox_item_checked }}" {% endif %}>
  <label class="checkbox-item__label" for="{{ key }}" {% if checkbox_item_checked %} aria-selected="true" {% else %} aria-selected="false" {% endif %} tabindex="0">{{ checkbox_item }}</label>
</li>
