.checkbox-item {
  @include list-reset;

  position: relative;
  padding: 12px 2px;
  margin: 0 -2px;

  &__input {
    display: none;
  }

  &__label {
    display: block;
    cursor: pointer;
    font-family: variable(secondary-font);
    font-size: 1.6rem;
    line-height: 2.24rem;
    color: clr(primary);

    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      border: 1px solid clr(subcolor-4);
      top: 12px;
      right: 2px;
    }
  }

  &__input:checked ~ &__label {
    &::before {
      border-color: clr(secondary);
      background-color: clr(secondary);
    }

    &::after {
      content: '';
      position: absolute;
      height: 7px;
      width: 14px;
      border-left: 2px solid clr(subcolor-2);
      border-bottom: 2px solid clr(subcolor-2);
      top: 16px;
      right: 5px;
      transform: rotate(-45deg);
    }
  }
}
