.pdp-multipack {
  position: relative;
  padding: 1.8rem 2rem 2rem;
  background: $white;

  @include medium {
    padding: 1.7rem 4rem 4rem;
  }

  @include large {
    padding: 3.6rem 4rem 4rem;
  }

  &__header {
    font-family: variable(primary-font);
    font-size: 2rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: clr(secondary);
    text-align: center;
    margin: 0 0 3.5rem;
    padding-top: 4.8rem;
    border-top: 1px solid rgba(196, 196, 196, 0.5);

    @include medium {
      padding-top: 4rem;
      margin-bottom: 4rem;
    }

    @include large {
      font-size: 2.4rem;
      margin-bottom: 5.3rem;
      padding-top: 7.5rem;
    }
  }

  &-items {
    padding: 0 0 4rem 0;
    overflow-x: hidden;
  }

  &__see-all-container {
    padding: 2rem 0;
    text-align: center;
  }

  // overrides for the default styles of swiper - container, progress bar and buttons of the carousel
  &-swiper-container {
    width: 100%;
    height: 550px;
  }

  // increasing specificity to avoid using !important
  .swiper-scrollbar {
    height: 16px;
    transform: scale(.5);

    & .swiper-scrollbar-drag {
      background: clr(secondary);
    }
  }

  .swiper-slide {
    width: 315px;

    &:nth-child(n+5) {
      display: none;
    }

    @include medium {
      &:nth-child(n+5) {
        display: block;
      }

      &:nth-child(n+9) {
        display: none;
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    background-color: clr(text-inverse);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;

    @media (max-width: 768px) {
      width: 6rem;
      height: 6rem;
    }

    @media (max-width: 375px) {
      width: 5.5rem;
      height: 5.5rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }

    &::after {
      color: clr(secondary);
      font-size: 2.5rem;
    }
  }
}

.default-link {
  &--multipack-see-all-button {
    background-color: clr(secondary);
  }
}

#pdp-multipack-swiper-container.expanded .swiper-slide {
  display: block;
}
