{{ attach_library('emulsifymars/pdp-multipack') }}
{% set pdp_multipack_base_class = pdp_multipack_base_class|default('pdp-multipack') %}
{% set scroll_mandatory_base_class = 'scroll-mandatory' %}

<section {{ bem(pdp_multipack_base_class, '', '', [scroll_mandatory_base_class]) }} data-theme="{{ theme_styles }}">
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 5,
    heading: multipack_label,
    heading_blockname: pdp_multipack_base_class,
    heading_base_class: 'header',
  } %}
  <div class="swiper-container pdp-multipack-swiper-container">
    <div class="swiper-wrapper">
      {% for item in multipack_items %}
        <div class="swiper-slide pdp-multipack-item">
          {% include "@molecules/card/product-card/product-card.twig" with {
            card_url: item.card_url,
            card__image__src: item.card__image__src,
            paragraph_size: 'large',
            paragraph_content: item.paragraph_content,
            paragraph_base_class: 'paragraph',
            paragraph_modifiers: ['large'],
            default_link_content: item.default_link_content,
            default_link_base_class: 'default-link',
            default_link_attributes: {'href': '#'},
            link_content: item.link_content,
            link_base_class: 'text_link',
            link_attributes: {'href': '#'},
          } %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-prev">
    {% include "@atoms/images/icons/_icon.twig" with {
    icon_base_class: "icon",
    icon_blockname: "swiper-button-prev",
    icon_name: "carousel_arrow_prev",
    icon_decorative: true,
    } %}
  </div>
  <div class="swiper-button-next">
    {% include "@atoms/images/icons/_icon.twig" with {
    icon_base_class: "icon",
    icon_blockname: "swiper-button-next",
    icon_name: "carousel_arrow_next",
    icon_decorative: true,
    } %}
  </div>
  <div class="swiper-scrollbar"></div>
  <div {{ bem('see-all-container', [], pdp_multipack_base_class) }}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: multipack_see_all_label,
      default_link_attributes: multipack_see_all_attributes,
      default_link_modifiers: ['multipack-see-all-button'],
    } %}
  </div>
</section>
