<div class="recipe-body-content" data-theme="twix">
  <h1>ingredients</h1>
  <ul>
    <li>3/4 cup butter, melted</li>
    <li>2 cups light brown sugar</li>
    <li>3 eggs</li>
    <li>2 teaspoons vanilla</li>
    <li>2 teaspoons baking powder</li>
    <li>1 teaspoon flaked (or coarse) sea salt</li>
    <li>2 1/2 cup all purpose flour</li>
    <li>30 mini Twix bars coarsely chopped</li>
    <li>1 cup semi-sweet chocolate chips</li>
    <li>Optional – more flaked sea salt for sprinkling</li>
  </ul>
</div>
<div class="product-used" data-theme="twix">
  <div class="product-used__title">{{ products_used }}</div>
  <div class="product-used-items">
    {% for item in product_used_items %}
      <div class="product-used-item">
        {% include "@molecules/card/product-card/product-card.twig" %}
      </div>
    {% endfor %}
  </div>
</div>
<div class="recipe-body-content" data-theme="twix">
  <h1>Instructions</h1>
  <ol>
    <li>Preheat oven to 350°. Line a 9×13 baking pan with foil and coat with nonstick spray. Set aside.</li>
    <li>In the bowl of your stand mixer fitted with the paddle attachment combine the butter and brown sugar on low speed. Add in the eggs, vanilla, baking powder and salt and mix until smooth.</li>
    <li>With the mixer still on low add the the flour and mix until just combined.</li>
    <li>Stir in the Twix and chocolate chips until evenly incorporated.</li>
  </ol>
</div>
<div class="more-recipes" data-theme="twix">more-recipes</div>
