//calculated at recipe hero for large screen
$xl-left-margin: 11.583rem;

.product-used {
  padding: 30px 0 0;
  position: relative;

  @include small {
    padding: 40px 0 30px;
    border-top: 1px solid rgba(196, 196, 196, 0.6);
    border-bottom: 1px solid rgba(196, 196, 196, 0.6);
  }

  @include xl {
    position: absolute;
    top: 0;
    right: 4rem;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .swiper-wrapper {
    flex-direction: row;

    @include xl {
      flex-direction: column;
    }
  }

  &__title {
    font: 20px/1.1em variable(primary-font);
    color: clr(primary);

    @include medium {
      font-size: 26px;
      line-height: 1.1;
    }

    @include xl {
      padding-left: 1rem;
    }
  }

  .swiper-container-vertical {
    overflow: inherit;
  }

}

.product-used-item {
  margin-top: 3.4rem;

  @include medium {
    margin-top: 3rem;
  }

  @include xl {
    margin: 3rem 1rem 1rem 1rem;
  }
}

.product-used-items {
  @include xl {
    overflow: visible;
  }
}

.recipe-body-content {
  padding: 0 20px 27px;
  position: relative;

  @include small {
    padding: 0 20px;
  }

  @include medium {
    padding: 0 40px;
  }

  @include xl {
    padding: 0;
    max-width: 1360px;
    margin: auto;
  }

  .recipe-body-content-header {
    margin: 31px 0 13px;
    font: 20px/1.1em variable(primary-font);
    color: clr(primary);
    padding: 0;
    font-weight: 500;

    @include medium {
      margin: 31px 0 24px;
      font-size: 26px;
      line-height: 29px;
      padding: 0;
    }

    @include xl {
      font-size: 28px;
      line-height: 31px;
      max-width: 1125px;
      padding: 0 460px 0 0;
    }
  }

  .recipe-body-ingredients-list {
    list-style-position: inside;
    list-style-type: none;
    font: 18px/29px variable(secondary-font);
    color: clr(primary);
    padding: 0;
    margin: 13px 0 60px;

    @include medium {
      padding: 0;
      line-height: 1.6;
    }

    @include xl {
      font-size: 20px;
      line-height: 1.8;
      max-width: 1125px;
      padding: 0 460px 0 0;
      margin-left: 116px;
    }

    .list-item {
      position: relative;
      text-indent: 16px;

      @include xl {
        text-indent: 20px;
      }

      &::before {
        content: "";
        background-color: clr(secondary);
        height: 7px;
        width: 7px;
        border-radius: 3.5px;
        position: absolute;
        left: 1px;
        top: 10px;

        @include xl {
          height: 6px;
          width: 6px;
          border-radius: 3px;
          top: 14px;
        }
      }
    }
  }

  .ambient-video__control[data-state="play"] {
    left: calc(50% - 30px);
    top: calc(50% - 30px);
  }

}
