.social-menu {
  @include list-reset;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 15px 0 23px;

  &__item {
    flex-basis: 20px;
    margin-bottom: $space-one-fourth;
    margin-right: 3rem;
  }

  &__link {
    text-decoration: none;
    color: clr(subcolor-3);

    & svg {
      display: inline;
      max-height: 22px;
      max-width: 22px;
    }

    & svg path {
      fill: clr(secondary);
    }
  }

  &__text {
    font-weight: bold;
  }
}
