.social-menu {
  @include list-reset;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 15px 0 23px -5px;

  &__item {
    margin-bottom: $space-one-fourth;
    flex-basis: 20px;
    margin-right: 3rem;
  }

  &__link {
    text-decoration: none;
    color: clr(subcolor-3);

    & svg {
      display: inline;
      height: 22px;
      width: 22px;
      fill: clr(secondary);
    }
  }

  &__text {
    font-weight: bold;
  }
}
