.form-integration__contact {
  .ff-form-main {
    position: relative;
    display: block;
    border-radius: 2rem;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
    max-width: 33.5rem !important;
    background-color: #fff;
    margin: 0 auto 4rem;
    padding: 6rem 11.4rem;
    border: 0.2rem solid #fff;

    @include medium {
      max-width: 68.8rem !important;
    }

    @include large {
      max-width: 89.5rem !important;
    }

    select{
      width: 100% !important;
      height: 100%;
      padding: 1.6rem 2rem 1.9rem !important;
      font-family: variable(primary-font);
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: normal;
      color: var(--c-primary);
      border-color: #c4c4c4 !important;
      border-radius: clr(button-border-radius) !important;
      appearance: none;
      background-color: #fff;
      position: relative;
    }
  }

  .group-0 .ff-item-row:first-child .ff-section-header{
    margin-top: 0;
  }

  .group-0 .ff-item-row:nth-child(2) .ff-label-col{
    display: none;
  }

  .group-0 .ff-item-row:nth-child(2) .ff-field-col{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: calc(50% - 12px);
      right: 23px;
      width: 12px;
      height: 12px;
      border-top: 2px solid #e62b1e;
      border-right: 2px solid #e62b1e;
      transform: rotate(135deg);
    }
  }

  .group-0 .ff-item-row:nth-child(2) .ff-field-col:focus{
    &::after{
      transform: rotate(-45deg);
    }
  }

  .group-0 .ff-item-row:nth-child(2) .ff-field-col:nth-child(2){
    margin-top: 4.2rem;
  }

  .group-1 .ff-item-row:first-child{
    display: none;
  }

  .group-1 .ff-item-row:nth-child(2) .ff-label-col{
    display: none;
  }

  .group-1 .ff-item-row:nth-child(3) .ff-label-col{
    display: none;
  }

  .group-1 .ff-item-row:nth-child(4) .ff-label-col{
    display: none;
  }

  .group-2 .ff-item-row:nth-child(6) .ff-label-col{
    display: none;
  }

  .group-2 .ff-item-row:first-child .ff-section-col{
    margin: 2.8rem 0;
  }

  .group-5 .ff-item-row:first-child{
    display: none;
  }

  .group-5 .ff-item-row:nth-child(2) .ff-label-col{
    display: none;
  }

  .group-5 .ff-item-row:nth-child(3){
    margin-bottom: 0;
    .ff-label-col{
      padding-bottom: 0 !important;
      margin-bottom: 0;
      font-family: variable(primary-font) !important;
      font-size: 14px !important;
      line-height: 1.1;
      letter-spacing: normal;
      color: var(--c-primary) !important;
    }
  }

  .ff-footer-group .footnoteDiv{
    display: none;
  }

  .group-6 .ff-item-row:first-child{
    display: none;
  }

  .group-6 .ff-item-row:nth-child(3){
    display: none;
  }

  .group-6 .ff-item-row:nth-child(5){
    display: none;
  }

  .group-6 .ff-item-row:nth-child(2) .ff-general-text-label{
    color: transparent !important;
  }

  .group-0,
  .group-1,
  .group-2,
  .group-5,
  .group-6,
  .group-7,
  .ff-footnote-label {
    margin-left: 1.6rem;
    margin-right: -1.6rem;

    @include medium {
      margin-left: 8.5%;
      margin-right: 0;
    }
  }

  .group-1 .ff-item-row:nth-child(2) input {
    margin-right: 3rem;
  }

  .ff-label-col {
    margin-bottom: 1rem;
  }

  .ff-item-row,
  .group-0 {
    margin-bottom: 1.6rem;
  }

  .ff-col-1,
  .ff-col-2 {
    max-width: 100% !important;
    min-width: 90% !important;
  }

  .ff-section-header {
    color: clr(secondary) !important;
    font-family: variable(primary-font) !important;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    font-size: 2.8rem !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1.12px;

    @include medium {
      font-size: 2.6rem;
    }

    @include large {
      font-size: 2.8rem;
    }
  }

  .ff-fileupload-select {
    color: clr(primary);
    font-size: 1.6rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-fileupload-select:hover {
    color: clr(secondary) !important;
  }

  

  .ff-input-type {
    border-style: none none solid none !important;
    border-color: #c4c4c4 !important;
    border-width: 0.5px !important;
    width: 100% !important;
    color: clr(primary);
    font-family: variable(secondary-font);
    cursor: text;
    font-size: 1.6rem !important;
    padding: 17px 0 !important;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-input-type::-webkit-input-placeholder {
    font-family: variable(secondary-font) !important;
    color: clr(primary) !important;
    font-size: 1.6rem !important;
    opacity: 1;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;

    @include large {
      font-size: 1.8rem !important;
    }
  }
  .ff-input-type::-moz-placeholder {
    font-family: variable(secondary-font) !important;
    color: clr(primary) !important;
    font-size: 1.6rem !important;
    opacity: 1;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;

    @include large {
      font-size: 1.8rem !important;
    }
  }
  .ff-input-type:-ms-input-placeholder {
    font-family: variable(secondary-font) !important;
    color: clr(primary) !important;
    font-size: 1.6rem !important;
    opacity: 1;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;

    @include large {
      font-size: 1.8rem !important;
    }
  }
  .ff-input-type:-moz-placeholder {
    font-family: variable(secondary-font) !important;
    color: clr(primary) !important;
    font-size: 1.6rem !important;
    opacity: 1;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;

    @include large {
      font-size: 1.8rem !important;
    }
  }

  .ff-textarea::-webkit-input-placeholder {
    color: transparent;
  }
  .ff-textarea::-moz-placeholder {
    color: transparent;
  }
  .ff-textarea:-ms-input-placeholder {
    color: transparent;
  }
  .ff-textarea:-moz-placeholder {
    color: transparent;
  }

  .ff-input-type:focus,
  .ff-textarea:focus,
  .ff-select-type:focus {
    outline: none;
  }

  #lblCaseWeb_Reason__c,
  .ff-fileupload-label,
  .ff-required-mark,
  #lblCaseAccountIdFirstName,
  #lblCaseAccountIdLastName,
  #lblCaseAccountIdPersonEmail,
  #lblCaseSubject,
  #sectionLabel1,
  #sectionLabel7 {
    display: none;
  }

  #GENERALTEXT195 {
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  #lblCaseDescription {
    position: absolute;
    color: clr(primary) !important;
    font-size: 1.6rem !important;
    font-family: variable(secondary-font) !important;
    cursor: text;

    @include large {
      font-size: 1.8rem !important;
    }
  }

  #dvFastForms .btnDiv input {
    margin: 0 !important;
    border-radius: variable(button-border-radius);
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    max-width: 20.2rem;
    min-width: 20.2rem;
    padding: 2.4rem 0;
    background-color: var(--c-secondary) !important;
    color: clr(--c-subcolor-3) !important;
    font-size: 1.6rem !important;
    font-family: variable(secondary-font) !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.28px;
  }

  #dvFastForms .ff-group-row {
    max-width: 100%;
    margin: 0 auto
  }

  .btnDiv input {
    color: white;
    background-color: clr(secondary);
    width: 100%;
    height: 5rem;
    border: none;
    font-size: 1.4rem;
    margin-right: 5%;
    font-family: variable(secondary-font);

    @include large {
      font-size: 1.6rem;
    }
  }

  #dvFastForms .btnDiv {
    text-align: center !important;
  }

  .ff-textarea {
    height: 20rem;
    margin: 1.6rem 0 0.9rem;
    width: 100% !important;
    border-color: #c4c4c4 !important;
    border-radius: variable(button-border-radius) !important;
    color: clr(primary) !important;
    font-family: variable(secondary-font) !important;
    padding: 1rem 1.5rem !important;
    font-size: 1.6rem !important;

    @include medium {
      height: 20rem;
    }

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-fileupload-drop-area {
    background-color: white;
    text-align: left;
    width: 100%;
    padding: 1.15rem;
    display: inline-block;
    border-color: #c4c4c4 !important;
    border-radius: variable(button-border-radius) !important;
    font-family: variable(secondary-font) !important;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background:
        linear-gradient(#e62b1e,#e62b1e),
        linear-gradient(#e62b1e,#e62b1e);
      background-position:center;
      background-size: 100% 2px,2px 100%;
      background-repeat:no-repeat;
      width: 18px;
      height: 18px;
      top: calc(50% - 9px);
      right: 12px;
      cursor: pointer;
    }
    .ff-type-file{
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
      cursor: pointer;
    }
  }

  .group-7 {
    max-width: 90%;
    margin-right: 10%;
  }

  .ff-general-text-label {
    font-size: 1.2rem;
    color: clr(primary);
    font-family: variable(secondary-font);

    @include medium {
      font-size: 1.4rem;
    }

    @include large {
      font-size: 1.6rem;
    }
  }

  .ff-footnote-label {
    font-size: 1.2rem;
    color: clr(primary);
    font-family: variable(secondary-font);

    @include large {
      font-size: 1.4rem;
    }
  }

  .footnoteDiv {
    margin-bottom: 1rem;
  }

  .ff-input-type.ff-type-text.ff-input-type-invalid {
    border-style: none none solid none !important;
    border-color: clr(secondary) !important;
    border-width: 0.5px !important;
    border-radius: 0;
  }

  .ff-textarea.ff-input-type-invalid {
    border: 0.5px solid clr(secondary) !important;
    border-radius: variable(button-border-radius) !important;
  }

  .ff-select-type.ff-input-type-invalid {
    border: 0.5px solid clr(secondary) !important;
    border-radius: variable(button-border-radius) !important;
  }

  #reqdvCase\.Description {
    margin-top: 15.5rem !important;

    @include medium {
      margin-top: 21.5rem !important;
    }
  }

  .group-1 .ff-invalid-msg,
  .group-2 .ff-invalid-msg {
    color: clr(secondary);
    font-size: 1rem;
    font-family: variable(secondary-font);
    position: absolute;
    margin-top: 3rem;
  }

  .group-0 .ff-invalid-msg {
    color: clr(secondary);
    font-size: 1rem;
    font-family: variable(secondary-font);
    position: absolute;
    margin-top: 5rem;
  }

  #error {
    font-size: 1rem;
    margin-top: -2rem;
    font-family: variable(secondary-font);
    color: clr(secondary);
  }

  .ff-ui-dialog .ff-ui-dialog-content {
    color: clr(secondary);
    font-family: variable(secondary-font);
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-btn-submit {
    color: white;
    background-color: clr(secondary);
    width: 15rem;
    height: 5rem;
    border: none;
    font-size: 1.4rem;
    font-family: variable(secondary-font);
    border-radius: variable(button-border-radius);

    @include large {
      font-size: 1.6rem;
    }
  }

  .ff-btn-submit:hover {
    background-color: white !important;
    color: clr(secondary) !important;
  }

  @include medium {
    .group-1 .ff-item-row:nth-child(2) {
      display: block;
      float: left;
      width: 47%;
    }

    .group-1 .ff-item-row:nth-child(3) {
      display: block;
      float: right;
      width: 53%;
    }

    .btnDiv input {
      width: 23% !important;
    }

    .group-1 .ff-item-row:nth-child(3) .ff-col-2 input {
      width: 89%;
    }

    #dvFastForms .btnDiv input:hover {
      background-color: white;
      border: 1px solid #c4c4c4;
      color: clr(secondary);
    }
  }
}

.group-5 .ff-item-row:nth-child(3){
  margin-bottom: 0;
  .ff-label-col{
    padding-bottom: 0 !important;
    margin-bottom: 0;
    font-family: variable(primary-font) !important;
    font-size: 14px !important;
    line-height: 1.1;
    letter-spacing: normal;
    color: var(--c-primary) !important;
  }
}

#dvFastForms .ff-footer-group {
  padding: 0 !important;
}
