.form-integration__contact {
  #dvFastForms {

    .ff-form-main {
      position: relative;
      display: block;
      border-radius: 2rem;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      margin: 0 auto 4rem;
      padding: 0 2rem 3rem;
      border: 0.2rem solid #fff;
      max-width: none;
      width: calc(100% - 4rem);

      @include medium {
        padding: 0 6rem 3rem;
        max-width: 89.5rem;
        width: calc(100% - 8rem);
      }

    }

    .group-0 .ff-item-row:nth-child(2) .ff-label-col {
      display: none;
    }

    .group-1 .ff-item-row:first-child {
      display: none;
    }

    .group-1 .ff-item-row:nth-child(2) .ff-label-col {
      display: none;
    }

    .group-1 .ff-item-row:nth-child(3) .ff-label-col {
      display: none;
    }

    .group-1 .ff-item-row:nth-child(4) .ff-label-col {
      display: none;
    }

    .group-2 .ff-item-row:nth-child(6) .ff-label-col {
      display: none;
    }

    .group-5 .ff-item-row:first-child {
      display: none;
    }

    .group-5 .ff-item-row:nth-child(2) .ff-label-col {
      display: none;
    }

    .group-5 .ff-item-row:nth-child(3) {
      margin-bottom: 0;
      .ff-label-col {
        padding-bottom: 0 !important;
        margin-bottom: 0;
        font-family: variable(primary-font) !important;
        font-size: 14px !important;
        line-height: 1.1;
        letter-spacing: normal;
        color: var(--c-primary) !important;
      }
    }

    .ff-footer-group .footnoteDiv {
      display: none;
    }

    .group-6 .ff-item-row:first-child {
      display: none;
    }

    .group-6 .ff-item-row:nth-child(3) {
      display: none;
    }

    .group-6 .ff-item-row:nth-child(5) {
      display: none;
    }

    .group-6 .ff-item-row:nth-child(2) .ff-general-text-label {
      color: transparent !important;
    }

    .group-0,
    .group-1,
    .group-2,
    .group-5,
    .group-6,
    .group-7,
    .ff-footnote-label {
      margin-left: 1.6rem;
      margin-right: -1.6rem;

      @include medium {
        margin-left: 8.5%;
        margin-right: 0;
      }
    }

    .ff-label-col {
      margin-bottom: 1rem;
    }

    .ff-item-row,
    .group-0 {
      margin-bottom: 2rem;
    }

    .ff-col-1,
    .ff-col-2 {
      max-width: 100% !important;
      min-width: 90% !important;
    }

    .ff-section-header {
      color: clr(secondary) !important;
      font-family: variable(primary-font) !important;
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin: 3rem 0 0 0;
      font-size: 2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: 1.12px;

      @include medium {
        font-size: 2.6rem;
        margin: 4rem 0 1rem 0;
      }

      @include large {
        font-size: 2.8rem;
      }
    }

    .ff-fileupload-select {
      color: clr(primary);
      font-size: 1.6rem;

      @include large {
        font-size: 1.8rem;
      }
    }

    .ff-fileupload-select:hover {
      color: clr(secondary) !important;
    }

    .ff-select-type {
      position: relative;
      display: block;
      font-size: 1.6rem;
      font-family: variable(secondary-font);
      color: clr(primary);
      line-height: 2.24rem;
      padding: 0.6em 4.5rem 0.5em 0.8em;
      width: 100%;
      height: 5rem;
      max-width: 100%;
      box-sizing: border-box;
      margin: 0;
      border: 1px solid #c4c4c4;
      border-radius: variable(button-border-radius);
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: linear-gradient(
          45deg,
          transparent 50%,
          clr(secondary) 50%
      ),
      linear-gradient(135deg, clr(secondary) 50%, transparent 50%);
      background-position: calc(100% - 30px) 50%, calc(100% - 22px) 50%, 100% 0;
      background-size: 8px 8px, 8px 8px, 5em 5em;
      background-repeat: no-repeat;

      @include large {
        font-size: 1.8rem;
        line-height: 2.52rem;
      }
    }

    .ff-select-type:focus {
      background-image: linear-gradient(
          45deg,
          clr(secondary) 50%,
          transparent 50%
      ),
      linear-gradient(135deg, transparent 50%, clr(secondary) 50%);
      background-position: calc(100% - 22px) 50%, calc(100% - 30px) 50%, 100% 0;
      background-size: 8px 8px, 8px 8px, 5em 5em;
      background-repeat: no-repeat;
      outline: 0;
    }

    .ff-select-type::-ms-expand {
      display: none;
    }

    .ff-input-type {
      border-style: none none solid none;
      border-color: #c4c4c4;
      border-width: 0.5px;
      width: 100%;
      color: clr(primary);
      font-family: variable(secondary-font);
      cursor: text;
      font-size: 1.6rem;
      padding-left: 0;
      padding-bottom: 1rem;

      @include large {
        font-size: 1.8rem;
      }
    }

    .ff-input-type::-webkit-input-placeholder {
      font-family: variable(secondary-font);
      color: clr(primary);
      font-size: 1.6rem;
      opacity: 1;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;

      @include large {
        font-size: 1.8rem;
      }
    }
    .ff-input-type::-moz-placeholder {
      font-family: variable(secondary-font);
      color: clr(primary);
      font-size: 1.6rem;
      opacity: 1;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;

      @include large {
        font-size: 1.8rem;
      }
    }
    .ff-input-type:-ms-input-placeholder {
      font-family: variable(secondary-font);
      color: clr(primary);
      font-size: 1.6rem;
      opacity: 1;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;

      @include large {
        font-size: 1.8rem;
      }
    }
    .ff-input-type:-moz-placeholder {
      font-family: variable(secondary-font);
      color: clr(primary);
      font-size: 1.6rem;
      opacity: 1;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;

      @include large {
        font-size: 1.8rem;
      }
    }

    .ff-textarea::-webkit-input-placeholder {
      color: transparent;
    }
    .ff-textarea::-moz-placeholder {
      color: transparent;
    }
    .ff-textarea:-ms-input-placeholder {
      color: transparent;
    }
    .ff-textarea:-moz-placeholder {
      color: transparent;
    }

    .ff-input-type:focus,
    .ff-textarea:focus,
    .ff-select-type:focus {
      outline: none;
    }

    #lblCaseWeb_Reason__c,
    .ff-fileupload-label,
    .ff-required-mark,
    #lblCaseAccountIdFirstName,
    #lblCaseAccountIdLastName,
    #lblCaseAccountIdPersonEmail,
    #lblCaseSubject,
    #sectionLabel1,
    #sectionLabel7 {
      display: none;
    }

    #GENERALTEXT195 {
      font-family: variable(secondary-font);
      color: clr(primary);
      font-size: 1.6rem;

      @include large {
        font-size: 1.8rem;
      }
    }

    #lblCaseDescription {
      position: absolute;
      color: clr(primary) !important;
      font-size: 1.6rem !important;
      font-family: variable(secondary-font) !important;
      cursor: text;

      @include large {
        font-size: 1.8rem !important;
      }
    }

    .btnDiv {
      text-align: center !important;
    }

    .btnDiv input {
      color: clr(text-inverse);
      background-color: clr(secondary);
      font-family: variable(primary-font);
      font-size: 1.4rem;
      text-decoration: none;
      line-height: 5rem;
      padding: 0 2.7rem;
      position: relative;
      overflow: hidden;
      display: inline-block;
      border-radius: variable(button-border-radius);
      width: 100%;
      margin: 0;

      &:hover {
        color: clr(secondary);
        background-color: transparent !important;
      }

      @include medium {
        padding: 0 3.7rem;
        font-size: 1.6rem;
        width: auto;
      }

      @include large {
        line-height: 5rem;
        padding: 0 5.7rem;
        font-size: 1.6rem;
      }
    }

    .ff-group-row {
      max-width: 100%;
      margin: 0 auto;
    }

    .ff-textarea {
      height: 14rem;
      margin-top: 1rem;
      width: 100%;
      border-color: #c4c4c4;
      border-radius: variable(button-border-radius);
      color: clr(primary);
      font-family: variable(secondary-font);
      padding: 1rem 1.5rem;
      font-size: 1.6rem;

      @include medium {
        height: 20rem;
      }

      @include large {
        font-size: 1.8rem;
      }
    }

    .ff-fileupload-drop-area {
      background-color: white;
      text-align: left;
      width: 100%;
      padding: 1.15rem;
      margin-top: 2rem;
      display: inline-block;
      border-color: #c4c4c4 !important;
      border-radius: variable(button-border-radius) !important;
      font-family: variable(secondary-font) !important;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        background: linear-gradient(#e62b1e, #e62b1e),
        linear-gradient(#e62b1e, #e62b1e);
        background-position: center;
        background-size: 100% 2px, 2px 100%;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        top: calc(50% - 9px);
        right: 12px;
        cursor: pointer;
      }
      .ff-type-file {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        cursor: pointer;
      }
    }

    .group-7 {
      max-width: 90%;
      margin-right: 10%;
    }

    .ff-general-text-label {
      font-size: 1.2rem;
      color: clr(primary);
      font-family: variable(secondary-font);

      @include medium {
        font-size: 1.4rem;
      }

      @include large {
        font-size: 1.6rem;
      }
    }

    .ff-footnote-label {
      font-size: 1.2rem;
      color: clr(primary);
      font-family: variable(secondary-font);

      @include large {
        font-size: 1.4rem;
      }
    }

    .footnoteDiv {
      margin-bottom: 1rem;
    }

    .ff-input-type.ff-type-text.ff-input-type-invalid {
      border-style: none none solid none !important;
      border-color: clr(secondary) !important;
      border-width: 0.5px !important;
      border-radius: 0;
    }

    .ff-textarea.ff-input-type-invalid {
      border: 0.5px solid clr(secondary) !important;
      border-radius: variable(button-border-radius) !important;
    }

    .ff-select-type.ff-input-type-invalid {
      border: 0.5px solid clr(secondary) !important;
      border-radius: variable(button-border-radius) !important;
    }

    #reqdvCase\.Description {
      margin-top: 15.5rem !important;

      @include medium {
        margin-top: 21.5rem !important;
      }
    }

    .ff-invalid-msg {
      font-size: 1.4rem;
      font-family: variable(secondary-font);
      position: absolute;
      padding: 0;
      margin-top: 4rem;

      @include large {
        margin-top: 4.2rem;
      }
    }

    .group-0 .ff-invalid-msg {
      margin-top: 5rem;
    }

    #error {
      font-size: 1rem;
      margin-top: -2rem;
      font-family: variable(secondary-font);
      color: clr(secondary);
    }

    .ff-ui-dialog .ff-ui-dialog-content {
      color: clr(secondary);
      font-family: variable(secondary-font);
      font-size: 1.6rem;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 4rem;

      @include large {
        font-size: 1.8rem;
      }
    }

    @include medium {
      .group-1 .ff-item-row:nth-child(2) {
        display: block;
        float: left;
        width: calc(50% - 2rem);
      }

      .group-1 .ff-item-row:nth-child(3) {
        display: block;
        float: right;
        width: 50%;
      }
    }
  }

  .group-5 .ff-item-row:nth-child(3) {
    margin-bottom: 0;
    .ff-label-col {
      padding-bottom: 0 !important;
      margin-bottom: 0;
      font-family: variable(primary-font) !important;
      font-size: 14px !important;
      line-height: 1.1;
      letter-spacing: normal;
      color: var(--c-primary) !important;
    }
  }

  .ff-footer-group {
    padding: 0 !important;

  }
}
