.form-integration__contact {
  #dvFastForms {

    .ff-form-main {
      position: relative;
      display: block;
      border-radius: 2rem;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      margin: 5rem auto;
      padding: 2rem 2rem 0;
      border: 0.2rem solid #fff;
      max-width: none;
      width: calc(100% - 4rem);

      @include medium {
        padding: 2rem 6rem 1rem;
        margin: 6rem auto;
        max-width: 89.5rem;
        width: calc(100% - 8rem);
      }

      @include large {
        padding: 2rem 6rem 3rem;
        margin: 8rem auto;
      }
    }

    .ff-group-row {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    .ff-item-row {
      margin: 0 0 3rem;
      padding: 0;

      @include medium {
        margin: 0 0 3rem;
      }
    }

    .ff-label-col {
      margin-bottom: 0.5rem;
      padding: 0 0 0 0;
      float: none;
    }

    .ff-field-col {
      display: block;
    }

    .ff-label,
    .ff-required-mark,
    #GENERALTEXT894 // label of captcha
    {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary);
      font-size: 1.4rem;
      line-height: 1.1;

      @include large {
        font-size: 1.6rem;
        line-height: 1.1;
      }
    }
    
    .ff-captcha > div > div > img
    {
      width: 195px;
      height: 75px;
    }

    .ff-col-1,
    .ff-col-2 {
      max-width: 100% !important;
      min-width: 90% !important;
      width: 100%;
    }

    .ff-section-col {
      width: 100% !important;
    }

    .ff-section-header {
      @include set-font($font-type: 'primary-font');

      color: clr(secondary);
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin: 1rem 0 0 0;
      font-size: 2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: 1.12px;

      @include medium {
        font-size: 2.6rem;
        margin: 2rem 0 0 0;
      }

      @include large {
        font-size: 2.8rem;
        margin: 4rem 0 2rem 0;
      }
    }

    .ff-select-type {
      @include set-font($font-type: 'secondary-font');

      position: relative;
      display: block;
      font-size: 1.6rem;
      color: clr(primary);
      line-height: 2.24rem;
      padding: 0.6em 4.5rem 0.5em 1.5rem;
      width: 100%;
      height: 5rem;
      max-width: 100%;
      box-sizing: border-box;
      margin: 0;
      border: 1px solid #c4c4c4;
      border-radius: variable(button-border-radius);
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image:
        linear-gradient(45deg, transparent 5px, clr(secondary) 6.5px, clr(secondary) 7px, transparent 8px),
        linear-gradient(135deg, transparent 11px, clr(secondary) 12px, clr(secondary) 12.5px, transparent 14px);
      background-position:
        calc(100% - 20px) 50%,
        calc(100% - 20px) 50%;
      background-size:
        18px 9px,
        18px 9px;
      background-repeat: no-repeat;

      @include large {
        font-size: 1.8rem;
        line-height: 2.52rem;
        padding: 0.6em 4.5rem 0.5em 2rem;
      }
    }

    .ff-select-type:focus {
      background-image:
        linear-gradient(135deg, transparent 5px, clr(secondary) 6.5px, clr(secondary) 7px, transparent 8px),
        linear-gradient(45deg, transparent 11px, clr(secondary) 12px, clr(secondary) 12.5px, transparent 14px);
      background-position:
        calc(100% - 20px) 50%,
        calc(100% - 20px) 50%;
      background-size:
        18px 9px,
        18px 9px;
      background-repeat: no-repeat;
      outline: 0;
    }

    .ff-select-type::-ms-expand {
      display: none;
    }

    .ff-input-type {
      @include set-font($font-type: 'secondary-font');

      border-style: solid solid solid solid;
      border-color: #c4c4c4;
      border-width: 1px;
      width: 100%;
      color: clr(primary);
      cursor: text;
      font-size: 1.6rem;
      line-height: 1.2;
      padding: 1rem 1.5rem 1rem 1.5rem;

      @include large {
        font-size: 1.8rem;
        line-height: 1.2;
        padding: 1.3rem 2rem 1.3rem 2rem;
      }
    }

    .ff-input-type::-webkit-input-placeholder {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary);
      font-size: 1.6rem;
      line-height: 1.2;
      opacity: 1;

      @include large {
        font-size: 1.8rem;
      }
    }
    .ff-input-type::-moz-placeholder {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary);
      font-size: 1.6rem;
      line-height: 1.2;
      opacity: 1;

      @include large {
        font-size: 1.8rem;
      }
    }
    .ff-input-type:-ms-input-placeholder {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary);
      font-size: 1.6rem;
      opacity: 1;

      @include large {
        font-size: 1.8rem;
      }
    }
    .ff-input-type:-moz-placeholder {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary);
      font-size: 1.6rem;
      opacity: 1;

      @include large {
        font-size: 1.8rem;
      }
    }

    .ff-textarea {
      @include set-font($font-type: 'secondary-font');

      height: 14rem;
      width: 100%;
      border-color: #c4c4c4;
      border-radius: variable(button-border-radius);
      color: clr(primary);
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      display: block;

      @include medium {
        height: 20rem;
      }

      @include large {
        font-size: 1.8rem;
      }
    }

    .ff-textarea::-webkit-input-placeholder {
      color: transparent;
    }
    .ff-textarea::-moz-placeholder {
      color: transparent;
    }
    .ff-textarea:-ms-input-placeholder {
      color: transparent;
    }
    .ff-textarea:-moz-placeholder {
      color: transparent;
    }

    .ff-input-type:focus,
    .ff-textarea:focus,
    .ff-select-type:focus {
      outline: none;
    }

    .ff-input-type.ff-type-text.ff-input-type-invalid {
      border-style: solid solid solid solid !important;
      border-color: clr(secondary) !important;
      border-width: 1px !important;
      border-radius: 0;
    }

    .ff-textarea.ff-input-type-invalid {
      border: 1px solid clr(secondary) !important;
      border-radius: variable(button-border-radius) !important;
    }

    .ff-select-type.ff-input-type-invalid {
      border: 1px solid clr(secondary) !important;
      border-radius: variable(button-border-radius) !important;
    }

    .ff-invalid-msg {
      @include set-font($font-type: 'secondary-font');

      color: clr(secondary);
      font-size: 1.3rem;
      line-height: 1.1;
      position: relative;
      padding: 0.5rem 0 0 0;
    }

    #error { // .ff-invalid-msg for captha
      @include set-font($font-type: 'secondary-font');

      font-size: 1.3rem;
      line-height: 1.1;
      margin-top: -1.3rem;
      color: clr(secondary);

      font {
        color: clr(secondary);
      }
    }

    .ff-fileupload-drop-area {
      @include set-font($font-type: 'secondary-font');

      background-color: white;
      text-align: left;
      width: 100%;
      margin: 0;
      display: inline-block;
      border-color: #c4c4c4;
      border-radius: variable(button-border-radius);

      .ff-fileupload-select {
        display: block;
        width: 85%;
        color: clr(primary);
        font-size: 1.6rem;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          background: linear-gradient(#e62b1e, #e62b1e),
          linear-gradient(#e62b1e, #e62b1e);
          background-position: center;
          background-size: 100% 2px, 2px 100%;
          background-repeat: no-repeat;
          width: 18px;
          height: 18px;
          top: calc(50% - 9px);
          left: calc(100% + 15px);
          cursor: pointer;

          @include small{
            left: calc(100% + 25px);
          }

          @include medium{
            left: calc(100% - 9px);
          }
        }

        @include medium{
          width: 100%;
        }
        @include large {
          font-size: 1.8rem;
        }

        &:hover {
          color: clr(secondary) !important;
        }
      }

      [name="FileUploadLabel"] + .ff-fileupload-select {
        margin-top: 1.15rem;
      }

      .ff-type-file {
        cursor: pointer;
      }

      [name="FileUploadLabel"] {
        display: flex;
        align-items: center;

        a {
          display: inline-block;
        }

        img {
          height: auto;
          width: auto;
        }
      }
    }

    .g-recaptcha div iframe {
      position: absolute; // fix cut of captcha on mobile
    }

    .ff-general-text-label { // footnotes
      @include set-font($font-type: 'secondary-font');

      font-size: 1.2rem;
      color: clr(primary);

      @include large {
        font-size: 1.4rem;
      }
    }

    .group-6 .ff-item-row:nth-child(n+3),
    .group-7 .ff-item-row
    { // assume that ONLY .ff-general-text-label CAN BE placed there!
      margin-bottom: 1rem;
    }

    .group-7 { // should be as regular .ff-item-row
      margin-bottom: 2rem;
    }

    .ff-footer-group,
    .ff-submit-btn {
      padding: 0;
      margin: 0;
    }

    .footnoteDiv {
      margin: 0 0 3rem 0;

      .ff-footnote-label {
        @include set-font($font-type: 'secondary-font');

        font-size: 1.2rem;
        color: clr(primary);

        @include large {
          font-size: 1.4rem;
        }
      }
    }

    .btnDiv {
      text-align: center;
    }

    .btnDiv input {
      @include set-font($font-type: 'primary-font');

      color: clr(text-inverse);
      font-size: 1.4rem;
      text-decoration: none;
      text-align: center;
      line-height: 5rem;
      padding: 0 1rem;
      min-width: 13.3rem;
      position: relative;
      overflow: hidden;
      display: inline-block;
      border-radius: variable(button-border-radius);
      width: 100%;
      margin: 0;
      border: none;
      transition: all .6s cubic-bezier(.75, 0, .25, 0);
      background: linear-gradient(45deg, clr(subcolor-3) 50%, clr(secondary) 50%) !important;
      background-size: 200% 200% !important;
      background-position: right top !important;

      &:hover {
        color: clr(secondary);
        background-position: left bottom !important;
      }

      @include medium {
        width: auto;
        min-width: 15.7rem;
      }

      @include xl {
        min-width: 20.2rem;
        line-height: 6rem;
        font-size: 1.6rem;
      }
    }

    // Fisrt name and Last Name customization
    @include medium {
      .group-1 .ff-item-row:nth-child(2) {
        display: block;
        float: left;
        width: calc(50% - 2rem);
      }

      .group-1 .ff-item-row:nth-child(3) {
        display: block;
        float: right;
        width: 50%;
      }
    }

    // hide particular blocks
    .group-1 .ff-item-row:nth-child(1), // About you
    .group-5 .ff-item-row:nth-child(1), // Empty row
    .group-5 .ff-item-row:nth-child(2) .ff-label-col, // Upload a photo or file
    .group-6 .ff-item-row:nth-child(1), // Empty row
    .group-7 .ff-item-row:nth-child(1) // Empty row
    {
      display: none;
    }

    /*
     #lblCaseWeb_Reason__c,
    .ff-fileupload-label,
    #lblCaseAccountIdFirstName,
    #lblCaseAccountIdLastName,
    #lblCaseAccountIdPersonEmail,
    #lblCaseSubject,
    #sectionLabel1,
    #sectionLabel5,
    #sectionLabel7 {
      display: none;
    }
    */


  }
}

// confirmation popup
.node--faq_contact[data-theme] {

  .ff-ui-dialog {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    border: 0.2rem solid #fff !important;
    padding: 0;
    margin: 0;

    @include small {
      width: $small - 40px !important;
    }

    @include medium {
      width: $medium - 40px !important;
    }

    .ff-ui-dialog-content {
      @include set-font($font-type: 'primary-font');

      color: clr(secondary) !important;
      display: block;
      text-align: center;
      margin: 3rem 0 3rem 0;
      padding: 0 2rem;
      font-size: 2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: 1.12px;
      overflow: visible;

      @include medium {
        font-size: 2.6rem;
        margin: 6rem 0 6rem 0;
        padding: 0 20%;
      }

      @include large {
        font-size: 2.8rem;
        margin: 6rem 0 6rem 0;
        padding: 0 15%;
      }
    }

    .ff-ui-dialog-buttonpane {
      padding: 0;
      margin: 0;

      .ff-ui-dialog-buttonset {
        float: none;
        text-align: center;

        .ff-btn-submit {
          @include set-font($font-type: 'primary-font');

          color: clr(text-inverse) !important;
          background-color: clr(secondary) !important;
          font-family: variable(primary-font) !important;
          font-size: 1.4rem !important;
          text-decoration: none !important;
          line-height: 5rem !important;
          padding: 0 2.7rem !important;
          position: relative !important;
          overflow: hidden !important;
          display: inline-block !important;
          border-radius: variable(button-border-radius) !important;
          width: auto !important;
          min-width: 20rem;
          margin: 0 0 3rem 0 !important;

          &:hover {
            color: clr(secondary) !important;
            background-color: transparent !important;
          }

          @include medium {
            padding: 0 3.7rem !important;
            margin: 0 0 4rem 0 !important;
          }

          @include large {
            line-height: 6rem !important;
            padding: 0 5.7rem !important;
            font-size: 1.6rem !important;
            margin: 0 0 6rem 0 !important;
          }
        }
      }
    }
  }
}
