.form-integration__contact {
  .ff-form-main {
    position: relative;
    display: block;
    border-radius: 1.1rem;
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.08);
    max-width: 33.5rem !important;
    background-color: white;
    margin: auto;

    @include medium {
      margin: auto;
      max-width: 68.8rem !important;
    }

    @include large {
      max-width: 89.5rem !important;
    }
  }

  .group-0,
  .group-1,
  .group-2,
  .group-5,
  .group-6,
  .group-7,
  .ff-footnote-label {
    margin-left: 1.6rem;
    margin-right: -1.6rem;

    @include medium {
      margin-left: 8.5%;
      margin-right: 0;
    }
  }

  .ff-label-col {
    margin-bottom: 1rem;
  }

  .ff-item-row,
  .group-0 {
    margin-bottom: 1.6rem;
  }

  .ff-col-1,
  .ff-col-2 {
    max-width: 100% !important;
    min-width: 90% !important;
  }

  .ff-section-col {
    width: 90% !important;
  }

  .ff-section-header {
    color: clr(secondary);
    font-family: variable(primary-font);
    font-size: 2rem;
    line-height: 3rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;

    @include medium {
      font-size: 2.6rem;
    }

    @include large {
      font-size: 2.8rem;
    }
  }

  .ff-fileupload-select {
    color: clr(primary);
    font-size: 1.6rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-fileupload-select:hover {
    color: clr(secondary) !important;
  }

  .ff-select-type {
    position: relative;
    display: block;
    font-size: 1.6rem;
    font-family: variable(secondary-font);
    color: clr(primary);
    line-height: 2.24rem;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    height: 5rem;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #c4c4c4;
    border-radius: variable(button-border-radius);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        clr(secondary) 50%
      ),
      linear-gradient(135deg, clr(secondary) 50%, transparent 50%);
    background-position: calc(100% - 40px) 50%, calc(100% - 32px) 50%, 100% 0;
    background-size: 8px 8px, 8px 8px, 5em 5em;
    background-repeat: no-repeat;

    @include large {
      font-size: 1.8rem;
      line-height: 2.52rem;
    }
  }

  .ff-select-type:focus {
    background-image: linear-gradient(
        45deg,
        clr(secondary) 50%,
        transparent 50%
      ),
      linear-gradient(135deg, transparent 50%, clr(secondary) 50%);
    background-position: calc(100% - 32px) 50%, calc(100% - 40px) 50%, 100% 0;
    background-size: 8px 8px, 8px 8px, 5em 5em;
    background-repeat: no-repeat;
    outline: 0;
  }

  .ff-select-type::-ms-expand {
    display: none;
  }

  .ff-input-type {
    border-style: none none solid none;
    border-color: #c4c4c4;
    border-width: 0.5px;
    width: 100%;
    color: clr(primary);
    font-family: variable(secondary-font);
    cursor: text;
    font-size: 1.6rem;
    padding-bottom: 1rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-input-type::-webkit-input-placeholder {
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;
    opacity: 1;

    @include large {
      font-size: 1.8rem;
    }
  }
  .ff-input-type::-moz-placeholder {
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;
    opacity: 1;

    @include large {
      font-size: 1.8rem;
    }
  }
  .ff-input-type:-ms-input-placeholder {
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;
    opacity: 1;

    @include large {
      font-size: 1.8rem;
    }
  }
  .ff-input-type:-moz-placeholder {
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;
    opacity: 1;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-textarea::-webkit-input-placeholder {
    color: transparent;
  }
  .ff-textarea::-moz-placeholder {
    color: transparent;
  }
  .ff-textarea:-ms-input-placeholder {
    color: transparent;
  }
  .ff-textarea:-moz-placeholder {
    color: transparent;
  }

  .ff-input-type:focus,
  .ff-textarea:focus,
  .ff-select-type:focus {
    outline: none;
  }

  #lblCaseWeb_Reason__c,
  .ff-fileupload-label,
  .ff-required-mark,
  #sectionLabel2,
  #lblCaseAccountIdFirstName,
  #lblCaseAccountIdLastName,
  #lblCaseAccountIdPersonEmail,
  #lblCaseSubject,
  #sectionLabel5,
  #sectionLabel7 {
    display: none;
  }

  #GENERALTEXT195 {
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  #lblCaseDescription {
    position: absolute;
    color: clr(primary);
    font-size: 1.6rem;
    font-family: variable(secondary-font);
    cursor: text;

    @include large {
      font-size: 1.8rem;
    }
  }

  #dvFastForms .btnDiv input {
    margin: 0 !important;
    border-radius: variable(button-border-radius);
    text-transform: uppercase;
  }

  .btnDiv input {
    color: white;
    background-color: clr(secondary);
    width: 100%;
    height: 5rem;
    border: none;
    font-size: 1.4rem;
    margin-right: 5%;
    font-family: variable(secondary-font);

    @include large {
      font-size: 1.6rem;
    }
  }

  #dvFastForms .btnDiv {
    text-align: center !important;
  }

  .ff-textarea {
    height: 14rem;
    margin-top: 2rem;
    width: 100%;
    border-color: #c4c4c4;
    border-radius: variable(button-border-radius);
    color: clr(primary);
    font-family: variable(secondary-font);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;

    @include medium {
      height: 20rem;
    }

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-fileupload-drop-area {
    background-color: white;
    text-align: left;
    width: 100%;
    padding: 1.15rem;
    display: inline-block;
    border: 0.5px solid #c4c4c4;
    border-radius: variable(button-border-radius) !important;
    font-family: variable(secondary-font);
  }

  .group-7 {
    max-width: 90%;
    margin-right: 10%;
  }

  .ff-general-text-label {
    font-size: 1.2rem;
    color: clr(primary);
    font-family: variable(secondary-font);

    @include medium {
      font-size: 1.4rem;
    }

    @include large {
      font-size: 1.6rem;
    }
  }

  .ff-footnote-label {
    font-size: 1.2rem;
    color: clr(primary);
    font-family: variable(secondary-font);

    @include large {
      font-size: 1.4rem;
    }
  }

  .footnoteDiv {
    margin-bottom: 1rem;
  }

  .ff-input-type.ff-type-text.ff-input-type-invalid {
    border-style: none none solid none !important;
    border-color: clr(secondary) !important;
    border-width: 0.5px !important;
    border-radius: 0;
  }

  .ff-textarea.ff-input-type-invalid {
    border: 0.5px solid clr(secondary) !important;
    border-radius: variable(button-border-radius) !important;
  }

  .ff-select-type.ff-input-type-invalid {
    border: 0.5px solid clr(secondary) !important;
    border-radius: variable(button-border-radius) !important;
  }

  #reqdvCase\.Description {
    margin-top: 15.5rem !important;

    @include medium {
      margin-top: 21.5rem !important;
    }
  }

  .group-1 .ff-invalid-msg,
  .group-2 .ff-invalid-msg {
    color: clr(secondary);
    font-size: 1rem;
    font-family: variable(secondary-font);
    position: absolute;
    margin-top: 3rem;
  }

  .group-0 .ff-invalid-msg {
    color: clr(secondary);
    font-size: 1rem;
    font-family: variable(secondary-font);
    position: absolute;
    margin-top: 5rem;
  }

  #error {
    font-size: 1rem;
    margin-top: -2rem;
    font-family: variable(secondary-font);
    color: clr(secondary);
  }

  .ff-ui-dialog .ff-ui-dialog-content {
    color: clr(secondary);
    font-family: variable(secondary-font);
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;

    @include large {
      font-size: 1.8rem;
    }
  }

  .ff-btn-submit {
    color: white;
    background-color: clr(secondary);
    width: 15rem;
    height: 5rem;
    border: none;
    font-size: 1.4rem;
    font-family: variable(secondary-font);
    border-radius: variable(button-border-radius);

    @include large {
      font-size: 1.6rem;
    }
  }

  .ff-btn-submit:hover {
    background-color: white;
    border: 1px solid #c4c4c4;
    color: clr(secondary);
  }

  @include medium {
    .group-1 .ff-item-row:nth-child(2) {
      display: block;
      float: left;
      width: 47%;
    }

    .group-1 .ff-item-row:nth-child(3) {
      display: block;
      float: right;
      width: 53%;
    }

    .btnDiv input {
      width: 23% !important;
    }

    .group-1 .ff-item-row:nth-child(3) .ff-col-2 input {
      width: 89%;
    }

    #dvFastForms .btnDiv input:hover {
      background-color: white;
      border: 1px solid #c4c4c4;
      color: clr(secondary);
    }
  }
}
