{{ attach_library('emulsifymars/keep-in-touch-form') }}

<div class="twix keep-in-touch">
<!-- Embed form content -->
<div class="keep-in-touch-page">
  <h2 class="keep-in-touch-page__header">Keep in touch</h2>
  <img class="keep-in-touch-page__separator" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAeCAYAAAAFOQOpAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJKSURBVHgB7Z1LUsMwEAVHlC/AgoOx4Dw414EF94IFF0iViCAjkvgny/o8xa83eIXdNdNRqCIVI5n5epdX9/PpRQ7SMPTA4ftD5Hikxxo6yYhbKmulP183OxR64HCOoz95uEAsPcIwkonLpfI3M9K3NhR64HATh2JPHgd6zJMl9LGl8jdsaLnogcNEHEozsdfySB763FL5mzawXPTAYSEOBT72mh5JQw9ZKn9j4OWiBw6BcSiwsdf2SBb6mqXyNwdcLnrgeKyMQ4GLHcEjSegxS+UfAGi56IHjERmHAhM7isfm0LcslX8IgOWixz+1PTbGoVSPHcljU+gplso/SMXloseQWh6J4lCqxY7mER16yqVSaiwXPaYp7ZE4DqV47IgeDxJBjqVyuN+p/6JZAnrM4xa1lEemOByGHhEneq6luqTESUKPYLKfiBnjuGTXHqtCLxGHkjMSeqwmWySF4lB26xH81r1kHI5cb3/pEYXJ5eE+vVUoDsduPRZP9MKvVAPcK1fXSf/4LJugRxrocU1lj+CTfTb02sNQtg6FHmmhxx8gHkGxT4aOMgwldij0yAM9oDwWYx8NHW0Yytqh0CMv9IDysGePw5jHIHTUYSihQ6FHGegBxWTsV6GjD0NZGgo9ykIPKEZj96G3Mgxlaij0qAM9oBjE/ht6a8NQbodCj7rQA4qr2E2rw1B0KO6aHvWhBxQ+9q7lYTjcs58c/LU0Cj2wuBMPox7m802sEELuGRv1MVVCSFswdEJ2AEMnZAe4717j3+iE3Df2BwiSvl2fG1hGAAAAAElFTkSuQmCC" id="keep-in-touch-page-separator"/>
  <p class="keep-in-touch-page__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <form id="keep-in-touch" class="keep-in-touch-page-form">
    <div class="keep-in-touch-page-form__columns">
      <input type="text" name="first-name" class="keep-in-touch-page-form__input" id="first-name" placeholder="First Name" required />
      <input type="text" name="last-name" class="keep-in-touch-page-form__input" id="last-name" placeholder="Last Name" required />
    </div>
    <input type="email" name="email" class="keep-in-touch-page-form__input" id="form-email" placeholder="Email Address" required />
    <button type="submit" form="keep-in-touch" class="keep-in-touch-page-form__button">
      <span class="keep-in-touch-page-form__button-label">Sign Up</span>
    </button>
  </form>
  <div class="keep-in-touch-page__bg-image"></div>
</div>
<!-- Embed form content ends -->
</div>
