{#
/**
 * Available variables:
 * - sronly_content - the content of the screen reader (text)
 * - sronly_base_class - the base class name
 * - sronly_modifiers - array of modifiers to add to the base classname
 * - sronly_blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - sronly_content - used to replace the content of the SROnly block
 *     Example: to insert the text
 */
#}
{% set sronly_base_class = sronly_base_class|default('sronly') %}

<span {{ bem(sronly_base_class, sronly_modifiers, sronly_blockname) }}>
  {% block sronly_content %}
    {{ sronly_content | mt }}
  {% endblock %}
</span>