$xl-column-width: ((1360px - 330px) / 12);
$xl-gap-width: 30px;

.recipe-header {
  background-color: var(--c-subcolor-2);
  padding: 40px 0 137px;
  margin-bottom: -117px;

  @include medium {
    padding: 62px 0 233px;
    margin-bottom: -210px;
  }

  @include xl {
    padding-top: 60px;
    height: 397px;
    margin-bottom: -187px;
  }

  &__title {
    font: 14px/16px variable(primary-font);
    color: clr(primary);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

    @include medium {
      font-size: 16px;
    }
  }

  &__text {
    font: 40px/40px variable(primary-font);
    color: clr(primary);
    text-align: center;
    margin-top: 26px;

    @include medium {
      font-size: 56px;
      line-height: 64px;
      margin-top: 22px;
    }

    @include xl {
      font-size: 64px;
      line-height: 64px;
      margin-top: 26px;
    }
  }
}

.recipe-media {
  max-width: calc(100vw - 40px);
  margin: auto;
  position: relative;

  @include medium {
    max-width: calc(100vw - 80px);
  }

  @include xl {
    max-width: 1360px;
  }

  &__info {
    position: relative;

    @include xl {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .stretch {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    top: -40px;

    svg {
      path {
        fill: clr(subcolor-3);
        width: 100%;
      }
      rect {
        width: 100%;
        height: 100%;
      }
    }
  }

  .repeat {
    position: absolute;
    z-index: 2;
    height: 1px;
    width: 100%;

    svg {
      width: 100%;
      position: absolute;
      top: -2rem;

      path {
        fill: clr(subcolor-3);
      }

      rect {
        width: inherit;
        height: 2rem;
      }
    }
  }
}

.recipe-details {
  background-color: clr(subcolor-3);
  padding-top: 5px;

  @include medium {
    display: inline-flex;
    padding: 25px 0 0;
  }

  @include xl {
    padding: 30px 30px 0 calc(#{$xl-column-width + $xl-gap-width});
  }
}

.recipe-details-item {
  display: flex;
  padding: 22px 0 16px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.6);

  @include medium {
    padding: 25px 30px;
    border-bottom: none;
    border-right: 1px solid rgba(196, 196, 196, 0.6);
  }

  &__icon-container {
    width: 40px;
    display: flex;
    align-items: center;

    @include medium {
      width: 50px;
    }

    @include xl {
      width: 55px;
    }
  }

  &__icon {
    fill: clr(primary);
    &--clock {
      height: 23px;
      width: 20px;

      @include medium {
        height: 39px;
        width: 34px;
      }
    }

    &--ingredients {
      height: 23px;
      width: 23px;

      @include medium {
        height: 38px;
        width: 39px;
      }
    }

    &--makes {
      height: 17px;
      width: 27px;

      @include medium {
        height: 28px;
        width: 45px;
      }
    }
  }

  &__info {
    width: 100%;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include medium {
      width: auto;
      display: block;
      margin-left: 18px;
    }

    @include xl {
      margin-left: 0;
    }
  }

  &__label {
    font: 18px/25px variable(primary-font);
    color: clr(primary);
    letter-spacing: 0.8px;

    @include xl {
      width: auto;
      display: block;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__value {
    font: 18px/25px variable(primary-font);
    color: clr(secondary);
    letter-spacing: 0.8px;

    @include xl {
      margin-top: 12px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &:first-child {
    @include xl {
      padding-left: 0;
    }
  }

  &:last-child {
    border-right: none;
    border-bottom: none;
  }
}

.recipe-header,
.more-recipes {
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  max-width: 100%;
}

.recipe-info {
  padding: 24px 20px 0;

  @include medium {
    padding: 42px 40px 0;
  }

  @include xl {
    padding: 60px 0 0;
    max-width: 1360px;
    margin: auto;
  }

  &__text,
  &__social {
    width: #{$xl-column-width*6 + $xl-gap-width*5};
  }

  &__text {
    font: 18px/1.65em variable(secondary-font);
    color: clr(primary);
    letter-spacing: -1.1px;

    @include xl {
      font-size: 20px;
      line-height: 1.8em;
      margin-right: 30px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 34px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.6);

    @include medium {
      margin-top: 24px;
      margin-bottom: 41px;
      padding-bottom: 52px;
    }

    @include xl {
      margin-top: 52px;
      margin-bottom: 28px;
    }

    .social-menu {
      margin: 0;
    }
  }

  &__social-text {
    font: 16px/1.1em variable(primary-font);
    color: clr(primary);
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-right: 30px;

    @include medium {
      font-size: 18px;
      line-height: 1.1em;
    }

    @include xl {
      font-size: 20px;
      line-height: 1em;
    }
  }

  .social-menu__icon {
    fill: clr(secondary);
  }
}
