{% embed "@molecules/search/search-results/search-results.twig" with {
  search_results: items
} %}
  {% block results_items %}
        {% for item in search_results %}
          <div class="results__item">
            {{ item.value }}
          </div>
        {% endfor %}
  {% endblock %}
{% endembed %}
