{% set search_results_item_base_class = search_results_item_base_class|default('search-results-item') %}

<a {{ bem(search_results_item_base_class) }} data-theme="twix">
  {{ value }} ({{ count }})
</a>
