.contact-module {
  background-color: clr(subcolor-2);
  border-top: 5px solid clr(secondary);
  margin-top: 4rem;
  position: relative;
  overflow: hidden;

  @include xs {
    padding: 5rem 2rem 4rem 2rem;
  }

  @include medium {
    padding: 6rem 4rem;
  }

  @include large {
    padding: 6rem 15.5rem;
  }

  &__brand-shape {
    position: absolute;
    z-index: 1;

    @include xs {
      top: 0;
      right: -50%;
      width: 100%;
      height: 100%;
    }

    @include medium {
      top: -5%;
      right: -65%;
      width: 130%;
      height: 130%;
    }

    @include large {
      top: -10%;
      right: -65%;
      width: 150%;
      height: 150%;
    }

    svg {
      fill: rgba(clr(subcolor-1-rgb), 0.2);
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    @include large {
      max-width: 1130px;
      margin: auto;
    }
  }

  &__heading {
    font-family: variable(primary-font);
    color: clr(primary);
    text-transform: uppercase;

    @include xs {
      font-size: 2.8rem;
      line-height: 2.8rem;
      margin-bottom: 3rem;
    }

    @include medium {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include large {
      font-size: 4.8rem;
      line-height: 4.8rem;
      max-width: 782px;
    }
  }

  &__paragraph {
    font-family: variable(secondary-font);
    color: clr(primary);

    @include xs {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-bottom: 4rem;
    }

    @include large {
      font-size: 1.8rem;
      line-height: 2.52rem;
      margin-bottom: 6rem;
      max-width: 782px;
    }
  }

  &__contact-information {
    @include xs {
      margin-bottom: 4rem;
    }

    @include medium {
      margin-bottom: 6rem;
    }
  }

  &__contact-social {
    display: flex;

    .social-menu {
      .social-menu__item {
        margin-right: 2rem;
      }
    }

    @include xs {
      flex-direction: column;
    }

    @include medium {
      flex-direction: row;
    }
  }

  &__social-heading {
    font-family: variable(primary-font);
    color: clr(primary);
    text-transform: uppercase;
    margin-right: 4rem;

    @include xs {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }

    @include medium {
      font-size: 1.8rem;
      line-height: 1.98rem;
    }

    @include large {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  }

  & .default-link {
    background-color: clr(secondary);

    @include xs {
      margin-right: 1rem;
      line-height: 5rem;
      font-size: 1.4rem;
      padding: 0 1.5rem;
    }

    @include medium {
      font-size: 1.6rem;
      margin-right: 3.2rem;
      line-height: 6rem;
    }

    &__label {
      font-family: variable(primary-font);
    }
  }
}
