.filter-block {
  padding-bottom: 10px;
  border-bottom: 1px solid clr(subcolor-4);
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  &__list {
    padding-left: 0;

    @include desktop {
      margin-top: 0;
      padding-top: 1rem;
      padding-left: 1.2rem;
      max-height: 20rem;
      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1) inset;
      scrollbar-color: clr(primary);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: .4rem;
      }

      &::-webkit-scrollbar-track {
        background: clr(highlight-high);
      }

      &::-webkit-scrollbar-thumb {
        background: clr(primary);
        border-radius: variable(button-border-radius);
      }
    }
  }

  @include desktop {
    flex-basis: 230px;
    max-width: 230px;
    flex-grow: 0;
    border: none;
    padding-bottom: 0;

    &:first-child {
      .filter-title {
        padding-left: 0;
      }
    }

    &:last-child,
    &:nth-child(4n) {
      .filter-title {
        border-right: none;
      }
    }

    .filter-title {
      width: 100%;
      padding: 5px 45px 15px 15px;
      border-bottom: 1px solid clr(subcolor-4);
      border-right: 1px solid clr(subcolor-4);
      color: clr(secondary);
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        top: 7px;
        right: 20px;
        border-right: 1px solid clr(product_filter_arrow_color);
        border-bottom: 1px solid clr(product_filter_arrow_color);
        transform: rotate(45deg);
      }
    }

    &--open {
      .filter-title {
        &::before {
          top: 12px;
          transform: rotate(225deg);
        }
      }

      .filter-block__checkboxes {
        display: block;
      }
    }
  }

  &__checkboxes {
    @include desktop {
      position: absolute;
      z-index: 1;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: clr(subcolor-3);
      border-radius: 10px;
      display: none;
      width: 230px;
      margin-top: -2.2rem;
      overflow: hidden;

      .checkbox-item {
        padding-right: 4rem;
        margin-right: 1rem;
      }

      .search-filter-block__button--apply {
        margin: 10px auto;
        width: 208px;
        text-align: center;
      }
    }
  }
}

.filter-title {
  @include set-font($font-type: 'primary-font');

  margin: 30px 0 10px;
  padding: 0;
  min-height: 4rem;
  font-size: 1.6rem;
  line-height: 1;
  color: clr(primary);
  background: transparent;
  border: none;
  text-align: left;

  @include desktop {
    margin: 0 0 3rem;
  }

  &__counter {
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }

    &:empty {
      display: none;
    }
  }
}
