<div class="filter-block">
  <div class="filter-title">
    {{ filter_title }} <span class="filter-title__counter"></span>
  </div>
  <div class="filter-checkboxes">
    {% include "@atoms/forms/checkbox/checkbox.twig" with {
      checkboxes: checkboxes,
    } %}
  </div>
</div>
