.faq-filters {
  &__search {
    margin: 0 20px;
    max-width: none;
    display: flex;

    @include medium {
      margin: 0 40px;
      max-width: none;
    }

    @include xl {
      margin: auto;
      max-width: 896px;
    }

    .search-input {
      border: 1px solid clr(subcolor-4);
      border-radius: variable(button-border-radius);
      flex-grow: 1;

      &__field {
        width: calc(100% - 20px);
        margin-right: 20px;
        padding: 0 0 0 50px;
      }
    }
  }

  &__search-results {
    margin: 20px 40px 0 0;
    font-size: 1.6rem;
    color: clr(primary);
    display: none;

    &.active {
      display: block;
    }

    @include medium {
      margin: 20px 40px 0 40px;
    }

    @include xl {
      margin: 20px 40px 0 0;
    }
  }

  &__filters {
    position: relative;
    font-size: 0;
    margin: 40px 20px 49px;
    max-width: none;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 30px;

    &.active {
      display: flex;
    }

    @include medium {
      margin: 40px 40px 59px;
      max-width: none;
    }

    @include xl {
      margin: 40px auto 79px;
      max-width: 896px;
      padding-bottom: 40px;
    }

    a {
      display: inline-block;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      background-color: clr(subcolor-3);
      border: 1px solid clr(secondary);
      padding: 12px;
      border-radius: variable(button-border-radius);
      font-family: variable(primary-font);
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: clr(secondary);
      margin: 0 12px 12px 0;
      text-decoration: none;
      transition: color 1.2s cubic-bezier(.75, 0, .25, 1);
      transition: background-color 1.2s cubic-bezier(.75, 0, .25, 1);

      @include medium {
        padding: 17px 45px;
      }

      @include xl {
        padding: 20px 40px;
      }

      &.active {
        background-color: clr(secondary);
        color: clr(subcolor-3);
      }

      span {
        position: relative;
        z-index: 1;
        transition: color 1.2s cubic-bezier(.75, 0, .25, 1);
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -100px;
        left: -120px;
        width: 1000px;
        transform: rotate(18deg);
        height: 0;
        background-color: clr(secondary);
        transition: height 1.2s cubic-bezier(.75, 0, .25, 1);
        @include xs {
          width: 1000px;
        }
        @include medium {
          width: 750px;
        }
      }
      &:hover {
        background-color: clr(secondary);
        color: clr(subcolor-3);
        transition: background-color 1.2s cubic-bezier(.75, 0, .25, 1);

        &::after {
          height: 300px;
        }
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: clr(subcolor-4);
      position: absolute;
      bottom: 0;
    }
  }

  .search-input-wrapper {
    &.suggested {
      .search-input {
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        border-bottom: none;
      }
      .mars-search-autocomplete-suggestions-wrapper {
        margin: -25px 20px 0;
        padding-top: 25px;
        border: 1px solid clr(subcolor-4);
        border-top: none;
        width: calc(335px + 22px);

        @include medium {
          margin-left: 40px;
          margin-right: 40px;
          width: calc(688px + 22px);
        }

        @include xl {
          margin-left: 0;
          margin-right: 0;
          width: calc(896px + 22px);
        }
      }
    }
  }
}

.faq-heading {
  font-family: variable(primary-font);
  font-weight: normal;
  color: clr(primary);
  text-align: center;

  @include small {
    font-size: 20px;
  }

  @include medium {
    font-size: 26px;
  }

  @include xl {
    font-size: 28px;
  }
}
