.homepage-hero-standard {
  overflow: hidden;
  background-color: clr(secondary);

  &__inner {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    @include medium {
      flex-flow: row nowrap;
      min-height: 51rem;
    }

    @include large {
      max-height: none;
    }

    @include xl {
      max-height: none;
    }
  }

  &__bubble {
    position: absolute;
    height: auto;

    svg {
      width: 100%;
      height: auto;
      fill: clr(subcolor-3);
      opacity: 0.15;
    }

    &--1 {
      width: 30rem;
      top: 49rem;
      left: 43%;

      @include medium {
        width: 37rem;
        top: -8.3rem;
        left: 78%;
      }

      @media (max-width: 767px) {
        animation: movedown 2s;
      }

      @media (min-width: 768px) {
        animation: moveup 2s;
      }
    }

    &--2 {
      width: 8.5rem;
      top: 8.7rem;
      right: 25px;

      @include medium {
        width: 11.5rem;
        top: 11rem;
        right: 66.5%;
      }

      @media (max-width: 767px) {
        animation: moveright 2s;
      }

      @media (min-width: 768px) {
        animation: moveleft 2s;
      }
    }

    &--3 {
      display: none;
      width: 21.4rem;
      top: 48.5rem;
      right: -26%;

      @include medium {
        display: block;
        top: 58.3rem;
        right: 50.5%;
      }
    }
  }

  @keyframes moveleft {
    0% {
      top: 8.7rem;
      right: 25px;
    }
    100% {
      top: 11rem;
      right: 66.5%;
    }
  }

  @keyframes moveright {
    0% {
      top: 11rem;
      right: 66.5%;
    }
    100% {
      top: 8.7rem;
      right: 25px;
    }
  }

  @keyframes movedown {
    0% {
      top: -8.3rem;
      left: 78%;
    }

    100% {
      top: 49rem;
      left: 43%;
    }
  }

  @keyframes moveup {
    0% {
      top: 49rem;
      left: 43%;
    }

    100% {
      top: -8.3rem;
      left: 78%;
    }
  }

  &__left {
    flex-grow: 1;
    order: 2;

    @include medium {
      order: 1;
    }

    & .wrapper {
      position: relative;
      height: 100%;
      margin-top: 52px;
      min-height: 325px;

      @include medium {
        min-height: 600px;
      }

      @include large {
        min-height: 580px;
      }

      & .eyebrow {
        @include set-font($font-type: 'primary-font');

        color: clr(subcolor-3);
        text-decoration: none;
        margin-bottom: 4rem;

        @include xs {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }

        @include medium {
          font-size: 1.6rem;
          line-height: 1.6rem;
        }
      }

      & .heading {
        margin: 0 0 1rem 0;
        height: auto;

        @include medium {
          height: auto;
        }

        &__link {
          @include set-font($font-type: 'heading-font');

          color: clr(subcolor-3);
          text-decoration: none;
          font-weight: 300;
          word-wrap: break-spaces;

          @include xs {
            font-size: 4.8rem;
            line-height: 5.75rem;
            letter-spacing: -2.5px;
          }

          @include medium {
            font-size: 8.4rem;
            line-height: 9.7rem;
          }
          span {
            display: block;
          }
        }
      }

      & .default-link {
        margin: 3rem 0 3.5rem;
        padding-top: 2px;

        @include larger {
          margin: 5rem 0 5.5rem;
        }
      }
    }
  }

  &__right {
    flex-grow: 1;
    order: 1;

    @include medium {
      order: 2;
    }
  }

  &__container--image {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @include medium {
      width: 100%;
      height: 100%;
      margin-top: 0;
    }

    @include large {
      position: absolute;
      left: 0;
      top: 0;
    }

    & img {
      align-self: flex-end;
      object-fit: contain;
      max-height: 210px;
      max-width: 210px;

      @include medium {
        align-self: center;
        max-height: 310px;
        max-width: 310px;
      }

      @include large {
        margin-left: auto;
        margin-right: 8.6rem;
        height: 658px;
        width: 549px;
        max-height: 658px;
        max-width: 550px;
        transform: translateY(26.5%);
      }
    }
  }

  &__container--hero-text {
    padding: 30px 20px 0 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation: hero-standard-text-animates-in 1.7s
      cubic-bezier(0.75, 0, 0.25, 0);

    @include medium {
      bottom: 52px;
    }

    @include large {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@keyframes hero-standard-text-animates-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
