.search-results-container {
  position: relative;
  width: 100%;

  @include xs {
    width: 335px;
  }

  @include medium {
    width: 688px;
  }

  @include xl {
    width: 896px;
  }

  .results {
    &__container {
      display: flex;
      flex-direction: column;

      &__item {
        position: relative;
        z-index: 2;
      }

      @include medium {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &__text {
      font-family: variable(secondary-font);
      color: clr(subcolor-3);
      font-size: 14px;
      line-height: 19.6px;
      text-align: left;
      margin: 20px 0 0;
      position: relative;
      z-index: 2;

      @include medium {
        margin-top: 4rem;
        font-size: 12px;
        line-height: 13.2px;
      }

      @include xl {
        font-size: 14px;
        line-height: 15.4px;
      }
    }
  }

  &--active {
    .search-results-item {
      opacity: 1;
    }

    .results__container--filter-selected {
      .search-results-item {
        opacity: .5;

        &--active {
          opacity: 1;
        }
      }
    }
  }
}
