{% set search_container_base_class = 'search-results-container' %}
{% set search_results_base_class = 'results' %}
{% if search_results %}
  {% set results_exist_modifier = 'active' %}
{% endif %}

<div {{ bem(search_container_base_class, [results_exist_modifier], '') }}>
  {% if search_results %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: 'Results'|mt ~ ':',
      paragraph_base_class: 'results__text'
    } %}
    <div {{ bem('container', [filters_selected_modifier], search_results_base_class)}}>
      {% block results_items %}
        {% for item in search_results %}
          <div {{ bem('item', [], search_results_base_class) }}>
            {% include "@atoms/search-results-item/search-results-item.twig" with {
              item_title: item.title,
              item_count: item.count,
              search_results_item_modifier: item.search_results_item_modifier,
            } %}
          </div>
        {% endfor %}
      {% endblock %}
    </div>
  {% endif %}
</div>
