{% if search_results %}
  {% set results_exist_class = ' search-results-container--active' %}
{% endif %}
<div class="search-results-container{{ results_exist_class }}">
  {% if search_results %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: 'Results'|t ~ ':',
      paragraph_base_class: 'results-text'
    } %}
    <div class="results">
      {% block results_items %}
        {% for item in search_results %}
          <div class="results__item">
            {% include "@atoms/search-results-item/search-results-item.twig" with {
              item_title: item.title,
              item_count: item.count,
              search_results_item_modifier: item.search_results_item_modifier,
            } %}
          </div>
        {% endfor %}
      {% endblock %}
    </div>
  {% endif %}
</div>
