.signup-email-form-wrp {
  background-color: clr(newsletter-bg-color);
  font-family: var(--v-primary-font);
  .clear-icon {
    display: none;
  }
  .signup-form-email {
    @include medium {
      display: flex;
      justify-content: center;
    }
    .error {
      font-family: var(--v-secondary-font);
      font-size: 1.3rem;
      color: clr(primary, newsletter-override-white-color);
      line-height: 1.1;
      float: left;
      position: relative;
      padding: 0.5rem 0 0 1rem;
    }
    
    .newsletter-webform-block-label {
      padding-top: 20px;
      font-size: 14px;
      text-align: center;
      color: clr(primary, newsletter-override-white-color);
      @include medium {
          padding-top: 22px;
          font-size: 20px;
      }
    }
    .webform-submission-mars-newsletter-email-form-form {
      .email-submit {
        width: 90%;
        display: flex;
        position: relative;
        justify-content: center;
        margin: 0 auto;
        .js-form-item {
          margin-top: 10px;
          .newsletter-email-value {
            font-size: 14px;
            border-radius: var(--v-button-border-radius);
            width: 100%;
            color: clr(primary);
            &:focus-visible {
                outline: none;
            }
          }
          @include medium {
              margin-bottom: 20px;
              margin-top: 20px;
              width: 35rem;
          }
        }
        .newsletter-signup-email-submit {
          position: absolute;
          padding-top: 5px;
          margin-top: 10px;
          right: 0;
          @include medium {
              margin-top: 20px;
              margin-bottom: 20px;
          }
          .webform-button--submit {
            background-image: url(../images/right-arrow.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
            color: transparent;
            padding: 5px 0;
            background-color: transparent;
            &:hover {
              background-color: transparent;
            }
            &:focus-visible {
              outline: none;
            }
          }
        }
      }
      .success-message {
        text-align: center;
        font-size: 14px;
        color: clr(message);
        display: block;
        @include medium {
            font-size: 20px;
            padding-left: 17px;
        }
    }
      .privacy-newsletter-email-form {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        .privacy-newsletter-email {
          width: 20px;
          height: 20px;
        }
        .form-item__description {
          margin-top: auto;
          padding-left: 10px;
          color: clr(primary, newsletter-override-white-color);
          font-size: 14px;
        }
      }
    }
  }
}