{% if newsletter_toggle == 1 %}
    <div class="signup-email-form-wrp">
        <div class="signup-form-email">
            <div class="newsletter-webform-block-label">{{ webform_block_label }}</div>
            <form class="webform-submission-mars-newsletter-email-form-form">
                <div class="email-submit">
                    {{ webform_newsletter.form.elements.email }}
                    {{ webform_newsletter.form.elements.actions }}
                  <div id ="grecaptcha" class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="captchaCallBack" data-size="invisible"></div>
                </div>
            </form>
        </div>
    </div>
{% endif %}
