{% if newsletter_toggle == 1 %}
    <div class="signup-email-form-wrp">
        <div class="signup-form-email">
        <div class="signup-form-hideshow-email">
            <div class="newsletter-webform-block-label">{{ webform_block_label }}</div>
            <form class="webform-submission-mars-newsletter-email-form-form" id="email-form">
                <div id="alertbanner-newsletter" class="email-submit">
                    {{ webform_newsletter.form.elements.email }}
                    <div id ="recaptcha" class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="captchaCallBack" data-size="invisible"></div>
                    <input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-actions-submit-2" type="submit" id="edit-actions-submit-alertbanner" name="op" value="Submit">
            </form>
            </div>
            </div>
        </div>
    </div>
{% endif %}
