.carousel {
  background-color: clr(subcolor-3);
  padding: 2rem 0 4rem 0;
  overflow-x: hidden;
  max-width: 1128px;
  margin: 0 auto;

  &__heading {
    &--main-heading {
      text-align: center;
      color: clr(subcolor-1);
      text-transform: uppercase;
      font-size: 2.8rem;
      line-height: 1.1rem;
      font-weight: 500;
      font-family: variable(heading-font);
    }
  }

  &__divider {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    height: 1px;

    svg {
      width: 1128px;

      path {
        fill: clr(background-carousel);
      }
      rect {
        width: 100%;
        height: 20rem;
      }
    }
  }

  &__content {
    background-color: clr(background-carousel);
    color: clr(subcolor-1);
    font-family: variable(secondary-font);
    font-size: 1.6rem;
    line-height: 1.3rem;
    padding: 2rem 3rem;

    @include medium {
      padding: 2rem 4rem;
    }

    @include xl {
      padding: 2rem 11.6rem;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18rem;
    background: clr(subcolor-3);
    height: 25rem;

    @include medium {
      height: 43.4rem;
    }

    @include xl {
      height: 63.5rem;
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  // overrides for the default styles of swiper - container, progress bar and buttons of the carousel
  .carousel-container {
    width: 100%;
    height: auto;
  }

  // increasing specificity to avoid using !important
  .carousel-container.swiper-container-horizontal>.swiper-scrollbar {
    height: 1rem;
    transform: scale(.6);

    & .swiper-scrollbar-drag {
      background: clr(primary);
    }
  }

  #swiper-button {
    background-color: clr(text-inverse);
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    width: 7rem;
    height: 7rem;
    top: 90%;

    @media (max-width: 768px) {
      width: 6rem;
      height: 6rem;
    }

    @media (max-width: 375px) {
      width: 5.5rem;
      height: 5.5rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }

    &::after {
      color: clr(primary);
      font-size: 2.5rem;
    }
  }
}

