.carousel,
.carousel--fullwidth {
  padding: 2rem 0 4rem 0;
  overflow-x: hidden;
  max-width: 1128px;
  margin: 0 auto;

  &__heading {
    &--main-heading {
      @include set-font($font-type: 'heading-font');

      text-align: left;
      color: clr(primary);
      font-size: 2.8rem;
      line-height: 1.1;
      font-weight: 500;
      margin-left: 8%;
    }

    @include small {
      font-size: 2rem;
    }

    @include medium {
      font-size: 2.6rem;
    }
  }

  &__divider {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    bottom: (-$brand-border-offset);

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: clr(subcolor-2);
    }
  }

  .overlay-video {
    &__control {
      width: 75px;
      height: 75px;
      left: 50%;
      bottom: 50%;
      padding: 0;
      transform: translateX(-50%) translateY(50%);

      @include medium {
        width: 85px;
        height: 85px;
      }
    }

    center {
      width: 100%;
      height: 100%;

      .video-js {
        width: 100%;
        height: 100%;

        .vjs-tech {
          object-fit: cover;
        }

        .vjs-contextmenu-ui-menu {
          display: none;
        }
      }
    }
  }

  .carousel__content .swiper-slide {
    height: auto;
    padding-top: 1px;
    background-color: clr(subcolor-2);

    @include xs {
      height: auto;
    }

    @include small {
      height: auto;
    }

    @include medium {
      height: auto;
    }

    @include large {
      height: auto;
    }

    @include xl {
      height: auto;
    }
  }

  &__content {
    @include set-font($font-type: 'secondary-font');

    background-color: clr(subcolor-2);
    color: clr(primary);
    font-size: 1.2rem;
    line-height: 1.3em;
    padding: 6rem 3rem 0.5rem 3rem;

    @include xs {
      font-size: 1.2rem;
      padding: 3rem 4rem 1rem;
    }

    @include small {
      font-size: 1.2rem;
      padding: 3rem 4rem 1rem;
    }

    @include medium {
      font-size: 1.4rem;
      padding: 3rem 4rem 1rem;
    }

    @include large {
      font-size: 1.6rem;
      padding: 2rem 5.6rem 1rem 10.6rem;
    }

    @include xl {
      font-size: 1.6rem;
      padding: 2rem 11.6rem 1rem 11.6rem;
    }
  }

  .swiper-slide {
    background: clr(subcolor-2);
    height: 25rem;

    @include xs {
      height: 24rem;
    }

    @include small {
      height: 24rem;
      height: 43.3rem;
    }

    @include small {
      height: 43.3rem;
    }

    @include medium {
      height: 53.3rem;
    }

    @include large {
      height: 60.3rem;
    }

    @include xl {
      height: 66.6rem;
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      height: 25rem;
      object-fit: cover;

      @include xs {
        height: 22.5rem;
      }

      @include small {
        height: 22.5rem;
        height: 43.3rem;
      }

      @include small {
        height: 43.3rem;
      }

      @include medium {
        height: 53.3rem;
      }

      @include large {
        height: 60.3rem;
      }

      @include xl {
        height: 66.6rem;
      }
    }

    #fullscreen-play[data-state="play"] {
      top: calc(50% - 7rem / 2);
      ;
      left: calc(50% - 6.6rem / 2);
      ;
      width: 6.6rem;
      height: 7rem;
      background-color: clr(subcolor-3);

      @include clearfix;

      @include playbutton;

      .play-icon {
        width: 10px;
        height: 12px;
        fill: clr(secondary);
        margin: auto 30%;
      }
    }

    .fullscreen-video__main {
      width: 100%;
    }
  }

  // overrides for the default styles of swiper - container, progress bar and buttons of the carousel
  .carousel-container {
    width: 100%;
    height: auto;
    overflow: visible;

    // increasing specificity to avoid using !important
    &.swiper-container-horizontal>.swiper-scrollbar {
      position: absolute;
      bottom: -4rem;
      height: 1rem;
      transform: scale(0.45);

      @include xs {
        bottom: -1.5rem;
        height: 1.5rem;
        transform: scale(0.33);
      }

      @include small {
        bottom: -1.5rem;
        height: 1.5rem;
        transform: scale(0.33);
      }

      @include medium {
        bottom: -1rem;
        height: 1.8rem;
        transform: scale(0.35);
      }

      @include large {
        bottom: 0.5rem;
        height: 2rem;
        transform: scale(0.38);
      }

      @include xl {
        bottom: 1rem;
        height: 2.5rem;
        transform: scale(0.4);
      }

      & .swiper-scrollbar-drag {
        background: clr(secondary);
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: clr(subcolor-3);
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    width: 5.5rem;
    height: 5.5rem;
    top: 85%;

    @include small {
      width: 5rem;
      height: 5rem;
    }

    @include medium {
      width: 6rem;
      height: 6rem;
      top: 88%;
    }

    @include large {
      width: 6rem;
      height: 6rem;
      top: 88%;
    }

    @include xl {
      width: 7rem;
      height: 7rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }

    &::after {
      display: none; // hide original icon
    }

    &__icon {
      width: 100%;
      height: 100%;
      fill: clr(secondary);
    }
  }

  .swiper-button-prev {
    z-index: 2;
    left: 20px;
    top: 97.5%;

    @include medium {
      top: 88%;
      left: 30px;
    }

    @include large {
      top: 90%;
      left: 35px;
    }

    @include xl {
      top: 90%;
      left: 40px;
    }
  }

  .swiper-button-next {
    z-index: 2;
    right: 20px;
    top: 97.5%;

    @include medium {
      top: 88%;
      right: 30px;
    }

    @include large {
      top: 90%;
      right: 35px;
    }

    @include xl {
      top: 90%;
      right: 40px;
    }
  }
}

// .overlay-video__control[data-state="play"] .play-icon {
//   position: absolute;
//   margin: 0;
//   left: 50%;
//   top: 50%;
//   transform: translateX(-33%) translateY(-50%);
// }

// .overlay-video__playpause[data-state="pause"] .play-icon{
//   display: none;
// }

// .overlay-video__playpause[data-state="play"] .play-icon{
//   width: 10px;
//   height: 12px;
// }

// .overlay-video__control[data-state="play"] {
//   left: calc(100% - 80px);
//   top: 15px;
// }

// .overlay-video__control[data-state="pause"] {
//   left: calc(100% - 80px);
//   top: 15px;
// }

// .overlay-video__controls[data-state="mute"] {
//   left: calc(100% - 90px);
//   top: 100px;
// }

// .overlay-video__controls[data-state="unmute"] {
//   left: calc(100% - 90px);
//   top: 100px;
// }

.carousel--fullwidth {
  max-width: unset;
  padding: 0;

  .swiper-slide {
    width: unset;
  }

  .fullwidth-carousel-video__wrapper {
    width: 100%;
  }
}