.entry-gate {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: $entry-gate-zindex;
  overflow: auto;

  &__error {
    display: none;
    text-align: center;
    border-radius: variable(card-border-radius);
    padding: 0 3rem 3rem 3rem;
    max-width: 90%;
    background-color: clr(subcolor-2);
    position: relative;
    overflow: hidden;

    @include medium {
      max-width: 75%;
      padding: 0 5rem 6rem 5rem;
    }

    @include xl {
      padding: 0 11rem 6rem 11rem;
      max-width: 89.6rem;
    }
  }

  &.age-error {
    .entry-gate__error {
      display: block;
    }

    .entry-gate__inner {
      display: none;
    }
  }

  &__error-link {
    color: clr(secondary);
    display: block;
    font-size: 1.8rem;
    font-family: variable(primary-font);
    text-decoration: none;
    padding-right: 1rem;
    position: relative;
  }

  &__brand-shape {
    position: absolute;
    width: 100%;
    margin-left: -10rem;
    bottom: -16rem;

    @include medium {
      bottom: -20rem;
    }

    @include large {
      margin-left: -13rem;
      bottom: -22rem;
    }

    & svg {
      width: 45rem;
      height: 45rem;
      fill: rgba(clr(subcolor-1-rgb), 0.2);

      @include large {
        width: 60rem;
        height: 60rem;
      }
    }
  }

  &__inner {
    text-align: center;
    border-radius: variable(card-border-radius);
    max-width: 89.6rem;
    background-color: clr(subcolor-2);
    position: relative;
    overflow: hidden;

    @include xs {
      padding: 0 3rem 3rem 3rem;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
    }

    @include medium {
      padding: 0 5.9rem 6rem 5.9rem;
      width: 75%;
      max-width: 57rem;
      max-height: 516px;
      margin: 0;
    }

    @include large {
      padding: 0 11rem 6rem 11rem;
      max-width: 89.6rem;
      max-height: auto;
    }
  }

  &__heading {
    font-family: variable(heading-font);
    color: clr(primary);
    font-weight: 500;

    @include xs {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include medium {
      margin: 6rem 0 2rem;
      font-size: 4rem;
      line-height: 4rem;
      height: 3rem;
    }

    @include large {
      margin-bottom: 3rem;
      font-size: 6.4rem;
      line-height: 6.4rem;
      height: auto;
    }
  }

  &__paragraph {
    font-family: variable(secondary-font);
    color: clr(primary);
    margin: 0 0 4rem 0;
    padding-bottom: 4rem;
    border-bottom: 1px solid #c4c4c4;
    line-height: 1.4;

    @include medium {
      font-size: 1.6rem;
    }

    @include large {
      font-size: 1.8rem;
    }
  }

  &__eyebrow {
    display: block;
    color: clr(primary);
    font-family: variable(secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;

    @include medium {
      font-size: 1.6rem;
      line-height: 1.4rem;
    }

    @include large {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }

  &__bottom-paragraph,
  &__bottom-paragraph a {
    color: clr(primary);
    font-family: variable(secondary-font);
    display: inline;
    position: relative;
    z-index: 2;

    @include medium {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }

    @include large {
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: left;
    }
  }

  &__bottom-paragraph p {
    @include medium {
      margin-bottom: 6rem;
    }
  }
}
