.story-highlight {
  font-family: variable(primary-font);
  position: relative;
  overflow: visible;
  margin: 0;
  z-index: 1;

  &__content {
    margin-bottom: -40rem;

    @include small {
      margin-bottom: -30rem;
    }

    @include medium {
      margin-bottom: -40rem;
    }
  }

  &__contentbg {
    background-color: clr(subcolor-2);
    padding: 3rem 2rem 40rem;
    overflow: hidden;

    @include small {
      padding-bottom: 30rem;
    }

    @include medium {
      padding-bottom: 20rem;
    }

    @include large { 
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &_whitebg {
    position: relative;
    top: -40rem;
    overflow: hidden;

    @include small {
      top: -30rem;
    }

    @include medium {
      top: -20rem;
    }

    @include large {
      padding: 0 2rem;
    }
  }
  
  & .stretch {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    top: -2rem;

    @include small {
      top: -3rem;
    }

    @include medium {
      top: -4rem;
    }

    @include large {
      top: -6rem;
    }

    @include xl {
      top: -8rem;
    }

    >svg {
      width: 100%;

      >path {
        fill: clr(subcolor-2);
        width: 100%;
      }

      >rect {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .repeat {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    top: 80px;

    svg {
      width: 100%;
      max-height: 30px;

      path {
        fill: clr(secondary);
      }
      rect {
        width: 100%;
        height: 3rem;
      }
    }
  }

  & .h2 {
    font-family: variable(heading-font);
    font-size: 64px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: normal;
    color: clr(primary);
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;

    @include medium {
      padding-top: 5rem;
    }
  }

  & .graphic_divider {
    text-align: center;
    margin-top: 5rem;

    svg {
      path {
        fill: clr(subcolor-1);
      }
    }
  }

  &__paragraph {
    margin: 5rem auto;
    font-family: variable(secondary-font);
    text-align: center;
    color: clr(primary);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: normal;
    font-style: normal;
    width: 70%;
  }

  & .media_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;

    & .paragraph {
      align-self: flex-start;
      margin-top: 3rem;
      text-align: left;
      font-family: variable(secondary-font);
      color: clr(primary);
      font-size: 1.6rem;
    }
  }

  & .media_item_1 {
    flex: 0 auto;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid lightgrey;

    & img {
      width: auto;
      max-width: 100%;
    }

    @include xs {
      margin: 0 2rem;
      width: 100%;
    }

    @include large {
      width: 55%;
    }
  }

  & .media_item_2 {
    min-height: 32.5rem;
    align-self: flex-end;
    flex: 0 auto;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid lightgrey;

    img {
      width: auto;
      max-width: 100%;
    }

    @include small {
      width: 50%;
      margin: 5rem 2rem 0 auto;
    }

    @include large {
      left: 0;
      width: 33%;
    }
  }

  & .fullscreen-video {
    height: auto;
  }

  & .media_item_3 {
    flex: 0 auto;
    width: 55.6rem;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0;

    & img {
      width: auto;
      max-width: 100%;
    }

    @include small {
      margin: 12rem 12rem 12rem 2rem;
    }

    @include large {
      left: 0;
      width: 55.6rem;
      margin: 12rem auto 0;
    }
  }

  & .media_item_1,
  & .media_item_2,
  & .media_item_3 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }

  .overlay-video__control[data-state="play"] {
    top: calc(50% - 7rem);
    left: calc(50% - 6.6rem / 2);
    width: 6.6rem;
    height: 7rem;
    background-color: clr(subcolor-3);

    @include clearfix;

    @include playbutton;

    >div {
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 20px solid clr(player);
      margin: auto 35%
    }
  }

  &__brand-shape_1 {
    position: absolute;
    min-width: 22.7rem;
    min-height: 21.2rem;
    width: 24.2rem;
    height: 24.2rem;
    z-index: 1;
    top: 45%;
    display: flex;

    & img {
      margin: auto;
    }

    @include small {
      top: 45rem;
      right: -9rem;
    }

    @include medium {
      top: 49rem;
      right: -8rem;
      z-index: 1;
    }

    @include large {
      z-index: 1;
      top: 47rem;
      right: -8rem;
    }

    @include xl {
      top: 11rem;
    }
  }

  &__brand-shape_2 {
    position: absolute;
    min-width: 42.8rem;
    min-height: 41.3rem;
    width: 44.3rem;
    height: 44.3rem;
    display: flex;

    & img {
      margin: auto;
    }

    @include small {
      top: 50rem;
      left: -17rem;
      z-index: 1;
    }

    @include medium {
      top: 65rem;
      left: -18rem;
      z-index: 1;
    }

    @include large {
      z-index: 1;
      top: 100rem;
      left: -8rem;
    }

    @include xl {
      z-index: 1;
      top: 71rem;
      left: -8rem;
    }
  }

  &__brand-shape_3 {
    position: absolute;
    min-width: 34.1rem;
    min-height: 34.1rem;
    width: 35.6rem;
    height: 35.6rem;
    display: flex;

    & img {
      margin: auto;
    }

    @include small {
      z-index: 0;
      bottom: 3rem;
      right: -8rem;
    }

    @include large {
      z-index: 0;
      bottom: 5rem;
      right: -5rem;
      width: 48rem;
    }
  }

  & .cta_wrapper {
    padding: 8.3rem 0;
    text-align: center;

    @include small {
      padding: 3.3rem 0 12.6rem 0;
    }

    @include medium {
      padding: 0 0 12.6rem 0;
    }

    @include large {
      padding: 6.3rem 0 6.3rem 0;
    }
  }

  & .default-link {
    background-color: clr(secondary);
    color: clr(subcolor-3);
    margin: 0 auto;
  }

  & .default-link:hover {
    color: clr(secondary);
  }
}
