.story-highlight {
  @include set-font($font-type: 'primary-font');

  position: relative;
  margin: 0;
  z-index: 1;

  &__contentbg {
    background-color: clr(subcolor-2);
    padding: 3rem 20px 0;

    @include medium {
      padding-left: 40px;
      padding-right: 40px;
    }

  }

  &__content {
    position: relative;

    @include large {
      padding-bottom: 5rem;
    }

  }

  .white-background {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;

    @include large {
      height: 63%;
    }
  }

  @include brand-border-overflow;

  & .h2 {
    @include set-font($font-type: 'heading-font');

    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: clr(primary);
    text-align: center;
    padding-top: 2rem;

    @include xs {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 4rem;
    }

    @include medium {
      padding-top: 5rem;
    }

    @include large {
      font-size: 4.8rem;
      line-height: 4.8rem;
      margin-bottom: 6rem;
    }
  }

  & .graphic_divider {
    text-align: center;

    svg {
      path {
        fill: clr(subcolor-1);
      }
    }
  }

  &__paragraph {
    @include set-font($font-type: 'secondary-font');

    text-align: center;
    color: clr(primary);
    font-weight: normal;
    font-style: normal;
    padding: 0 8px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 2rem auto 4rem;

    @include medium {
      padding: 0 20px;
      margin: 40px auto 60px;
      line-height: 2.88rem;
    }

    @include xl {
      max-width: 1128px;
      padding: 0 35px;
      margin: 60px auto 80px;
    }
  }

  & .media_items_wrapper{
    margin: 0 auto;
    padding: 0 4rem;
    width: 100%;
    max-width: 152.0rem;

    @include xs {
      padding: 0;
      max-width: 100%;
    }

    @include large {
      padding: 0;
      max-width: 100%;
    }

    @include xl {
      padding: 0;
      max-width: 100%;
    }

    @media (min-width: 1525px) {
      padding: 0;
      max-width: 144.0rem;
    }

  }

  & .media_items {
    display: flex;
    flex-direction: column;
    position: relative;

    @include xl {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
    }

    & .paragraph {
      @include set-font($font-type: 'secondary-font');

      align-self: flex-start;
      margin: 2rem 0;
      text-align: left;
      color: clr(primary);

      @include xs {
        font-size: 1.2rem;
        line-height: 1.56rem;
      }

      @include medium {
        font-size: 1.4rem;
        line-height: 1.82rem;
      }

      @include large {
        font-size: 1.6rem;
        line-height: 2.08rem;
      }
    }

    // .overlay-video__control[data-state="play"] {
    //   top: calc(50% - 3.5rem);
    //   left: calc(50% - 3.3rem);
    // }

    // .overlay-video__control[data-state="play"] {
    //   left: calc(100% - 80px);
    //   top: 15px;
    // }
    
    // .overlay-video__control[data-state="pause"] {
    //   left: calc(100% - 80px);
    //   top: 15px;
    // }
    
    // .overlay-video__controls[data-state="mute"] {
    //   left: calc(100% - 90px);
    //   top: 100px;
    // }
    
    // .overlay-video__controls[data-state="unmute"] {
    //   left: calc(100% - 80px);
    //   top: 100px;
    // }
  }

  & .media_item_1 {
    align-self: center;
    z-index: 3;

    &__wrapper{
      max-height: 43.9rem;
      & img {
        max-height: 43.9rem;
        min-height: 43.9rem;
      }
    }

    @include xs {
      width: 335px;
      &__wrapper{
        max-height: 18.8rem;
        & img {
          max-height: 18.8rem;
          min-height: 18.8rem;
        }
        figure{
          .overlay-video__video{
            max-height: 18.8rem;
            min-height: 18.8rem;
          }

        }
      }
    }

    @include medium {
      width: 688px;
      &__wrapper{
        max-height: 38.8rem;
        & img {
          max-height: 38.8rem;
          min-height: 38.8rem;
        }
        figure{
          .overlay-video__video{
            max-height: 38.8rem;
            min-height: 38.8rem;
          }

        }
      }
    }

    @include xl {
      width: 781px;

      &__wrapper{
        max-height: 43.9rem;
        & img {
          max-height: 43.9rem;
          min-height: 43.9rem;
        }
        figure{
          .overlay-video__video{
            max-height: 43.9rem;
            min-height: 43.9rem;
          }

        }
      }
    }
  }

  & .media_item_2 {
    z-index: 2;
    margin-left: auto;

    &__wrapper{
      max-height: 32.5rem;
      min-height: 32.5rem;
      & img {
        max-height: 32.5rem;
        min-height: 32.5rem;
      }
    }

    @include xs {
      max-width: 190px;
      &__wrapper{
        max-height: 14.3rem;
        min-height: 14.3rem;
        & img {
          max-height: 14.3rem;
          min-height: 14.3rem;
        }
        figure{
          .overlay-video__video{
            max-height: 14.3rem;
            min-height: 14.3rem;
          }

        }
      }
    }

    @include medium {
      max-width: 334px;
      &__wrapper{
        max-height: 25.14rem;
        min-height: 25.14rem;
        & img {
          max-height: 25.14rem;
          min-height: 25.14rem;
        }
        figure{
          .overlay-video__video{
            max-height: 25.14rem;
            min-height: 25.14rem;
          }

        }
      }
    }

    @include xl {
      max-width: 433px;

      &__wrapper{
        max-height: 32.5rem;
        min-height: 32.5rem;
        & img {
          max-height: 32.5rem;
          min-height: 32.5rem;
        }
        figure{
          .overlay-video__video{
            max-height: 32.5rem;
            min-height: 32.5rem;
          }

        }
      }
    }

  }

  & .media_item_3 {
    z-index: 2;
    margin-right: auto;

    @include xs {
      width: 248px;
      &__wrapper{
        max-height: 14rem;
        min-height: 14rem;
        & img {
          max-height: 14rem;
          min-height: 14rem;
        }
        figure{
          .overlay-video__video{
            max-height: 14rem;
            min-height: 14rem;
          }

        }
      }
    }

    @include medium {
      width: 452px;
      &__wrapper{
        max-height: 25.52rem;
        min-height: 25.52rem;
        & img {
          max-height: 25.52rem;
          min-height: 25.52rem;
        }
        figure{
          .overlay-video__video{
            max-height: 25.52rem;
            min-height: 25.52rem;
          }

        }
      }
    }

    @include xl {
      margin: 0 auto;
      width: 550px;
      &__wrapper{
        max-height: 31.1rem;
        min-height: 31.1rem;
        & img {
          max-height: 31.1rem;
          min-height: 31.1rem;
        }
        figure{
          .overlay-video__video{
            max-height: 31.1rem;
            min-height: 31.1rem;
          }

        }
      }
    }
  }

  & .media_item_1,
  & .media_item_2,
  & .media_item_3 {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid $silver;

    &__wrapper{
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        object-fit: cover;
      }
    }

    @include medium {
      margin-bottom: 40px;
    }

    @include xl {
      margin-bottom: 80px;
    }

  }

  // .overlay-video__control[data-state="play"] {
  //   top: calc(50% - 7rem);
  //   left: calc(50% - 6.6rem / 2);
  //   width: 6.6rem;
  //   height: 7rem;
  //   background-color: clr(subcolor-3);

  //   @include clearfix;

  //   @include playbutton;


  // }

  &__brand-shape_1 {
    position: absolute;
    z-index: -1;

    & img {
      width: auto;
      object-fit: contain;
    }

    @include xs {
      top: -67px;
      right: -20px;

      & img {
        height: 124px;
        max-width: 124px;
      }
    }

    @include medium {
      top: -112px;
      right: -40px;

      & img {
        max-width: 196px;
        height: 184px;
      }
    }

    @include xl {
      top: -124px;
      right: -40px;

      & img {
        max-width: 242px;
        height: 242px;
      }

    }

  }

  &__brand-shape_2 {
    position: absolute;
    z-index: 1;

    & img {
      width: auto;
      object-fit: contain;
    }

    @include xs {
      left: -20px;
      top: 304px;

      & img {
        max-width: 153px;
        height: 153px;
      }
    }

    @include medium {
      bottom: 358px;
      left: -40px;
      top: inherit;

      & img {
        height: 300px;
        max-width: 300px;
      }

    }


    @include xl {
      bottom: 80px;
      left: -40px;

      & img {
        max-width: 443px;
        height: 443px;
      }
    }
  }

  &__brand-shape_3 {
    position: absolute;

    & img {
      width: auto;
      object-fit: contain;
    }

    @include xs {
      right: -20px;
      bottom: -50px;

      & img {
        max-width: 182px;
        height: 182px;
      }
    }

    @include medium {
      right: -40px;
      bottom: -20px;

      & img {
        max-width: 314px;
        height: 315px;
      }
    }

    @include xl {
      right: -4rem;
      bottom: -120px;
      & img {
        max-width: 356px;
        height: 356px;
      }
    }
  }

  & .cta_wrapper {
    text-align: center;

    @include xs {
      margin-top: 10px;
    }

    @include xl {
      margin-top: 0;
    }
  }

  & .default-link {
    background-color: clr(secondary);
    color: clr(subcolor-3);
    margin: 0 auto;
  }

  & .default-link:hover ,
  .default-link:focus {
    color: clr(secondary);
  }
}