.story-highlight {
  font-family: variable(primary-font);
  position: relative;
  margin: 0;
  z-index: 1;

  &__contentbg {
    background-color: clr(subcolor-2);
    padding: 3rem 2rem 0;
    overflow: hidden;

    @include large {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;

    @include large {
      padding-bottom: 5rem;
    }

  }

  .white-background {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;

    @include large {
      height: 63%;
    }
  }

  @include brand-border-overflow;

  & .h2 {
    font-family: variable(heading-font);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: clr(primary);
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;

    @include xs {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include medium {
      padding-top: 5rem;
    }

    @include large {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }
  }

  & .graphic_divider {
    text-align: center;
    margin-top: 5rem;

    svg {
      path {
        fill: clr(subcolor-1);
      }
    }
  }

  &__paragraph {
    margin: 6rem auto 8rem;
    font-family: variable(secondary-font);
    text-align: center;
    color: clr(primary);
    font-weight: normal;
    font-style: normal;
    width: 70%;

    @include xs {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    @include medium {
      line-height: 2.88rem;
    }

    @include large {
      font-size: 2rem;
      line-height: 3.6rem;
    }
  }

  & .media_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;

    & .paragraph {
      align-self: flex-start;
      margin-top: 3rem;
      text-align: left;
      font-family: variable(secondary-font);
      color: clr(primary);

      @include xs {
        font-size: 1.2rem;
        line-height: 1.56rem;
      }

      @include medium {
        font-size: 1.4rem;
        line-height: 1.82rem;
      }

      @include large {
        font-size: 1.6rem;
        line-height: 2.08rem;
      }
    }
  }

  & .media_item_1 {
    flex: 0 auto;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid lightgrey;

    & img {
      width: auto;
      max-width: 100%;
    }

    @include xs {
      width: 100%;
    }

    @include large {
      min-width: 55%;
      max-width: 78rem;
    }
  }

  & .media_item_2 {
    min-height: 32.5rem;
    align-self: flex-end;
    flex: 0 auto;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid lightgrey;
    width: 50%;
    margin: 5rem 2rem 0 auto;

    img {
      width: auto;
      max-width: 100%;
    }

    @include large {
      left: 0;
      min-width: 33%;
      max-width: 43rem;
      margin-right: 0;
    }

    @include xl {
      margin-right: 6.7rem;
    }

  }

  & .fullscreen-video {
    height: auto;
  }

  & .media_item_3 {
    flex: 0 auto;
    width: 55.6rem;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid lightgrey;
    margin: 12rem 12rem 12rem 2rem;

    & img {
      width: auto;
      max-width: 100%;
    }

    @include large {
      left: 0;
      width: 55.6rem;
      margin: 12rem auto 0;
    }
  }

  & .media_item_1,
  & .media_item_2,
  & .media_item_3 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }

  .overlay-video__control[data-state="play"] {
    top: calc(50% - 7rem);
    left: calc(50% - 6.6rem / 2);
    width: 6.6rem;
    height: 7rem;
    background-color: clr(subcolor-3);

    @include clearfix;

    @include playbutton;

    > div {
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 20px solid clr(player);
      margin: auto 35%;
    }
  }

  &__brand-shape_1 {
    position: absolute;
    width: 12.4rem;
    height: 11.8rem;
    min-width: 12.4rem;
    min-height: 11.8rem;
    z-index: 1;
    top: 90rem;
    display: flex;

    & img {
      margin: auto;
    }

    @include medium {
      top: 75rem;
      right: -8rem;
      z-index: 1;
      min-width: 22.7rem;
      min-height: 21.2rem;
      width: 24.2rem;
      height: 24.2rem;
    }

    @include large {
      z-index: 1;
      top: 47rem;
      right: -8rem;
    }

    @include xl {
      top: 35rem;
    }
  }

  &__brand-shape_2 {
    position: absolute;
    min-width: 15.3rem;
    min-height: 15.3rem;
    width: 15.3rem;
    height: 15.3rem;
    display: flex;
    top: 80rem;
    right: 0;
    z-index: 1;

    & img {
      margin: auto;
    }

    @include medium {
      top: 90rem;
      left: -18rem;
      z-index: 1;
      min-width: 42.8rem;
      min-height: 41.3rem;
      width: 44.3rem;
      height: 44.3rem;
    }

    @include large {
      z-index: 1;
      top: 100rem;
      left: -8rem;
    }

    @include xl {
      z-index: 1;
      top: 95rem;
      left: -8rem;
    }
  }

  &__brand-shape_3 {
    position: absolute;
    min-width: 34.1rem;
    min-height: 34.1rem;
    width: 35.6rem;
    height: 35.6rem;
    display: flex;

    & img {
      margin: auto;
    }

    @include xs {
      z-index: 0;
      right: 0;
      bottom: 20rem;
      min-width: 18.2rem;
      min-height: 14.4rem;
      width: 18.2rem;
      height: 14.4rem;
    }

    @include large {
      z-index: 0;
      right: -5rem;
      width: 48rem;
    }
  }

  & .cta_wrapper {
    padding: 8.3rem 0;
    text-align: center;

    @include small {
      padding: 3.3rem 0 12.6rem 0;
    }

    @include medium {
      padding: 0 0 12.6rem 0;
    }

    @include large {
      padding: 6.3rem 0 6.3rem 0;
    }
  }

  & .default-link {
    background-color: clr(secondary);
    color: clr(subcolor-3);
    margin: 0 auto;
  }

  & .default-link:hover {
    color: clr(secondary);
  }
}
