.header {
  background-color: clr(highlight-high);

  &__inner {
    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    background-image: radial-gradient(circle at 50% 50%, clr(subcolor-2), clr(secondary));

    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
  
      @include medium {
        justify-content: flex-start;
        padding: $space 0;
      }
    }

    &--open {
      overflow-y: scroll;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: $menu-overlay-zindex;
    }
  }

  &__branding {
    flex: 0 0 150px;
    margin: 25px;

    @include medium {
      flex-basis: 272px;
      margin: 32px 30px;
    }
  }

  &__menu {
    flex: 0 0 auto;

    @include medium {
      flex: 1 0 auto;
    }

    &--secondary {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 4rem;

      @include medium {
        display: block;
        width: 100%;
        text-align-last: right;
      }
    }

    &--secondary-mobile {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 40px 60px;
      background: clr(primary);
      display: flex;
      flex-flow: column-reverse nowrap;

      @include medium {
        display: none;
      }
    }
  }

  &__alert {
    background: clr(primary);
    padding: 2.2rem 4rem 2.1rem;
    text-align: center;

    &_text {
      font-size: 1.8rem;
      line-height: 1.2;
      color: clr(subcolor-3);
    }
  }

}

//ToDo: optimize with logo.twig
.logo__image {
  width: 100%;
}
