.header {
  background-color: clr(subcolor-3);

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  &__primary {
    background-image: radial-gradient(circle at 50% 50%, clr(top-nav-gradient), clr(top-nav));

    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      @include large {
        justify-content: flex-start;
      }
    }

    &--open {
      overflow-y: auto;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: $menu-overlay-zindex;
    }
  }

  &__secondary {
    max-height: 0;
    overflow: hidden;
    animation: alert-banner-slide-in 0.8s ease forwards;
  }

  &__branding {
    flex: 0 0 104px;
    margin: 1.5rem;

    @include medium {
      flex-basis: 141px;
      margin: 2.5rem;
    }

    @include large {
      flex-basis: 160px;
      margin: 4.5rem $space-triple 3.2rem;
    }

    @include xl {
      flex-basis: 212px;
    }
  }

  &__menu {
    flex: 0 0 auto;

    @include large {
      flex: 1 0 calc(100% - 272px);
      align-self: flex-start;
      padding: 5.7rem 0 2rem;
    }

    &--secondary {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 4rem;

      @include large {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        text-align: right;
      }
    }

    & .header-inline-menu__link {
      @include large {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
    }

    &--secondary-mobile {
      padding: $space-sextuple $space-quadruple;
      background: clr(secondary);
      display: flex;
      flex-flow: row wrap;

      @include large {
        display: none;
      }
    }
  }
}

@keyframes alert-banner-slide-in {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 120px;
  }
}

//ToDo: optimize with logo.twig
.logo__image {
  width: 100%;
}
