<div data-theme="drupal" style="
{% if text_color_override is not empty %}
    --c-newsletter-text-color-override: {{ text_color_override }};
{% endif %}
">
    {% include "@molecules/newsletter-sign-form/newsletter-form/newsletter-form.twig" with {
        theme_styles: 'drupal',
        webform_newsletter: webform_newsletter.form,
        webform_newsletter_title: webform_newsletter.title,
        webform_block_label: webform_block_label,
        text_color_override: text_color_override,
        background_color: background_color,
    } %}
</div>
