.header-inline-menu {
  @include list-reset;

  display: inline-block;

  & + & {
    margin-left: 1.5rem;
  }

  &--search {
    @include list-reset;

    display: inline-block;
    padding-bottom: 10rem;

    @include medium {
      padding-bottom: 0;
    }
  }
}

.header-inline-menu__item {
  display: inline-block;
  margin: 0 1.5rem 0.5rem 0;
  padding: 2.8rem 1.5rem 0 0;
  line-height: 1rem;
  border-right: 1px solid clr(subcolor-1);
  
  @include large {
    margin-bottom: 1em;
  }

  &:last-child {
    margin-right: 0;
    border-right: none;
  }
}

.header-inline-menu__link {
  @include link;

  color: clr(subcolor-3);
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: clr(subcolor-3);
  }

  @include medium {
    color: clr(subcolor-1);
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}
