.header-inline-menu {
  @include list-reset;

  display: inline-block;
  margin-left: -$space-one-and-half;
  margin-top: 3rem;

  @include medium {
    margin-top: 7rem;
  }

  @include large {
    margin: 0 1.5rem 0 0;
  }
}

.header-inline-menu__item {
  display: inline-block;
  padding-top: 2.8rem;
  line-height: 1rem;
  position: relative;

  @include large {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 3.9rem;
      background: clr(primary);
    }

    &:first-child {
      &::before {
        content: none;
      }
    }
  }
}

.header-inline-menu__link {
  @include link;
  @include set-font($font-type: 'primary-font');

  padding: $space $space-one-and-half;
  color: clr(subcolor-3, mobile-search-right-menu-section);
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  text-decoration: none;

  &:hover ,
  &:focus {
    color: clr(subcolor-3);
  }

  @include medium {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  @include large {
    color: clr(primary, text-color-override);
    font-size: 1.4rem;
    line-height: 1.4rem;

    &:hover,
    &:focus {
      color: clr(secondary, hover-color);
    }
  }
}

.dropdown--header-navigation {
  width: auto;
  margin-top: 3rem;

  @include medium {
    margin-top: 7rem;
  }

  @include large {
    margin-top: 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 3.9rem;
      background: clr(primary, text-color-override);
    }
  }

  .dropdown__trigger {
    @include set-font($font-type: 'primary-font');

    padding: 1rem 3rem 1rem 1.5rem;
    color: clr(subcolor-3, mobile-search-right-menu-section);
    background: transparent;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    box-shadow: none;
    white-space: nowrap;

    @include medium {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    @include large {
      color: clr(primary, text-color-override);
      font-size: 1.4rem;
      line-height: 1.4rem;
    }

    &:hover,
    &:focus {
      color: clr(subcolor-3);

      @include large {
        color: clr(secondary, hover-color);
      }
    }

    &::after {
      top: 9px;
      right: auto;
      margin-left: 0.8rem;

      @include medium {
        top: 11px;
      }

      @include large {
        top: 9px;
      }
    }
  }

  .dropdown__content--outer {
    padding-top: 0;
    top: auto;
    bottom: 52px;
    width: 172px;
    height: auto;

    @include large {
      top: 52px;
      bottom: auto;
    }
  }

  .dropdown__content--inner {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .dropdown__list {
    padding: 1rem 0;
    position: relative;
    overflow-y: auto;
  }

  .dropdown__span,
  .dropdown__link {
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1.4rem;
  }

  .dropdown__link:hover,
  .dropdown__link:focus,
  .dropdown__item--selected .dropdown__link {
    font-weight: bold;
    color: clr(secondary);
    background: transparent;
  }

  .dropdown__abbr {
    display: inline-block;
    min-width: 2.5rem;
  }

  .dropdown__trigger[aria-expanded="true"]::after {
    top: 15px;
  }
}
