.video-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.video-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, .5);
  color: clr(text-inverse);
  font-family: variable(secondary-font);
  font-size: 2rem;
  line-height: 4rem;
  z-index: 10;
  cursor: pointer;
}
