/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  &__desktop {
    display: none;
  
    @include medium {
      display: block;
    }
  }

  &__mobile {
    display: none;

    .header__primary--open & {
      display: block;
      position: absolute;
      top: 120px;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
  
      @include medium {
        display: none;
      }
    }
  }
}

/* UL */
.main-menu {
  @include list-reset;
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
// .main-menu--sub {
//   border-bottom: none;
//   height: 0;
//   overflow: hidden;
//   background-color: clr(muted);
//   width: 100%;

//   @include medium {
//     background-color: clr(highlight-high);
//     display: none;
//     height: auto;
//     left: 0;
//     overflow: visible;
//     padding: $space 0;
//     position: absolute;
//     top: 55px;
//     width: 315px;
//     z-index: 1;
//     font-size: 0.9rem;
//     opacity: 0.6;
//   }

//   &:hover {
//     @include medium {
//       opacity: 1;
//       background-color: clr(accent-high);
//       transition: all 0.2s;

//       .main-menu__link--sub {
//         color: clr(highlight);

//         &.active,
//         &:active,
//         &:hover {
//           color: clr(background);
//           background-color: clr(accent-high);
//         }
//       }
//     }
//   }

//   /* See main-menu.js */
//   &-open {
//     height: auto;
//   }
// }

// .main-menu--sub-2 {
//   @include medium {
//     display: none; /* Never shown on large screens */
//   }
// }
