/* LI */
.main-menu__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include large {
    display: inline-block;
  }

  &--with-sub {
    @include xs {
      flex-direction: column;

      .main-menu--sub {
        display: none;

        &.main-menu--sub-open {
          display: block;

          @include large {
            display: none;
          }
        }
      }
    }

    .main-menu__item--sub {
      display: flex;
      text-transform: uppercase;

      @include large {
        text-transform: capitalize;
      }
    }
  }

  &--opened {
    @include large {
      .main-menu--sub {
        display: block;
      }
    }
  }

  /* Only top level */
  &:not(.main-menu__item--sub):hover ,
  &:not(.main-menu__item--sub):focus{
    transition: all 0.2s;

    &:hover,
    &:focus {
      .main-menu__link::after {
        color: clr(text);
      }
    }
  }

  .menu-item__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Expand Button */
.expand-sub {
  background-color: clr(accent-high);
  cursor: pointer;
  display: block;
  width: 20%;
  color: $white;
  position: relative;

  @include large {
    display: none;
  }

  /* Down triangle */
  &::after {
    border: 15px solid;
    border-bottom-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    display: block;
    margin-right: -12px;
    margin-top: -6px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 0;
  }

  /* See main-menu.js */
  &--open {
    background-color: clr(accent-high);
    color: clr(muted);

    &::after {
      border-top-color: transparent;
      border-bottom: 15px solid;
      margin-top: -20px;
    }
  }
}
