/* A */
.main-menu__link {
  color: clr(primary);
  display: block;
  font-family: variable(primary-font);
  font-size: 3.6rem;
  font-weight: normal;
  line-height: 1.5;
  padding: 1.6rem 0.8rem 1.6rem 3rem;
  text-decoration: none;

  @include large {
    border-bottom: none;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    padding: $space-one-and-half $space-triple;
    text-transform: none;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: clr(secondary);

      & .menu_chevron__icon {
        transform: scaleX(-1);
      }
    }
  }

  &--with-sub {
    @include large {
      width: auto;
      padding-right: $space-quintuple;
    }
  }
}

.menu_chevron__icon {
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  width: 12px;
  height: 7px;
  fill: clr(secondary);

  @include xs {
    pointer-events: none;

    &.main-menu--sub-open {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @include large {
    top: 50%;

    &.main-menu--sub-open {
      transform: translateY(-50%);
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(secondary);
  padding-left: $space-triple;
  font-family: variable(secondary-font);
  font-weight: normal;
  font-size: 1.8rem;

  @include medium {
    padding: 1rem 1rem 1rem 0;
  }

  @include large {
    color: clr(primary);
    display: block;
    padding: 1.2rem $space-double;
    font-size: 1.4rem;
    font-weight: normal;

    &.active,
    &:active,
    &:hover {
      font-family: variable(primary-font);
      color: clr(secondary);
      font-weight: 500;

      & .menu_chevron__icon {
        transform: scaleX(-1);
      }
    }
  }
}
