/* Toggle */
.toggle-expand {
  @include link;

  position: relative;
  padding: 0 2rem 0 1rem;
  text-decoration: none;
  width: 100%;
  display: block;

  @include large {
    display: none;
  }

  @include xs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  @include medium {
    padding-right: 4rem;
  }

  @include large {
    display: none;
  }
}

.toggle-expand__text {
  display: block;
  font-family: variable(primary-font);
  font-size: 1.4rem;
  text-transform: uppercase;
  color: clr(primary);

  @include medium {
    font-size: 1.8rem;
  }
}

/* SVG icon */
.toggle-expand__icon {
  position: absolute;
  left: -19px;
  top: -1px;
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
  fill: clr(secondary);

  @include medium {
    left: -22px;
    top: 3px;
  }

  &--open {
    display: inline-block;

    .toggle-expand--open & {
      display: none;
    }
  }

  &--close {
    display: none;

    .toggle-expand--open & {
      display: inline-block;
    }
  }
}
