/* Toggle */
.toggle-expand {
  @include link;

  @include medium {
    display: none;
  }

  padding: $space;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.toggle-expand__text {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: clr(subcolor-1);
}

/* SVG icon */
.toggle-expand__icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  border: 1px solid black;

  &--open {
    display: inline-block;

    .toggle-expand--open & {
      display: none;
    }
  }

  &--close {
    display: none;

    .toggle-expand--open & {
      display: inline-block;
    }
  }
}
