.search-no-results {
  background-color: clr(subcolor-2);
}

.search-no-results-heading {
  @include set-font($font-type: 'heading-font');

  font-size: 2.8rem;
  line-height: 2.8rem;
  color: clr(primary);
  margin: 0 0 4rem;
  text-align: center;
  word-break: break-word;

  @include medium {
    font-size: 4rem;
    line-height: 4rem;
  }

  @include large {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 6rem;
  }
}

.search-no-results-text {
  @include set-font($font-type: 'secondary-font');

  font-size: 22px;
  line-height: 24px;
  margin: 60px auto;
  color: clr(primary);
  text-align: center;
}

.search-no-results-links-container {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  flex-direction: row;

  .default-link {
    margin-right: 20px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
