{{ attach_library('emulsifymars/content-feature') }}
{% set content_feature_base_class = 'content-feature' %}
{% set content_feature_heading_base_class = 'content-feature__heading' %}
{% set content_feature_paragraph_base_class = 'content-feature__paragraph' %}
{% if dark_overlay %}
  {% set dark_overlay__modifier = 'dark-overlay' %}
{% endif %}
{% if heading %}
  {% set heading = heading %}
{% else %}
  {% set heading = storybook_content_feature_heading %}
{% endif %}
{% if default_link_content %}
  {% set default_link_content = default_link_content %}
{% else %}
  {% set default_link_content = storybook_content_feature_default_link_content %}
{% endif %}
{% if eyebrow_text %}
  {% set eyebrow_text = eyebrow_text %}
{% else %}
  {% set eyebrow_text = storybook_content_feature_eyebrow_text %}
{% endif %}

<section {{ bem(content_feature_base_class) }} data-theme="{{theme_styles}}">
  <div {{ bem('bg-image', [dark_overlay__modifier], content_feature_base_class) }}>
    {% set images = {
      1920: background_images.desktop.src|resize(1920,650),
      1440: background_images.desktop.src|resize(1440,650),
      1024: background_images.tablet.src|resize(1024,550),
      768: background_images.tablet.src|resize(768,450),
      428: background_images.mobile.src|resize(428,580),
    } %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      responsive_image_base_class: 'parallax-image',
      output_image_tag: false,
      image_alt: background_images.desktop.alt,
      image_src: background_images.desktop.src|resize(1440,650),
      image_array: images,
    } %}
  </div>

  <div class="content-feature__content">
    {% include "@atoms/text/eyebrow/eyebrow.twig" with {
      eyebrow_text: eyebrow_text
    } %}

    {% include "@atoms/text/headings/_heading.twig" with {
      heading: heading,
      heading_level: heading_level,
      heading_url: default_link_attributes.href,
      heading_base_class: content_feature_heading_base_class
    } %}

    {% include "@atoms/separators/graphic-divider/graphic-divider.twig" with {
      graphic_divider_blockname: content_feature_base_class,
      graphic_divider: graphic_divider
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_size: paragraph_size,
      paragraph_content: paragraph_content,
      paragraph_base_class: content_feature_paragraph_base_class,
      paragraph_modifiers: paragraph_modifiers
    } %}

    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: default_link_content,
      default_link_base_class: default_link_base_class,
      default_link_attributes: default_link_attributes
    } %}
  </div>
</section>
