.freeform-story {
  position: relative;
  overflow: hidden;
  background-color: clr(subcolor-3);

  &__placeholder {
    width: 10rem;

    @media (max-width: 280px) {
     width: 0;
    }
  }
  
  &__container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__brand-shape {
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    width: 120%;
    height: auto;

    @include medium {
      width: 30rem;
    }

    @include large {
      width: 45.5rem;
    }

    svg {
      fill: rgba(clr(subcolor-1-rgb), 0.2);
      width: auto;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;

    @include xs {
      flex-direction: column;
    }

    @include medium {
      flex-direction: row;
    }
  }

  &__heading {
    @include set-font($font-type: 'heading-font');

    color: clr(primary);
    margin-top: 0;
    margin-bottom: 1rem;

    @include xs {
      font-size: 4rem;
      line-height: 4rem;
      margin-top: 1.5rem;
    }
    @include medium{
     margin-top: 0;
    }
    @include large {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }
  }

  &__subheading {
    @include set-font($font-type: 'heading-font');

    color: clr(secondary);
    margin: 0;

    @include xs {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    @include small {
      font-size: 4rem;
    }

    @include medium {
      margin-top: -0.4rem;
    }

    @include large {
      font-size: 4.8rem;
      margin-top: -0.6rem;
      line-height: 4.8rem;
    }
  }

  &__paragraph {
    @include set-font($font-type: 'secondary-font');

    color: clr(primary);

    @include xs {
      font-size: 1.8rem;
      line-height: 2.88rem;
    }

    @include large {
      font-size: 2rem;
      line-height: 3.6rem;
    }
  }

  &--center {
    img {
      max-width: 90%;
      margin: 2rem auto 0;
    }

    .freeform-story__texts {
      padding: 0 2rem;
      text-align: center;
    }

    .freeform-story__brand-shape {
      top: 1.3rem;
      left: 50%;
      transform: translateX(-50%);
    }

    @include medium {
      .freeform-story__brand-shape {
        top: -2.6rem;
        left: 50%;
        transform: translateX(-50%);
      }

      .freeform-story__content{
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;

        &--column {
          flex: 1 0 0;
        }
      }

      .freeform-story__texts {
        padding: 0 10rem;
      }
    }

    @include large {
      .freeform-story__brand-shape {
        top: 1.7rem;
        left: 50%;
        transform: translateX(-50%);
      }

      .freeform-story__content{
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      .freeform-story__texts {
        padding: 0 15.6rem;
      }
    }

  }

  &--right {
    img {
      margin: 2rem 0 0 auto;
    }

    .freeform-story__brand-shape {
      top: 2rem;
      width: 27rem;
      height: 35.6rem;
      left: 0;
      right: auto;
      transform: translateX(-85%);
    }

    .freeform-story__texts {
      padding: 2rem 2rem 0 4.9rem;
    }

    @include xs {
      .freeform-story__brand-shape {
        transform: translateX(23%);
      }

      .freeform-story__content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 50px;
        flex-direction: column;

        &--column {
          flex: 1 0 0;
        }
      }

      .freeform-story__texts {
        padding: 30px 20px 0 0;
      }
    }

    @include medium {
      .freeform-story__brand-shape {
        top: -2.6rem;
        width: 17.6rem;
        height: 24rem;
        left: auto;
        right: 0;
        transform: translateX(-11%);
      }

      .freeform-story__content {
        padding-top: 2rem;
        padding-left: 0;
        padding-bottom: 2rem;
        flex-direction: row;

        &--column {
          flex: 1 0 0;
        }
      }

      .freeform-story__img {
        padding-right: 1rem;
      }

      .freeform-story__texts {
        padding: 2rem 4rem 0 3rem;
      }

      img {
        max-width: 100%;
        width: 100%;
      }
    }

    @include large {
      .freeform-story__brand-shape {
        top: 4.4rem;
        width: 27.3rem;
        height: 35.6rem;
        transform: translateX(0%);
      }

      .freeform-story__content{
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      .freeform-story__img {
        padding-right: 1.5rem;
      }

      .freeform-story__texts {
        padding: 2rem 12.6rem 0 4.5rem;
      }
    }
  }

  &--left {
    img {
      max-width: 90%;
      margin-top: 2rem;
    }

    .freeform-story__brand-shape {
      width: 22.2rem;
      height: 35.6rem;
      top: 2rem;
      left: auto;
      right: 0;
      transform: translateX(-20%);
    }

    .freeform-story__texts {
      padding: 2rem 4.9rem 0 2rem;
    }

    @include xs {
      .freeform-story__content {
        padding-right: 50px;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      .freeform-story__texts {
        padding: 30px 0 0 20px;
      }
    }

    @include medium {
      .freeform-story__brand-shape {
        width: 18.68rem;
        height: 24rem;
        top: 0;
        left: 0;
        right: auto;
        transform: translateX(-59%);
      }

      .freeform-story__content {
        padding-right: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: row-reverse;

        &--column {
          flex: 1 0 0;
        }
      }

      .freeform-story__img {
        padding-left: 1rem;
      }

      .freeform-story__texts {
        padding: 2rem 3rem 0 4rem;
      }

      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    @include large {
      .freeform-story__brand-shape {
        top: 6.6rem;
        width: 22.7rem;
        height: 35.6rem;
        transform: translateX(-100%);
      }

      .freeform-story__content{
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      .freeform-story__img {
        padding-left: 1.5rem;
      }

      .freeform-story__texts {
        padding: 2rem 4.5rem 0 12.6rem;
      }
    }
  }
}
