{% set freeform_story_base_class = freeform_story_base_class|default('freeform-story') %}
{% set freeform_story_modifiers = [freeform_story_align, freeform_story_bg_enabled]|default(['left', false]) %}
{% set freeform_story_heading_base_class = freeform_story_heading_base_class|default('freeform-story__heading') %}
{% set freeform_story_subheading_base_class = freeform_story_subheading_base_class|default('freeform-story__subheading') %}
{% set freeform_story_paragraph_base_class = freeform_story_paragraph_base_class|default('freeform-story__paragraph') %}

<section {{ bem(freeform_story_base_class, freeform_story_modifiers) }} data-theme="{{ theme_styles }}">
  {% if brand_shape %}
    <div class="freeform-story__brand-shape">
      {{ brand_shape | raw }}
    </div>
  {% endif %}
  
  <div class="freeform-story__content">
    {% if freeform_story_img_src %}
      <div class="freeform-story__img">
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: freeform_story_img_alt,
          image_sizes: '212px',
          image_src: freeform_story_img_src
        } %}
      </div>
    {% else %}
      <div class="freeform-story__placeholder"></div>
    {% endif %}

    <div class="freeform-story__texts">
      {% include "@atoms/text/headings/_heading.twig" with {
        heading: freeform_story_subheading,
        heading_level: freeform_story_subheading_level,
        heading_base_class: freeform_story_subheading_base_class
      } %}

      {% include "@atoms/text/headings/_heading.twig" with {
        heading: freeform_story_heading,
        heading_level: freeform_story_heading_level,
        heading_base_class: freeform_story_heading_base_class
      } %}

      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_content: freeform_story_paragraph_content,
        paragraph_base_class: freeform_story_paragraph_base_class
      } %}
    </div>
  </div>
</section>
