.article-header-image, .article-header-noimage {
  font-family: variable(primary-font);
  color: clr(primary);
  background-color: clr(subcolor-2);

    &__text_wrapper {
      width: 90%;
      margin: 0 auto;

      @include large {
        width: 70%;
        padding-top: 0;
      }

      @include xl {
        max-width: 780px;
        margin: 0 27% 0 19%;
      }

      & .heading {
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        font-family: variable(primary-font);

        @include xs {
          font-size: 2.8rem;
          line-height: 2.8rem;
        }

        @include medium {
          font-size: 4rem;
          line-height: 4rem;
        }

        @include medium {
          font-size: 40px;
        }

        @include large {
          font-size: 4.8rem;
          line-height: 4.8rem;
        }
      }


      & .eyebrow {
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        color: clr(primary);
        font-family: variable(primary-font);
        margin-top: 0;

        @include xs {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }

        @include medium {
          font-size: 1.6rem;
          line-height: 1.6rem;
        }
      }

      & .published {
        font-style: normal;
        font-weight: normal;
        margin-bottom: 40px;
        display: block;
        font-family: variable(secondary-font);

        @include xs {
          font-size: 1.4rem;
          line-height: 1.96rem;
          margin-bottom: 30px;
        }

        @include medium {
          font-size: 1.6rem;
          line-height: 2.24rem;
        }
      }

      & .share-block {
        padding-top: 42.2px;
        padding-bottom: 62.2px;
        border-top: 1px solid rgba(196, 196, 196, .6);
        display:  flex;
        flex-flow: row nowrap;

        @include xs {
          padding-top: 30px;
          padding-bottom: 35px;
        }

        & .share-text {
          font-style: normal;
          font-weight: 500;
          font-family: variable(primary-font);

          @include xs {
            font-size: 1.6rem;
            line-height: 1.76rem;
          }

          @include medium {
            font-size: 1.8rem;
            line-height: 1.8rem;
          }

          @include medium {
            font-size: 18px;
          }

          @include large {
            font-size: 2rem;
            line-height: 2.2rem;
          }
        }

        & .social-menu {
          margin: 0;
          margin-left: 30px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          .social-menu__icon {
            fill: clr(subcolor-1);
          }
        }
      }
    }
}

.article-header-image {
  font-family: variable(primary-font);

    &__image {
      position: relative;
      margin-bottom: 10px;
      width: 100%;
      overflow: hidden;
      height: 37.5rem;

      @include medium {
        height: 46.6rem;
      }

      @include xl {
        height: 61.7rem;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__border {
      position: absolute;
      bottom: (-$brand-border-offset);
      width: 100%;

      svg {
        display: block;
        width: 100%;
        height: auto;
        fill: clr(subcolor-2);
      }
    }
}

.article-header-noimage {
  font-family: variable(primary-font);
  position: relative;
  overflow: hidden;

  &__border {
    position: relative;
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: clr(subcolor-3);
    }

    @include xs {
      bottom: 2rem;
    }

    @include medium {
      bottom: 0.5rem;
    }

    @include large {
      bottom: (-$brand-border-offset);
    }
  }

  &__inner {
    position: relative;
    z-index: 2;

    @include xs {
      max-height: 326px;
    }

    @include medium {
      max-height: 388px;
      background-size: 40% auto;
    }

    @include large {
      max-height: 100%;
      background-size: 48% auto;
    }
  }

  &__brand_shape {
    z-index: 1;
    position: absolute;
    display: block;
    
    @include xs {
      top: -9.5rem;
      right: -13rem;
      width: 35rem;
      height: 50rem;
    }

    @include medium {
      top: -2.5rem;
      right: -16rem;
      width: 52rem;
      height: 38rem;
    }

    @include xl {
      top: -17rem;
      right: -14.4rem;
      width: 74rem;
      height: 74rem;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: clr(subcolor-1);
      opacity: 0.2;
    }
  }

  &__text_wrapper {
    padding-top: 30px;

    @include large {
      padding-top: 120px;
    }
  }

}
