{#{{  dump(qa_items) }}#}
{% for item in qa_items %}
  <li class="list-item list-item--faq">
    <div class="list-item__question">
      <div class="list-item__faq-mark">Q:</div>
      {{  item.question|raw }}
    </div>
    <div>
      <div class="list-item__answer">
        <div class="list-item__faq-mark">A:</div>
        {{  item.answer|raw }}
      </div>
    </div>
  </li>
{% endfor %}
