.footer-menu {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  @include xl {
    height: 100%;
    align-items: center;
    margin-left: 12.5rem;
  }
}

.footer-menu__item {
  flex: 0 1 50%;
  margin: 0 0 26px 0;

  @include medium {
    flex: 0 0 33%;
  }

  @include xl {
    flex: 0 1 auto;
    margin: 0 60px 0 0;
  }
}

.footer-menu__link {
  @include link;

  font-family: variable(primary-font);
  color: clr(primary);
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.6rem;

  @include medium {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
