.where-to-buy {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  .where-to-buy-link {
    @include set-font($font-type: 'secondary-font');
    @include text_link;

    display: block;
    padding: 1.8rem 1rem;
    line-height: 1;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: clr(primary);
    border: none;
    background: transparent;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .where-to-buy-button {
    @include set-font($font-type: 'primary-font');

    color: clr(text-inverse);
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: none;
    border-radius: variable(button-border-radius);
    white-space: nowrap;
    cursor: pointer;
    flex-grow: 1;

    @include cta-background-animation(clr(secondary), clr(subcolor-3));

    transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 0);
  }

  &--pdp-hero {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    @include medium {
      padding: 0 59px;
    }

    @include large {
      display: inline-block;
      width: auto;
      padding: 0;
    }

    .where-to-buy-button {
      min-width: 13.3rem;

      @include medium {
        min-width: 15.7rem;
      }

      @include large {
        min-width: 20.2rem !important;
      }

      @include xl {
        font-size: 1.6rem;
      }

      &:hover {
        color: clr(secondary);
      }
    }

    .ps-widget.ps-enabled[ps-sku] {
      flex-grow: 1;
      max-width: 100%;
      padding: 0 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @include large {
        flex-grow: 0;
        min-width: 202px;
      }

      &:hover {
        min-width: 202px;
      }
    }
  }
}

.product-card {
  .where-to-buy {
    .where-to-buy-link,
    .where-to-buy-button {
      max-width: 16.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &:hover {
    .where-to-buy-button {
      color: clr(secondary);
      text-align: center;
      text-decoration: none;
      @include cta-background-animation(clr(subcolor-3), clr(secondary));

      transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 0);

      &:hover {
        color: clr(subcolor-3);
      }
    }

    @include medium {
      .default-link {
        color: clr(secondary);
        box-shadow: none;

        &:hover {
          color: clr(subcolor-3);
        }
      }

      .where-to-buy {
        color: clr(subcolor-3);

        .where-to-buy-link {
          color: currentColor;
        }

        &.price-spider .ps-widget {
          color: clr(secondary);
          @include cta-background-animation(clr(subcolor-3), clr(secondary));

          transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 0);

          &:hover {
            color: clr(subcolor-3);
          }
        }
      }
    }
  }

  .where-to-buy.price-spider .ps-widget {
    padding: 0 1rem;
    border: none !important;
    background-position: right top;
    transition: color 0.6s cubic-bezier(0.75, 0, 0.25, 0);
    display: flex;
    flex-grow: 1;
    min-width: auto;
    max-width: 16.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .ps-button-label {
      flex-grow: 1;
      min-width: auto;
    }
  }
}
