{% set related_recipes__base_class = 'flexible-framer' %}

{% set divider = '<div class=divider>'~divider~'</div>' %}
<section {{ bem(related_recipes__base_class) }} data-theme="{{ theme_styles }}">
  <div class="curve">
    {{ brand_borders | raw }}
  </div>

  {% include "@organisms/grid/grid-ff.twig" with {
    grid_label: grid_label,
    grid_type: grid_type,
    divider: divider,
    item_type: item_type,
    items: items
  } %}
</section>
