/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */

/////////////////////
// Global Breakpoints

// Avoid using in favor of atomic, content-specific, breakpoints.
// These should be used for generic code, like layouts and typography, only.

$xs: 275px;
$small: 375px;
$medium: 768px;
$large: 1024px;
$largescreens: 1025px;
$larger: 1280px;
$xl: 1440px;

$tablet: 376px;
$desktop: 769px;

// The max-width breakpoint is used when the design should be applied at whatever the
// largest breakpoint is regardless of actual pixel value. e.g. removing outer margin on body wrapper
$max-width: $xl;

/// Mixin - xs Breakpoint
/// Allows easier @include xs {} syntax
@mixin xs {
  @include breakpoint($xs) {
    @content;
  }
}

/// Mixin - small Breakpoint
/// Allows easier @include small {} syntax
@mixin small {
  @include breakpoint($small) {
    @content;
  }
}

/// Mixin - tablet Breakpoint
/// Allows easier @include tablet {} syntax
@mixin tablet {
  @include breakpoint($tablet) {
    @content;
  }
}

/// Mixin - medium Breakpoint
/// Allows easier @include medium {} syntax
@mixin medium {
  @include breakpoint($medium) {
    @content;
  }
}

/// Mixin - desktop Breakpoint
/// Allows easier @include desktop {} syntax
@mixin desktop {
  @include breakpoint($desktop) {
    @content;
  }
}

/// Mixin - large Breakpoint
/// Allows easier @include large {} syntax
@mixin large {
  @include breakpoint($large) {
    @content;
  }
}

/// Mixin - larger Breakpoint
/// Allows easier @include larger {} syntax
@mixin larger {
  @include breakpoint($larger) {
    @content;
  }
}

/// Mixin - xl Breakpoint
/// Allows easier @include xl {} syntax
@mixin xl {
  @include breakpoint($xl) {
    @content;
  }
}

/// Mixin - max-width Breakpoint
/// Allows easier @include max-width {} syntax
@mixin max-width {
  @include breakpoint($max-width) {
    @content;
  }
}

/// Mixin - max-width with pair Breakpoint
/// Mixin must receive value like `$xs $medium`
@mixin max-width-interval($pair) {
  @include breakpoint($pair) {
    @content;
  }
}

@mixin largescreens {
  @include breakpoint($largescreens) {
    @content;
  }
}
