/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.6;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  width: 100%;
  margin: #{$v-margin} auto;
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin dl-reset {
  margin: 0;
}

@mixin dd-reset {
  display: inline;
  margin: 0;
}

@mixin link {
  color: clr(secondary);

  &:hover {
    color: clr(secondary);
  }
}

@mixin text_link {
  color: clr(subcolor-1);
}

@mixin playbutton {
  display: block;
  border-radius: 50%;
  border: hidden;
  background-color: clr(text-inverse);
  position: absolute;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  > div {
    width: 0;
    height: 0;
    margin: auto 35%;
  }

  & .sronly--pause {
    display: none;
  }
}

@mixin pausebutton {
  display: block;
  border-radius: 50%;
  border: hidden;
  background-color: clr(background-button);
  position: absolute;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  > div {
    width: 14px;
    height: 18px;
    margin: auto;
  }

  & .sronly--play {
    display: none;
  }
}

@mixin mutebutton {
  display: block;
  border-radius: 50%;
  border: hidden;
  background-color: clr(text-inverse);
  position: absolute;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  > div {
    width: 0;
    height: 0;
    margin: auto 35%;
  }

  & .sronly--unmute {
    display: none;
  }
}

@mixin brand-border-overflow {
  &__border {
    position: absolute;
    width: 100%;
    transform: translateY(-100%) translateY($brand-border2-offset);
    z-index: $brand-border-overflow-zindex;

    &--no-overflow {
      position: relative;
      transform: none;
      background-color: $white;
      margin-top: 5rem;

      @include medium {
        margin-top: 6rem;
      }

      @include large {
        margin-top: 8rem;
      }
    }

    svg {
      display: block;
      top: $brand-border2-offset;
      width: 100%;
      fill: clr(subcolor-2);
      height: auto;
    }
  }

  .layout-builder__section & &__border {
    position: relative;
    transform: none;
    background-color: $white;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
      linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%),
      linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  }
}

@mixin cta-background-animation($mainColor, $subColor) {
  transition: background-position 0.6s cubic-bezier(0.75, 0, 0.25, 0);
  background: linear-gradient(45deg, $subColor 50%, $mainColor 50%);
  background-size: 200% 200%;
  background-position: right top;

  &:hover {
    background-position: left bottom;
  }
}
