.social-feed-slide {
  border-radius: 1rem;
  width: 24.8rem;
  height: 24.8rem;
  overflow: hidden;

  @include medium {
    width: 21.6rem;
    height: 21.6rem;
  }

  @include xl {
    width: 31.7rem;
    height: 31.7rem;
  }

  &__link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: clr(text-inverse);
    font-size: 1.4rem;

    &:focus::after { // TODO: focus ring should be applied via mixin
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      outline: 0;
      border-radius: 1rem;
      border: 2px solid black;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background: linear-gradient(180deg, #444 0%, rgba(0, 0, 0, 0) 73%);
    position: absolute;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 0 6rem 0;

    svg {
      width: 1.8rem;
      fill: clr(subcolor-3);
      margin-left: 2rem;
    }
  }

  &__data {
    @include set-font($font-type: 'primary-font');

    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 2rem;
    color: clr(subcolor-3);
  }

  &__image {
    border-radius: 1rem;
  }

}
