.entry-gate-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;

  @include xl {
    flex-direction: row;
    max-height: 5.5rem;
  }

  &__fieldset {
    padding: 0;
    margin: 0 0 2rem 0;
    border-radius: variable(button-border-radius);
    display: inline-block;
    font-size: 0;
    border: none;

    @include xl {
      margin-bottom: 0;
    }

    &--error {
      border: 1px solid clr(primary);
    }
  }

  &__input-container {
    position: relative;
    display: inline;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: .1rem;
      height: 3rem;
      background-color: clr(subcolor-4);
      top: -20px;
      right: 1px;
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  &__input {
    color: clr(primary);
    font-family: variable(secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;
    border: none;
    outline: none;

    @include xs {
      max-width: 7rem;
    }

    @include small {
      max-width: 9rem;
    }

    @include medium {
      max-width: 15rem;
    }

    &--rounded-left {
      border-top-left-radius: variable(button-border-radius);
      border-bottom-left-radius: variable(button-border-radius);
    }

    &--rounded-right {
      border-top-right-radius: variable(button-border-radius);
      border-bottom-right-radius: variable(button-border-radius);
    }

    &:focus+label,
    &:not(:focus):valid+label {
      top: -3.6rem;
      font-size: 1.6rem;
    }
  }

  &__input-label {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    left: 0;
    pointer-events: none;
    font-family: variable(secondary-font);
    transition: all .3s ease;
    color: clr(primary);

    @include xs {
      font-size: 1.6rem;
      top: -1.8rem;
    }

    @include small {
      font-size: 1.6rem;
      top: -1.8rem;
    }

    @include medium {
      font-size: 2rem;
      top: -2.2rem;
    }
  }

  &__submit-btn {
    position: relative;
    line-height: 5.8rem;
    background: clr(secondary);
    color: clr(subcolor-3);
    border-radius: variable(button-border-radius);
    font-family: variable(secondary-font);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    overflow: hidden;
    z-index: 1;
    transition: color .3s;
    padding: 0 7rem;
    max-width: 20rem;
    min-width: 100%;
    margin: 0 auto;

    @include medium {
      min-width: 0;
    }

    @include xl {
      margin: 0;
    }

    & > span {
      @include xs {
        line-height: 1.4rem;
        font-size: 1.4rem;
      }

      @include large {
        line-height: 1.6rem;
        font-size: 1.6rem;
      }
    }

    &:hover {
      color: clr(primary);
      background-color: transparent;
      transition: background-color 0.5s cubic-bezier(.75, 0, .25, 1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 500%;
      height: 1000%;
      background: clr(subcolor-3);
      z-index: -1;
      transform-origin: 0% 0%;
      transform: translateX(0) translateY(10%) rotate(45deg);
      transition: transform .5s;
    }

    &:hover::after {
      transform: translateX(0) translateY(-50%) rotate(45deg);
    }
  }

  &__error-message {
    display: none;
    font-family: variable(secondary-font);
    color: clr(primary);
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  // hide spinners/arrows of the number inputs
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  // styling for input placeholders
  ::placeholder {
    color: clr(primary);
    font-family: variable(secondary-font);
    opacity: 1;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  :-ms-input-placeholder {
    color: clr(primary);
    font-family: variable(secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  ::-ms-input-placeholder {
    color: clr(primary);
    font-family: variable(secondary-font);
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
