.entry-gate-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;

  @include xl {
    flex-direction: row;
  }

  &__fieldset {
    padding: 0;
    margin: 0 2rem 2rem;
    border-radius: variable(button-border-radius);
    display: flex;
    font-size: 0;
    border: none;
    overflow: hidden;

    @include xl {
      margin-bottom: 0;
    }

    &--error {
      border: 1px solid clr(secondary);
    }
  }

  &__input-container {
    position: relative;
    display: inline;
    overflow: hidden;
    flex-grow: 1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: .1rem;
      height: 3rem;
      background-color: clr(subcolor-4);
      top: 50%;
      right: 1px;
      transform: translateY(-50%);
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }

    @include xl {
      max-width: 14.5rem;
    }
  }

  &__input {
    @include set-font($font-type: 'secondary-font');

    color: clr(entrygate_date_color);
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    border-radius: var(--card-border-radius);

    @include large {
      padding: 2rem 0 1.5rem;
    }

    &:focus+label,
    &:not(:focus):valid+label {
      top: 1rem;
      font-size: 1.2rem;
    }

    &--invalid,
    &--invalid + label {
      color: clr(secondary);
    }
  }

  .entry-gate-form__input-container:last-child input:invalid:not(:placeholder-shown) + label{
    top: 1rem;
    font-size: 1.6rem;

    @include xs {
      font-size: 1.2rem;
    }

    @include medium {
      font-size: 1.2rem;
    }

    @include xl {
      font-size: 1.2rem;
    }

  }

  &__input-label {
    @include set-font($font-type: 'secondary-font');

    position: absolute;
    text-align: center;
    font-size: 1.6rem;
    pointer-events: none;
    transition: all .3s ease;
    color: clr(entrygate_text_color);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include medium {
      font-size: 2rem;
    }
  }

  &__submit-btn {
    @include set-font($font-type: 'secondary-font');

    position: relative;
    line-height: 5rem;
    background: clr(secondary);
    color: clr(subcolor-3);
    border-radius: variable(button-border-radius);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    overflow: hidden;
    z-index: 1;
    transition: color .3s;
    padding: 0 7rem;
    max-width: 20rem;
    min-width: 100%;
    margin: 0 auto;

    @include medium {
      min-width: 0;

      &:hover {
        color: clr(primary);
        background-color: transparent;
        transition: background-color .6s cubic-bezier(.75, 0, .25, 0);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 1000%;
        background: clr(subcolor-3);
        z-index: -1;
        transform-origin: 0% 0%;
        transform: translateX(0) translateY(10%) rotate(45deg);
        transition: transform .5s;
      }

      &:hover::after {
        transform: translateX(0) translateY(-50%) rotate(45deg);
      }
    }

    @include xl {
      margin: 0;
      height: 6rem;
    }

    & > span {
      @include xs {
        line-height: 1.4rem;
        font-size: 1.4rem;
      }

      @include large {
        line-height: 1.6rem;
        font-size: 1.6rem;
      }
    }
  }

  &__error-message {
    @include set-font($font-type: 'secondary-font');

    display: none;
    color: clr(entrygate_alert_color);
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  // hide spinners/arrows of the number inputs
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  // styling for input placeholders
  ::placeholder {
    @include set-font($font-type: 'secondary-font');

    color: clr(primary);
    opacity: 1;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  :-ms-input-placeholder {
    @include set-font($font-type: 'secondary-font');

    color: clr(primary);
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  ::-ms-input-placeholder {
    @include set-font($font-type: 'secondary-font');

    color: clr(primary);
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
