.product-selector {
  padding: 20px;

  &__information,
  &__form-container {
    width: 100%;

    @include medium {
      width: 688px;
      margin: auto;
    }

    @include xl {
      width: 900px;
    }
  }

  &__information {
    margin-bottom: 30px;

    @include medium {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__image {
    height: 133px;
    width: 133px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    @include medium {
      width: 150px;
      height: 150px;
      margin-right: 20px;
    }

    @include xl {
      height: 277px;
      width: 277px;
      margin-right: 30px;
      justify-content: flex-end;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    @include set-font($font-type: 'primary-font');

    font-size: 20px;
    line-height: 22px;
    color: clr(primary);
    text-transform: uppercase;
    text-align: center;

    @include medium {
      width: 451px;
    }

    @include xl {
      width: 550px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    @include medium {
      flex-direction: row;
    }

    @include xl {
      margin-bottom: 30px;
    }
  }

  &__item-selector,
  &__product-variant-selector {
    @include set-font($font-type: 'secondary-font');

    appearance: none;
    outline: none;
    background-color: transparent;
    padding: 14px 40px 14px 20px;
    margin: 0;
    width: 100%;
    border-radius: variable(button-border-radius);
    border: 1px solid clr(subcolor-4);
    color: clr(primary);
    font-size: 16px;
    line-height: 22px;
    position: relative;
    cursor: pointer;
  }

  &__item-selector {
    margin-bottom: 15px;

    @include medium {
      margin-bottom: 0;
    }

    &--hide-size-dropdown{
      @include xl {
        width: 100%;
      }
    }
  }

  &__product-variant-selector {
    @include medium {
      width: 275px;
    }

    @include xl {
      width: 320px;
    }
  }

  &__select-wrapper {
    position: relative;

    &:first-child {
      @include medium {
        margin-right: 20px;
        flex-grow: 1;
      }

      @include xl {
        margin-right: 30px;
      }
    }

    &::before {
      content: "";
      height: 9px;
      width: 9px;
      top: 19px;
      right: 20px;
      border-right: 1px solid clr(secondary);
      border-bottom: 1px solid clr(secondary);
      position: absolute;
      transform: rotate(45deg);
    }
  }

  /* Prevent multiple widget block displaying */
  #cci-inline-root + #cci-inline-root {
    display: none;
  }

  .ps-widget[ps-sku] {
    display: inline-block !important;
    margin-top: 20px;
    float: none;
  }
}

/* #AB293784 */
div#cci-inline-root > div > div > div:nth-child(2) {
  height: 210px !important;
}
