.recommendations {
  position: relative;
  background-color: clr(subcolor-2);
  padding-bottom: 4rem;

  @include brand-border-overflow;

  &__border {
    margin-top: 0;
  }

  &__wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    @include xl {
      // side boxes that hide cards which overflow grid
      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: clr(subcolor-2);
      }
    
      &::before { right: 100%; }
      &::after { left: 100%; }
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    &--main-heading {
      @include set-font($font-type: 'heading-font');

      text-align: center;
      color: clr(primary);
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 4rem;
      width: 33.5rem;

      @include xs {
        font-size: 3rem;
      }

      @include small {
        font-size: 3rem;
      }

      @include medium {
        font-size: 5.6rem;
        width: 47.8rem;
      }

      @include large {
        font-size: 6.4rem;
        margin-bottom: 6rem;
        width: 89.5rem;
      }
    }
  }

  &__graphic-divider {
    margin-bottom: .5rem; // margin-top 3.5rem on the card due to "new" badge

    @include large {
      margin-bottom: 2.5rem; // margin-top 3.5rem on the card due to "new" badge
    }
  }

  &--brand-border {
    .recommendations__heading--main-heading {
      margin-top: 0;
    }
  }

  .recommendations-swiper-container-outer {
    position: relative;
  }

  // overrides for the default styles of swiper - container, progress bar and buttons of the carousel
  .recommendations-swiper-container {
    width: 100%;
    overflow: visible;
  }

  // increasing specificity to avoid using !important
  .swiper-scrollbar {
    background-color: rgba(clr(secondary-rgb),0.4);
    height: 0.5rem;
    width: 16.1rem;
    margin: 1rem auto 0;

    @include medium {
      height: 0.5rem;
      width: 25.7rem;
      margin-top: 2rem;
    }

    @include xl {
      height: 0.8rem;
      width: 42.7rem;
      margin-top: 4rem;
    }

    & .swiper-scrollbar-drag {
      background: clr(secondary);
    }
  }

  .swiper-slide {
    @include card-width;

    .product-card__image img,
    .product-card__img-hover img {
      transition: transform cubic-bezier(0.75, 0, 0.25, 0) 0.8s, opacity .25s ease-in;
    }

    &[inert] {
      [tabindex='0'] {
        visibility: hidden !important; // fix for pricespider which add tabidex=0 asynchronously
      }
    }
  }

  :not(.swiper-button-lock) ~ .swiper-container .swiper-slide.is-in-viewport { // skip img zoom if all items on the screen (no prev/next buttons)
    .product-card__image img {
      transition: transform cubic-bezier(0.75, 0, 0.25, 0) 0.8s, opacity .25s ease-in;
    }

    .product-card__img-hover img {
      transform: translate(-50%, 0) scale(1.1);
    }
  }

  .recipe-card {
    .recipe-card__media {
      width: 100%;
    }
    .recipe-card-heading__link {
      min-width: 0;
    }
  }

  .recipe-card,
  .article-card,
  .product-card,
  .recommendations-card {
    box-sizing: border-box;
    height: 5.2rem;
    margin-top: 3.5rem; //due to "new" badge
    margin-bottom: 2rem; // space for shadow

  }

  .article-card {
    &__content {
      display: block;
    }

    .article-card-paragraph {
      flex-grow: 0;
    }

    .default-link {
      margin-top: 7.45rem;
    }
  }

  .swiper-button-prev, .swiper-button-next  {
    background-color: clr(text-inverse);
    border-radius: 50%;
    border: 0;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: -(5.5rem - 3.5rem + 2rem)/2; // -(buttonHeight - cardMarginTop + cardMarginbottom)/2
    width: 5.5rem;
    height: 5.5rem;

    @include medium {
      margin-top: -(6rem - 3.5rem + 2rem)/2;
      width: 6rem;
      height: 6rem;
    }

    @include xl {
      margin-top: -(7rem - 3.5rem + 2rem)/2;
      width: 7rem;
      height: 7rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      display: none; // hide original icon
    }

    &__icon {
      width: 100%;
      height: 100%;
      fill: clr(secondary);
    }
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);

    @include medium {
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);

    @include medium {
      left: 3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
