<div class="search-input">
  <input type="text" class="search-input__field" id="search"
         placeholder="Search products, recipes, articles..."/>
  <ul class="search-input__suggestions" id="suggestions"></ul>
</div>
