.pdp-nutrition {
  position: relative;
  padding: 3rem 2rem;
  background: $white;
  max-width: 1440px;
  margin: 0 auto;

  @include medium {
    padding: 4rem;
  }

  @include large {
    padding: 4rem;
  }

  &+& {
    @include large {
      padding-top: 2rem;
    }
  }

  &__table-header {
    @include set-font($font-type: 'primary-font');

    text-align: center;
    font-size: 2rem;
    line-height: 1.1;
    color: clr(primary);
    margin-top: 0;

    @include large {
      font-size: 2.4rem;
    }
  }

  &__container {
    display: block;
    padding: 2.7rem 1.7rem;
    border: solid 1px rgba(clr(subcolor-4-rgb), 0.6);
    background: rgba(clr(subcolor-4-rgb), 0.1);
    border-radius: 2rem;

    @include medium {
      padding: 3.6rem 4rem;
    }

    @include large {
      padding: 4.6rem 8.6rem;
    }
  }

  &__heading {
    margin-bottom: 3.1rem;

    @include medium {
      margin-bottom: 2.3rem;
    }

    @include large {
      margin-bottom: 4.7rem;
    }
  }

  &__heading-list {
    @include dl-reset;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__heading-item {
    @include dd-reset;

    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: clr(accent-high);
    white-space: nowrap;

    @include medium {
      font-size: 2.6rem;
      line-height: normal;
    }

    @include large {
      font-size: 2.8rem;
      line-height: 1.1;
    }

    &--label {
      margin-right: 1rem;
    }
  }

  &__nutrition-row {
    display: flex;
    flex-direction: column;

    @include large {
      flex-direction: row;
    }
  }

  &__nutrition-column {
    flex: 1 0 50%;
    margin-bottom: 1rem;

    @include large {
      margin-bottom: 0;
      padding-right: 100px;

      &:last-child {
        padding-right: 0;
        padding-left: 100px;
      }
    }
  }

  &__section-column {
    &-list {
      @include dl-reset;

      display: flex;
      margin: .8rem 0;

      @include large {
        margin: 1.2rem 0;
      }

      &--heading {
        margin: 2rem 0;
        text-transform: uppercase;

        @include large {
          margin-bottom: 1.7rem;
        }
      }

      &--additional-info {
        display: block;

        & + & {
          margin-top: 2rem;
        }
      }

      &--info-block {
        display: block;
      }

      &--upper {
        text-transform: uppercase;
      }
    }

    &--heading {
      border-top: 3px solid $nero;
    }

    &--data {
      border-bottom: 1px solid rgba(196, 196, 196, 0.6);

      &:last-child {
        border-bottom: none;
      }

      & + .pdp-nutrition__section-column:not(.pdp-nutrition__section-column--data) {
        margin-top: 2rem;

        @include large {
          margin-top: 0;
        }
      }

      .pdp-nutrition__section-column-item:last-child {
        text-align: right;
      }
    }

    &-item {
      @include dd-reset;

      flex: 1 0 auto;
      color: $nero;
      font-size: 1.2rem;
      line-height: 1.1;

      @include large {
        font-size: 1.4rem;
      }

      &--heading {
        flex: 1 0 50%;
        font-weight: bold;
        font-size-adjust: 0.5;

        &:last-child:not(:only-child) {
          text-align: right;
        }
      }

      &--label {
        flex: 1 0 61%;

        @include large {
          flex: 1 0 60%;
          padding-right: 1rem;
        }

        &.bold {
          font-weight: bold;
          font-size-adjust: 0.5;
        }
      }

      &--value {
        flex: 1 0 18%;
        text-align: left;

        @include large {
          flex: 1 0 20%;
        }
      }

      &--mass {
        flex: 1 0 19%;
        text-align: right;
      }

      &--value-daily {
        flex: 1 0 18%;

        @include large {
          flex: 1 0 20%;
        }
      }

      &--additional-info {
        font-weight: bold;
        font-size-adjust: 0.5;

        &:first-child {
          text-transform: uppercase;
        }
      }

      &.bold {
        font-weight: 600;
      }
    }
  }

  .pdp-nutrition__additional-info {
    width: 100%;
    text-align: center;
    padding-top: 2rem;

    @include xs {
      font-size: 1.2rem;
    }

    @include medium {
      font-size: 1.4rem;
    }
  }

  .nutrition-title-normalcase {
    text-transform: lowercase !important;
  }

  .nutrition-title-normalcase::first-letter {
    text-transform: uppercase !important;
  }

  .indent-hide {
    visibility: hidden !important;
  }
}
