$fence-part-size: 1440px*2/101;

.footer {
  background-color: clr(highlight-high);
  // padding: $space 0;

  &__section {
    &--primary {
      background-image: radial-gradient(circle at 50% 50%, clr(top-nav, top-nav-gradient, footer-top, footer-top-gradient), clr(top-nav, footer-top));

      .footer__section-content {
        padding: 20px 20px 5px;
        display: flex;
        flex-flow: column nowrap;
        max-width: 1440px;
        margin: 0 auto;

        @include tablet {
          padding: 20px 40px 25px;
        }

        @include desktop {
          flex-flow: row nowrap;
          padding: 10px 40px 14px;
        }
      }
    }

    &--secondary {
      position: relative;
      min-height: 400px;
      background-color: clr(bottom-nav);

      .footer__section-content {
        padding: 48px 20px 20px;
        display: flex;
        flex-flow: column nowrap;
        max-width: 1440px;
        margin: 0 auto;

        @include medium {
          flex-flow: row wrap;
          padding: 20px 40px;
        }
      }
    }
  }

  &__border {
    position: relative;
    bottom: -4px;
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: clr(bottom-nav);
    }
  }
}

.footer__menu {
  flex: 1 1 auto;

  @include large {
    flex: 1 1 100%;
  }
}

.footer__social {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 1;

  @include medium {
    flex: 0 1 50%;
  }

  @include large {
    flex: 0 1 33%;
    margin-top: 0.9rem;
  }

  .social-menu {
    display: block;
  }

  .social-menu__item {
    display: inline;

    &:nth-child(5n)::after {
      content: "\A";
      white-space: pre-line;
    }
  }

  .social-menu__link svg path{
    fill: clr(subcolor-3);
  }
}

.footer__legal-links {
  margin-bottom: 10px;
  flex: 0 1 100%;
  order: 3;

  @include large {
    flex: 0 1 66%;
    order: 2;

    &--large {
      .legal-links-menu__item {
        flex: 0 1 25%;
      }
    }

    &--full-width {
      flex: 0 1 100%;
    }
  }
}

.footer__section-header {
  @include set-font($font-type: 'primary-font');

  color: clr(subcolor-3);
  font-size: 1.6rem;
  line-height: 1;

  @include medium {
    flex: 0 1 50%;
  }

  @include large {
    font-size: 1.8rem;
  }
}

.footer__region-selector {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 2;

  @include medium {
    flex: 0 1 50%;
  }

  @include large {
    flex: 0 1 33%;
    order: 3;
    padding-right: 135px;
  }
}

.footer__info {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 4;

  @include large {
    flex: 0 1 66%;
  }
}

/* TODO: Merge all .footer__logoLink styles */

.footer__logo {
  flex: 0 0 10.1rem;
  max-width: 10.4rem;
  max-height: 3.9rem;
  margin: 1rem 0 2.6rem 0;
  .footer__logoLink{
    display: inline-block;
    width: 100%;
    height: 100%;
    img{
      object-fit: contain;
    }
  }

  @include xs {
    flex: 0 0 10.4rem;
    max-width: 10.4rem;
    max-height: 3.9rem;
    margin: 2rem 0 3.9rem 0;

    .footer__logoLink {
      img {
        max-height: 3.9rem !important;
      }
    }
  }

  @include medium {
    flex: 0 0 14.1rem;
    max-width: 14.1rem;
    max-height: 5.3rem;
    margin: 2rem 0 2.6rem 0;

    .footer__logoLink {
      img {
        max-height: 5.3rem;
      }
    }
  }

  @include large {
    margin: 3rem 0 2.6rem 0;
    max-width: 13.2rem;
    max-height: 4.7rem;
  }

  @include larger {
    flex-basis: 21.2rem;
    max-width: 21.2rem;
    max-height: 9.8rem;
    margin: 2rem 0 1.2rem 0;

    .footer__logoLink {
      img {
        max-height: 9.8rem;
        min-height: 9.8rem;
      }
    }
  }
}

.footer__logoLink {
  display: block;
  width: 104px;
  height: 39px;

  @include large {
    width: 141px;
    height: 53px;
  }

  @include xl {
    width: 212px;
    height: 98px;
  }

  img {
    height: 100%;
    object-fit: contain;
    object-position: left center;
  }
}

.footer__marketing-text-title {
  @include set-font($font-type: 'primary-font');

  color: clr(subcolor-3);
  font-size: 1.2rem;
  line-height: 1.6;

  @include medium {
    font-size: 1.4rem;
  }

  @include large {
    font-size: 1.2rem;
  }
}

.footer__marketing-text {
  @include set-font($font-type: 'secondary-font');

  color: clr(subcolor-3);
  font-size: 1.2rem;
  line-height: 1.6;

  strong {
    @include set-font($font-type: 'primary-font');
  }

  @include medium {
    font-size: 1.4rem;
  }

  @include large {
    font-size: 1.2rem;
  }
}

.footer__copyright {
  @include set-font($font-type: 'secondary-font');

  color: clr(subcolor-3);

  @include xs {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  @include medium {
    font-size: 1.4rem;
  }

  @include large {
    font-size: 1.2rem;
  }
}

.footer__separator_1 {
  height: 0.1rem;
  order: 3;
  flex: 0 1 auto;
  background-color: clr(subcolor-3);
  opacity: .5;
  margin: 2rem 0 1rem;

  @include medium {
    flex: 0 1 100%;
  }

  @include large {
    display: none;
  }
}

.footer__separator_2 {
  height: 1px;
  order: 5;
  flex: 0 1 auto;
  background-color: clr(subcolor-3);
  opacity: .5;

  @include medium {
    flex: 0 1 100%;
  }
}

.footer__corporate-tout {
  @include set-font($font-type: 'primary-font');

  display: flex;
  flex-direction: column;
  color: clr(subcolor-3);
  order: 6;
  flex: 0 1 100%;
  margin: 50px 0 30px;
  font-size: 2rem;
  line-height: 1.1;

  @include medium {
    margin: 30px 0 10px;
    font-size: 2.6rem;
    position: relative;
  }

  @include large {
    margin: 30px 0 10px;
    font-size: 2.8rem;
    position: relative;
  }

  @include xl {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    display: inline-block;
    position: relative;
  }

  .default-link {
    border: 2px solid clr(subcolor-3);
    width: fit-content;
    @include cta-background-animation(transparent, clr(subcolor-3));
  }
}

.corporate-tout__text {
  margin: 0 0 18px;
}

.footerLogo img {
  float: left;
  height: auto;
  width: 33%;
  cursor: default;
  position: absolute;
  bottom:0;
  z-index: 5;

  @include xs {
    right: 68%;
    bottom: 1.5%;
    float: left;
    height: auto;
    width: 25%;
    cursor: default;
  }

  @include small {
    right: 75%;
    bottom: 1.5%;
    float: left;
    height: auto;
    width: 19%;
    cursor: default;
  }

  @include medium {
    float: right;
    right: 0;
    height: auto;
    top : 65%;
    width: 15%;
  }

  @include large {
    float: right;
    height: auto;
    width: 3%;
    min-width: 12%;
    right: 0;
    top: 55%;
    cursor: default;
  }
  
  @include larger{
    right : 0;
    height: auto;
    min-width: 12%;
    top: 53%;
    cursor: default;
  }

  @include xl{
    right: 0;
    height: auto;
    top: 44%;
    cursor: default;
  }
}
