$fence-part-size: 1440px*2/101;

.footer {
  background-color: clr(highlight-high);
  // padding: $space 0;

  &__section {
    &--primary {
      background-image: radial-gradient(circle at 50% 50%, rgba(245, 225, 164, 0.6), clr(secondary));
      border-bottom: 15px solid transparent;

      .footer__section-content {
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;

        @include xl {
          flex-flow: row nowrap;
        }
      }
    }

    &--secondary {
      min-height: 400px;
      background-color: clr(primary);

      .footer__section-content {
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;

        @include medium {
          flex-flow: row wrap;
        }
      }
    }
  }
}

.footer__menu {
  flex: 1 1 auto;

  @include large {
    flex: 1 1 100%;
  }
}

.footer__social {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 1;

  @include medium {
    flex: 0 1 50%;
  }

  @include xl {
    flex: 0 1 33%;
  }
}

.footer__legal-links {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 3;

  @include xl {
    flex: 0 1 66%;
    order: 2;
  }
}

.footer__section-header {
  font: 18px/18px variable(primary-font);
  color: clr(subcolor-3);
}

.footer__region-selector {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 2;

  @include medium {
    flex: 0 1 50%;
  }

  @include xl {
    flex: 0 1 33%;
    order: 3;
  }
  
  .region-selector {
    background-color: clr(background-section);
    padding: $space-triple;
    text-align: center;
    text-transform: uppercase;
  }  
}

.footer__info {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 4;

  @include xl {
    flex: 0 1 66%;
  }
}

.footer__logo {
  margin: 10px 0 10px -10px;

  .logo__image {
    width: auto;
  }
}

.footer__marketing-text-title {
  font: 14px/22px variable(primary-font);
  color: clr(subcolor-3);
}

.footer__marketing-text {
  font: 14px/22px variable(secondary-font);
  color: clr(subcolor-3);
}

.footer__copyright {
  font: 14px/22px variable(secondary-font);
  color: clr(subcolor-3);
}

.footer__separator {
  height: 1px;
  order: 5;
  flex: 0 1 100%;
  background-color: clr(subcolor-3);
  opacity: .5;
}

.footer__corporate-tout {
  font: 28px/28px variable(primary-font);
  color: clr(subcolor-3);
  order: 6;
  flex: 0 1 100%;
  margin: 50px 0 30px;
}
