$fence-part-size: 1440px*2/101;

.footer {
  background-color: clr(highlight-high);
  // padding: $space 0;

  &__section {
    &--primary {
      background-image: radial-gradient(circle at 50% 50%, clr(top-nav-gradient), clr(top-nav));

      .footer__section-content {
        padding: 20px 20px 5px;
        display: flex;
        flex-flow: column nowrap;

        @include medium {
          padding: 20px 40px 25px;
        }

        @include xl {
          flex-flow: row nowrap;
        }
      }
    }

    &--secondary {
      position: relative;
      min-height: 400px;
      background-color: clr(bottom-nav);

      .footer__section-content {
        padding: 48px 20px 20px;
        display: flex;
        flex-flow: column nowrap;

        @include medium {
          flex-flow: row wrap;
          padding: 20px 40px;
        }
      }
    }
  }

  &__border {
    position: relative;
    bottom: (-$brand-border-offset);
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: clr(bottom-nav);
    }
  }
}

.footer__menu {
  flex: 1 1 auto;

  @include large {
    flex: 1 1 100%;
  }
}

.footer__social {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 1;

  @include medium {
    flex: 0 1 50%;
  }

  @include xl {
    flex: 0 1 33%;
  }

  .social-menu {
    display: block;
  }

  .social-menu__item {
    display: inline;

    &:nth-child(5n)::after {
      content: "\A";
      white-space: pre-line;
    }
  }

  .social-menu__link svg path{
    fill: clr(subcolor-3);
  }
}

.footer__legal-links {
  margin-bottom: 10px;
  flex: 0 1 100%;
  order: 3;

  @include xl {
    flex: 0 1 66%;
    order: 2;

    &--large {
      .legal-links-menu__item {
        flex: 0 1 25%;
      }
    }

    &--full-width {
      flex: 0 1 100%;
    }
  }
}

.footer__section-header {
  font-family: variable(primary-font);
  color: clr(subcolor-3);

  @include xs {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  @include medium {
    flex: 0 1 50%;
    font-size: 1.6rem;
  }

  @include large {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

.footer__region-selector {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 2;

  @include medium {
    flex: 0 1 50%;
  }

  @include xl {
    flex: 0 1 33%;
    order: 3;
    padding-right: 135px;
  }
}

.footer__info {
  margin-bottom: $space;
  flex: 0 1 100%;
  order: 4;

  @include xl {
    flex: 0 1 66%;
  }
}

.footer__logo {
  flex: 0 0 101px;
  max-width: 10.4rem;
  max-height: 3.9rem;
  margin: 10px 0 26px -10px;

  @include medium {
    flex: 0 0 150px;
    max-width: 14.1rem;
    max-height: 5.3rem;
    margin: 20px 0 26px -15px;
  }

  @include xl {
    max-width: 100%;
    max-height: 100%;
    flex-basis: 212px;
    margin: 20px 0 12px -12px;
  }
}

.footer__marketing-text-title {
  font-family: variable(primary-font);
  color: clr(subcolor-3);

  @include xs {
    font-size: 1.2rem;
    line-height: 1.92rem;
  }

  @include medium {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }

  @include large {
    font-size: 1.2rem;
    line-height: 1.92rem;
  }
}

.footer__marketing-text {
  font-family: variable(secondary-font);
  color: clr(subcolor-3);

  strong {
    font-family: variable(primary-font);
  }

  @include xs {
    font-size: 1.2rem;
    line-height: 1.92rem;
  }

  @include medium {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }

  @include large {
    font-size: 1.2rem;
    line-height: 1.92rem;
  }
}

.footer__copyright {
  font-family: variable(secondary-font);
  color: clr(subcolor-3);

  @include xs {
    font-size: 1.2rem;
    line-height: 1.92rem;
  }

  @include medium {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }

  @include large {
    font-size: 1.2rem;
    line-height: 1.92rem;
  }
}

.footer__separator_1 {
  height: 1px;
  order: 3;
  flex: 0 1 auto;
  background-color: clr(subcolor-3);
  opacity: .5;
  margin: 2rem 0 1rem;

  @include medium {
    flex: 0 1 100%;
  }

  @include xl {
    display: none;
  }
}

.footer__separator_2 {
  height: 1px;
  order: 5;
  flex: 0 1 auto;
  background-color: clr(subcolor-3);
  opacity: .5;

  @include medium {
    flex: 0 1 100%;
  }
}

.footer__corporate-tout {
  display: flex;
  flex-direction: column;
  font-family: variable(primary-font);
  color: clr(subcolor-3);
  order: 6;
  flex: 0 1 100%;
  margin: 50px 0 30px;

  @include xs {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  @include medium {
    margin: 30px 0 10px;
    font-size: 2.6rem;
    line-height: 2.86rem;
  }

  @include large {
    margin: 30px 0 10px;
    font-size: 2.8rem;
    line-height: 3.08rem;
  }

  @include xl {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .default-link {
    @include xs {
      font-size: 14px;
      height: 50px;
      line-height: 5rem;
      width: 133px;
      padding: 0 2.7rem;
    }

    @include medium {
      width: 157px;
    }

    @include xl {
      font-size: 16px;
      height: 60px;
      line-height: 6rem;
      width: 202px;
    }
  }
}

.corporate-tout__text {
  margin: 0 0 18px;
}
