.product-feature {
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: clr(secondary);

  @include desktop {
    height: 660px;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__bubble {
    position: absolute;
    height: auto;

    svg {
      width: 100%;
      height: auto;
      fill: clr(subcolor-3);
      opacity: 0.15;
    }

    &--1 {
      width: 42rem;
      top: 2.7rem;
      left: -50%;

      @include medium {
        width: 75rem;
        top: 6.5rem;
        left: -43%;
      }

      @include large {
        width: 76rem;
        top: 12.8rem;
        left: -9.5%;
      }

      @include xl {
        width: 76rem;
        top: 2.7rem;
        left: -6%;
      }
    }

    &--2 {
      display: none;

      @include medium {
        display: block;
        width: 19rem;
        top: 10.7rem;
        right: 7%;
      }

      @include large {
        width: 17.5rem;
        top: 6rem;
        right: 24%;
      }
    }

    &--3 {
      width: 25rem;
      top: 45.5rem;
      right: -27%;

      @include medium {
        width: 42rem;
        top: 71rem;
        right: -7%;
      }

      @include large {
        width: 38rem;
        top: 47.3rem;
        right: -3.5%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include large {
      flex-direction: row;
    }

    &-column {
      width: 100%;

      @include large {
        width: 50%;
      }

      &--image {
        padding: 4rem 2rem 4rem 2rem;

        @include medium {
          padding: 4rem 4rem 4rem 4rem;
        }

        @include large {
          padding: 4rem 10rem 2rem 4rem;
        }
      }
    }
  }

  &__product_image {
    margin: auto;
    animation: cubic-bezier(0, 0, 1, 1) action 4.8s infinite;
    max-width: 27.7rem;

    @include medium {
      max-width: 54.9rem;
    }

    @include large {
      max-width: 58rem;
    }

    @keyframes action {
      0% {
        transform: translateY(-16px);
      }
      50% {
        transform: translateY(16px);
      }
      100% {
        transform: translateY(-16px);
      }
    }

    img {
      object-fit: contain;
    }
  }

  &__product_text {
    position: relative;
    padding: 0 2rem 5rem 2rem;
    z-index: 2;

    @include medium {
      padding: 0 4rem 6rem 4rem;
    }

    @include large {
      padding: 8rem 4rem 8rem 1.5rem;
    }

    .h1 {
      @include set-font($font-type: 'primary-font');

      font-size: 3rem;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 3rem;

      @include small {
        font-size: 4rem;
      }

      @include medium {
        font-size: 5.6rem;
        margin-bottom: 4rem;
      }

      @include large {
        font-size: 6.4rem;
        margin-bottom: 6rem;
      }
    }
  }

  &__product_eyebrow {
    @include set-font($font-type: 'secondary-font');

    font-size: 1.4rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: clr(subcolor-3);
    display: block;

    @include medium {
      font-size: 1.6rem;
      margin-bottom: 4rem;
    }
  }
}
