.product-feature {
    text-align: left;
    background-color: clr(secondary);

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__bubble {
    position: absolute;
    height: auto;

    svg {
      width: 100%;
      height: auto;
      fill: clr(subcolor-3);
      opacity: 0.15;
    }

    &--1 {
      width: 42rem;
      top: 2.7rem;
      left: -50%;

      @include medium {
        width: 75rem;
        top: 6.5rem;
        left: -43%;
      }

      @include large {
        width: 76rem;
        top: 12.8rem;
        left: -9.5%;
      }
    }

    &--2 {
      display: none;

      @include medium {
        display: block;
        width: 19rem;
        top: 10.7rem;
        right: 7%;
      }

      @include large {
        width: 17.5rem;
        top: 6rem;
        right: 24%;
      }
    }

    &--3 {
      width: 25rem;
      top: 45.5rem;
      right: -27%;

      @include medium {
        width: 42rem;
        top: 71rem;
        right: -7%;
      }

      @include large {
        width: 38rem;
        top: 47.3rem;
        right: -3.5%;
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 740px;

    @include large {
      flex-direction: row;
    }

    &-column {
      @include large {
        width: 50%;
      }
    }
  }

  &__product_image {
    padding: 5rem 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cubic-bezier(0, 0, 1, 1) action 4.8s infinite;

    img {
      width: 100%;
    }

    @include medium {
      padding: 2rem 8rem 0;

      img {
        width: auto;
        max-width: 60.8rem;
        min-width: 400px;
      }
    }

    @include large {
      padding: 8rem 0 8rem 4rem;

      img {
        max-width: 44.42rem;
        max-height: 44.21rem;
      }
    }

    @include xl {
      padding: 15rem 18.19rem 8rem 10.89rem;

      img {
        max-width: 44.42rem;
        max-height: 44.21rem;
      }
    }

    @keyframes action {
      0%   { transform: translateY(-16px); }
      50%  { transform: translateY(16px); }
      100%  { transform: translateY(-16px); }
    }
  }

  &__product_text {
    position: relative;
    padding: 6rem 2rem 2rem;
    z-index: 2;

    .eyebrow {
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-family: variable(primary-font);
    }

    .h1 {
      margin-bottom: 3.5rem;
      font-family: variable(primary-font);
      font-size: 4rem;
      line-height: 1;
      font-weight: 500;
    }

    .default-link {
      line-height: 5rem;
    }

    @include medium {
      padding: 4rem 4rem 6rem;

      .eyebrow {
        margin-bottom: 3.4rem;
        font-size: 1.6rem;
      }

      .h1 {
        margin-bottom: 3rem;
        font-size: 5.6rem;
      }
    }

    @include large {
      padding: 8.4rem 4rem 4rem 1.5rem;

      .h1 {
        font-size: 6.4rem;
      }

      .default-link {
        line-height: 6rem;
      }
    }
  }
}
