.search-results-item {
  font-family: variable(primary-font);
  color: clr(subcolor-3);
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 20px 20px 0 0;
  cursor: default;
  display: flex;
  justify-content: space-between;

  @include medium {
    font-size: 16px;
    margin-right: 30px;
    justify-content: flex-start;
  }

  @include xl {
    font-size: 18px;
    margin-right: 40px;
  }

  &__clear {
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: clr(subcolor-3);
    position: relative;
  }

  &--active &__clear {
    width: 20px;
    height: 20px;
    margin-left: 8px;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 16px;
      border-radius: 2px;
      background-color: clr(secondary);
      position: absolute;
      top: 9px;
    }

    &::before {
      left: 2px;
      transform: rotate(45deg);
    }

    &::after {
      right: 2px;
      transform: rotate(-45deg);
    }
  }

  a {
    color: clr(subcolor-3);
    text-decoration: none;
    cursor: pointer;
  }
}
