.search-results-item {
  font-family: variable(primary-font);
  color: clr(subcolor-3);
  font-size: 14px;
  line-height: 1em;
  letter-spacing: .5px;
  margin: 20px 20px 0 0;

  a {
    color: clr(subcolor-3);
    text-decoration: none;
  }
}
