{% set search_results_item_base_class = search_results_item_base_class|default('search-results-item') %}

<div {{ bem(search_results_item_base_class) }} data-theme="twix">
  <span>{{ item_title }} ({{ item_count }})</span>
  <div {{ bem('clear', [], search_results_item_base_class) }}></div>
</div>
