.no-results-heading {
  font-family: variable(heading-font);
  font-size: 64px;
  line-height: 1em;
  color: clr(primary);
  text-transform: uppercase;
  margin: 80px 0 40px 0;
  text-align: center;
}

.ajax-card-grid-acquia_search,.search-results-page {
  .ajax-card-grid__content {
    background-color: clr(subcolor-3);
  }
}

.card-grid-results {
  background-color: clr(subcolor-2);
}