<section class="search-results-page" data-theme="twix">
  {% include "@molecules/search-page-header/search-page-header.twig" with {
      search_page_header_heading: 'What are you looking for?',
      search_page_header_heading_level: 1,
      search_page_header_heading_base_class: 'search-page-heading'
    }
  %}

  {% include "@organisms/grid/ajax-card-grid.twig" with {
    theme_styles: 'twix',
    ajax_card_grid_heading: 'All results',
    brand_border: '',
  } %}
</section>
