.ambient-video {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ambient-video__control[data-state="play"] {
    @include playbutton;

    top: 15px;
    right: 15px;
    left: auto;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);

    .play-icon {
      width: 20px;
      height: 24px;
      fill: clr(secondary);
      margin: auto 35%;
    }

    @include medium {
      top: 20px;
      right: 20px;
      height: 60px;
      width: 60px;
    }

    @include xl {
      top: 40px;
      right: calc(5% + 40px);
    }
  }

  &__control[data-state="pause"] .play-icon{
    display: none;
  }

  .ambient-video__controls[data-state="unmute"] {
    @include mutebutton;

    top: 75px;
    right: 15px;
    left: auto;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(241, 241, 241, 0.2);

    .mute-icon {
      width: 24px;
      height: 24px;
      fill: #fff ;
      margin: auto 25%;
    }

    @include medium {
      top: 100px;
      right: 20px;
      height: 60px;
      width: 60px;
    }

    @include xl {
      top: 120px;
      right: calc(5% + 40px);
    }
  }

  .ambient-video__controls[data-state="mute"] {
    @extend .ambient-video__controls[data-state="unmute"];

    opacity: 0.5;
  
}

  .ambient-video__control[data-state="pause"] {
    @include pausebutton;

    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    left: auto;
    background-color: clr(background-button);

    >div {
      width: 14px;
      height: 18px;
      border-right: 4px solid clr(text-inverse);
      border-left: 4px solid clr(text-inverse);
      margin: auto;
    }

    @include medium {
      top: 20px;
      right: 20px;
      height: 60px;
      width: 60px;
    }

    @include xl {
      top: 40px;
      right: calc(5% + 40px);
    }
  }
}

.hide-volume {
  display: none !important;
}
