.ambient-video {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    width: 100%;
  }

  .ambient-video__control[data-state="play"] {
    width: 60px;
    height: 60px;
    left: 10px;
    border-radius: 50%;
    border: hidden;
    background-color: clr(text-inverse);
    position: absolute;
    bottom: 25px;
    z-index: 1;
  
    &:hover {
      cursor: pointer;
    }
  
    &:focus {
      outline: 0;
    }
  
    >div {
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 20px solid clr(player);
      margin: auto 35%
    }
  }
  
  .ambient-video__control[data-state="pause"] {
    width: 60px;
    height: 60px;
    left: 10px;
    border-radius: 50%;
    border: hidden;
    background-color: clr(background-button);
    position: absolute;
    bottom: 30px;
    z-index: 1;
  
    &:hover {
      cursor: pointer;
    }
  
    &:focus {
      outline: 0;
    }
  
    >div {
      width: 14px;
      height: 18px;
      border-right: 4px solid clr(text-inverse);
      border-left: 4px solid clr(text-inverse);
      margin: auto;
    }
  }
}

.homepage-hero-video__container {
  .ambient-video__control[data-state="play"] {
    left: calc(100% - 120px);
    top: 15px;
  }
  
  .ambient-video__control[data-state="pause"] {
    left: calc(100% - 120px);
    top: 15px;
  }
}
