.homepage-hero-video {
  &__wrapper {
    position: relative;
    background-color: clr(secondary);
    height: 643px;

    @include medium {
      height: 846px;
      background-color: clr(subcolor-3);
      max-height: calc(100vh - 12rem); // medium site-header height
    }

    @include large {
      max-height: calc(100vh - 16.2rem); // large site-header height
      min-height: 580px;
    }

    @include xl {
      height: 580px;
    }
  }

  &__container--video {
    width: 100%;
    height: 100%;

    @include medium {
      position: static;
    }

    .ambient-video__control {
      margin-left: 40px;
      z-index: 4;
    }
  }

  &__container {
    .ambient-video__control[data-state="play"] {
      left: calc(100% - 120px);
      top: 15px;
    }

    .ambient-video__control[data-state="pause"] {
      left: calc(100% - 120px);
      top: 15px;
    }

    .ambient-video__controls[data-state="mute"] {
      left: calc(100% - 80px);
      top: 100px;

      @include xs {
        top: 72px;
      }

      @include small {
        top: 100px;
      }
    }

    .ambient-video__controls[data-state="unmute"] {
      left: calc(100% - 80px);
      top: 100px;

      @include xs {
        top: 72px;
      }
      
      @include small {
        top: 100px;
      }
    }

    .fullscreen-video {
      display: flex;

      &__video {
        object-fit: cover;
      }
    }

    .fullscreen-video[data-fullscreen="true"] {
      .fullscreen-video__video {
        object-fit: contain;
      }
    }

    .fullscreen-video__control[data-state="mute"] {
      @include mutebutton;
    }
    .fullscreen-video__control[data-state="play"] {
      @include playbutton;
    }

    .fullscreen-video__control[data-state="pause"] {
      @include pausebutton;

      >div {
        width: 14px;
        height: 18px;
        border-right: 4px solid clr(text-inverse);
        border-left: 4px solid clr(text-inverse);
        margin: auto;
      }
    }
  }

  &__container--title {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    top:15%;
    
    @include xs {
      padding: 0 1rem;
      margin-top: 20%;
    }

    @include medium {
      width: 75%;
      padding: 0 2rem;
      
    }

    @include large {
      width: 62%;
     padding: 0 4rem;
     margin-top: 5%
    }

    @include xl {
      max-width: 893px;
      left: calc((100% - 1440px) / 2);
      padding: 0 4rem;
    }
  }

  .eyebrow {
    @include set-font($font-type: 'primary-font');

    font-size: 14px;
    color: clr(subcolor-3);
    text-decoration: none;

    @include xs {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }

    @include medium {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  .heading {
    margin: 0;

    &__link {
      @include set-font($font-type: 'heading-font');

      color: clr(subcolor-3);
      text-decoration: none;
      font-weight: 300;
      word-wrap: break-spaces;

      @include xs {
        font-size: 4rem;
        line-height: 4rem;
      }

      @include medium {
        font-size: 5.6rem;
        line-height: 5.6rem;
      }

      @include large {
        font-size: 6.4rem;
        line-height: 6.4rem;
      }
    }
  }

  .default-link {
    margin: 3.5rem 0 3rem;
  }

  .fullscreen-video__control[data-state="play"] {
    background-color: clr(subcolor-3);
    bottom: 30px;
  }

  .dark-overlay {
    @include medium {
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: inherit;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3)
      }
    }
  }
}
