.faq {
  margin: auto;
  padding: 0 2rem;

  @include medium {
    padding: 0 4rem;
    max-width: 4rem + 89.5rem + 4rem;
  }

  .search-no-results {
    background-color: var(--c-background);
  }
}

.faq-heading {
  @include set-font($font-type: 'primary-font');

  font-weight: normal;
  color: clr(primary);
  text-align: center;
  font-size: 20px;
  margin: 4rem auto 2rem;

  @include medium {
    font-size: 26px;
    margin: 6rem auto;
  }

  @include xl {
    font-size: 28px;
    margin: 8rem auto 3.3rem;
  }
}


.list-item__question,
.list-item__answer {
  color: clr(primary);

  & p {
    margin: 0;
    word-break: break-word;
  }
}

.faq__see_all {
  text-align: center;
  display: none;
  margin-bottom: 5rem;


  @include medium {
    margin-bottom: 6rem;
  }

  @include xl {
    margin-bottom: 11rem;
  }

  &.active {
    display: block;
  }
}

.default-link--faq_see_all {
  @include set-font($font-type: 'primary-font');

  background-color: clr(secondary);
  color: clr(text-inverse);
  padding: 0 3rem;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  line-height: 50px;
  min-width: 100%;

  &:hover,
  &:focus {
    color: clr(secondary);
  }

  @include medium {
    min-width: 157px;
  }

  @include xl {
    height: 60px;
    line-height: 6rem;
    min-width: 202px;
  }

  .default-link__label {
    vertical-align: middle;
  }
}
