.faq {
  margin: auto;

  @include small {
    max-width: 33.5rem;
  }

  @include medium {
    max-width: 68.8rem;
  }

  @include xl {
    max-width: 89.6rem;
  }

  .search-no-results {
    background-color: var(--c-background);
  }
}
.faq-heading {
  font-family: variable(primary-font);
  font-weight: normal;
  color: clr(primary);
  text-align: center;

  @include small {
    font-size: 20px;
  }

  @include medium {
    font-size: 26px;
  }

  @include xl {
    font-size: 28px;
  }
}


.list-item__question,
.list-item__answer {
  color: clr(primary);

  & p {
    margin: 0;
    word-break: break-word;
  }
}

.faq__see_all {
  text-align: center;
  display: none;

  &.active {
    display: block;
  }
}

.default-link--faq_see_all {
  background-color: clr(secondary);
  font-family: variable(primary-font);
  color: clr(text-inverse);
  display: block;
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  &:hover {
    color: clr(secondary);
  }

  @include medium {
    line-height: 5rem;
  }

  @include xl {
    line-height: 6rem;
    margin-bottom: 60px;
  }
}
