{#
/**
 * Available variables:
 * - faq_base_class - the base classname
 * - faq_modifiers - array of modifiers to add to the base classname
 *
 */
#}

{% set faq_base_class = faq_base_class|default('faq') %}
{% set pager_state = search_result_counter > 4 ? 'active' : '' %}

<div {{bem(faq_base_class)}}
  data-theme={{theme_styles}}>

  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 1,
    heading_base_class: 'faq-heading',
    heading: title
  } %}
  {% include "@molecules/faq-filters/faq-filters.twig" with {
    faq_base_class: 'faq-filters',
    search_form: search_form,
    search_result_counter: search_result_counter,
    search_result_text: search_result_text,
    facetLinks: facetLinks,
    faq_filter_toggle: faq_filter_toggle,
  }%}

  <div class="no-results-container">
    {% if search_result_counter == 0 %}
      {% include "@molecules/search/search-no-results/search-no-results.twig" with {
        no_results_heading: no_results_heading,
        no_results_text: no_results_text,
        graphic_divider: graphic_divider,
      }%}
    {% endif %}
  </div>

  {% include "@atoms/lists/faq.twig" %}

  <div {{bem('see_all', [], 'faq', [pager_state])}}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: button_name,
      default_link_modifiers: ['faq_see_all'],
      default_link_attributes: {'href': button_link}
    } %}
  </div>
</div>
