{#
/**
 * Available variables:
 * - faq_base_class - the base classname
 * - faq_modifiers - array of modifiers to add to the base classname
 *
 */
#}

{% set faq_base_class = faq_base_class|default('faq') %}


<div {{bem(faq_base_class)}} data-theme={{theme_styles}}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 1,
    heading_base_class: 'faq-heading',
    heading: title
  } %}

  {% include "@atoms/lists/faq.twig" %}

{#
  {% include "@atoms/buttons/twig/button.twig" with {
      button_content: button_name
  } %}
  #}

  <div {{bem('faq__see_all')}}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: button_name,
      default_link_modifiers: ['faq_see_all'],
      default_link_attributes: {'href': button_link}
    } %}
  </div>
</div>
