.iframe-container, .newsletter-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;

  &__inner {
    border: none;
    width: 100%;
  }
}

.newsletter-iframe {
  &__inner {
    height: 750px;
    overflow: hidden;
  }
}
