{% set iframe_base_class = iframe_base_class|default('iframe-container') %}

<div {{ bem(iframe_base_class) }} data-theme="twix">
  <iframe class="iframe-container__inner" src={{ iframe_src }} title={{ iframe_description }} id="iframe-component"></iframe>
</div>

