/* Mixin - list-reset
 * Reset list item defaults when no margin, padding, list styles needed
*/

ul,
ol {
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style: none;

  li {
    margin-left: 0;
    margin-right: 0;

    &::before {
      display: none;
    }
  }

  .list-item {
    position: relative;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    border: solid 2px clr(text-inverse);
    background-color: clr(text-inverse);
    padding: 40px 20px 20px 20px;

    @include small {
      padding: 30px 20px 20px 20px;
      margin: 10px 0;
    }

    @include medium {
      padding: 20px 20px 20px 52px;
      margin-bottom: 20px;
    }

    &__content {
      @include set-font($font-type: 'secondary-font');

      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      margin: 20px 0;
      color: clr(primary);

      @include xs {
        font-size: 1.6rem;
        line-height: 2.24rem;
      }

      @include large {
        font-size: 1.8rem;
        line-height: 2.52rem;
      }
    }

    &__number {
      @include set-font($font-type: 'primary-font');

      color: clr(secondary);
      font-size: 2rem;
      font-weight: bold;
      position: absolute;
      line-height: 32px;
      left: 50%;
      top: calc(32px / 2);
      transform: translateX(-50%);

      @include medium {
        font-size: 1.6rem;
        left: 50px;
        top: calc(50% - 32px / 2);
      }

      @include large {
        font-size: 2.8rem;
      }
    }
  }
}

.list-item {
  margin-bottom: 0.2em;
  padding-left: 1em;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  ol,
  ul {
    li {
      @extend .list-item;
    }
  }
}

.faq_list {
  padding-left: 0;
}

.faq_list .list-item--faq::before {
  content: "";
  display: none;
}

.list-item.list-item--faq {

  @include small {
    padding: 10px;
    margin-bottom: 40px;
  }

  @include medium {
    padding: 10px 40px;
    margin-bottom: 40px;
  }

  @include xl {
    padding: 10px 40px;
    margin-bottom: 60px;
  }

  .search-highlight {
    font-weight: inherit;
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: clr(primary);
      opacity: 0.1;
    }
  }
}

.list-item__faq-mark {
  @include set-font($font-type: 'primary-font');

  color: clr(secondary);
  font-size: 2rem;
  margin-bottom: 1rem;

  @include medium {
    position: absolute;
    top: 3.4rem;
    left: 0;
    font-size: 2.6rem;
    margin-bottom: 0;
  }

  @include xl {
    top: 3.7rem;
    font-size: 2.8rem;
  }
}

.list-item__question,
.list-item__answer {
  @include set-font($font-type: 'secondary-font');

  position: relative;
  min-height: 40px;
  font-weight: normal;
  line-height: 1.4;

  @include xs {
    font-size: 1.6rem;
    line-height: 2.24rem;
    padding: 20px 17px;
  }

  @include medium {
    padding: 30px 40px 20px 75px;
  }

  @include xl {
    font-size: 1.8rem;
    line-height: 2.52rem;
    padding: 32px 40px 20px 75px;
  }
}

.list-item__answer > table {
  display: block;
  overflow-x: auto;
}

.list-item__question {
  border-bottom: 1px solid clr(highlight);

  @include medium {
    padding-bottom: 30px;
  }
}

.article-detail {
  .ul {
    font-size: 18px;
    font-family: (secondary-font);
    line-height: 29px;
    list-style-position: inside;
    list-style-type: none;
    color: clr(primary);
    padding: 2rem 0 4rem;
    width: 90%;
  }

  .list-item {
    position: relative;

    &::before {
      content: "";
      background-color: clr(secondary);
      height: 7px;
      width: 7px;
      border-radius: 3.5px;
      position: absolute;
      left: 1px;
      top: 10px;

      @include xl {
        height: 6px;
        width: 6px;
        border-radius: 3px;
        top: 14px;
      }
    }
  }
}
