.recipe-card {
  min-height: 520px;
  max-height: 520px;
  background-image: radial-gradient(
    circle at 50% 40%,
    clr(card-background) 10%,
    clr(subcolor-1)
  );
  border-radius: variable(card-border-radius);
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 6rem;
  @include card-width;

  .eyebrow {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-eyebrow, recipe-card-eyebrow);
    margin-bottom: 0;
    margin-top: 0;
    padding: 2rem 3rem 0 3rem;
  }

  &__media {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 239px;
    box-sizing: border-box;
    justify-content: center;
    border-top-left-radius: variable(card-border-radius);
    border-top-right-radius: variable(card-border-radius);
    position: relative;

    img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

  }

  &__media:focus-within {
    outline: 2px solid black;
  }

  .recipe-card-heading {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    min-height: 9rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3rem 3rem 1rem 3rem;
  }

  &-heading__link {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-title, recipe-card-title);
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 3rem;
    min-height: 6rem;
    display: block;
    font-weight: bold;
    overflow: hidden;

    @include large {
      font-size: 1.6rem;
      line-height: 3rem;
      min-height: auto;
    }

    @include xl {
      font-size: 1.8rem;
      line-height: 3.2rem;
      min-height: 6rem;
    }
  }

  &__labels_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem 10rem 3rem;
    flex-grow: 1;

    .ingredients-block {
      margin-right: 4rem;
    }

    .cooking-time,
    .ingredients {
      @include set-font($font-type: 'secondary-font');

      color: clr(primary, card-title, recipe-card-title);
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  &-items,
  &-time {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-title, recipe-card-title);
    font-size: 1.6rem;
    line-height: 0.1rem;
    font-weight: bold;
  }

  &__details-button {
    position: absolute;
    bottom: 0;
    z-index: 2;

    .default-link {
      margin-left: 3rem;
      margin-bottom: 2.5rem;

      @include large {
        line-height: 3.6rem;
        min-width: 8.9px;
        font-size: 1.4rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        margin-left: 2.1rem;
      }

      @include xl {
        line-height: 5rem;
        min-width: 13.3rem;
        font-size: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 3rem;
      }
    }

    .default-link--visited {
      color: var(--c-text-inverse);
      background-color: var(--c-secondary) !important;

      &::after {
        height: 0;
      }
    }
  }

  .badge {
    position: absolute;
    top: -3.5rem;
    right: -1.5rem;
    z-index: 2;
  }
}
