.recipe-card {
  background-color: clr(card-background);
  border-radius: variable(border-radius);
  display: inline-block;
  max-width: 31.8rem;
  position: relative;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 6rem;

  .eyebrow {
    color: clr(primary);
    font-family: variable(primary-font);
    margin-bottom: 0;
    padding: 3rem 3rem 0 3rem;
  }

  &__media {
    max-height: 24rem;
    overflow-y: hidden;
    border-top-left-radius: variable(border-radius);
    border-top-right-radius: variable(border-radius);

    img {
      height: 24rem;
    }
  }

  &-heading__link {
    color: clr(primary);
    font-family: variable(primary-font);
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 2.42rem;
    height: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: block;
    padding: 0 3rem 0 3rem;
    font-weight: bold;
    letter-spacing: 0.11rem;
  }

  &__labels_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem 4rem 3rem;

    .ingredients-block {
      margin-right: 4rem;
    }

    .cooking-time,
    .ingredients {
      color: clr(primary);
      font-family: variable(secondary-font);
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  &-items,
  &-time {
    color: clr(primary);
    font-family: variable(secondary-font);
    font-size: 1.6rem;
    line-height: 0.1rem;
    font-weight: bold;
  }

  &__details-button {
    .default-link--small {
      margin-left: 3rem;
      margin-bottom: 2rem;
    }
  }

  .badge {
    position: absolute;
    top: -3.5rem;
    right: -1.5rem;
  }
}
