.article-card {
  min-height: 52rem;
  border-radius: variable(card-border-radius);
  display: inline-block;
  padding: 0 3rem;
  margin-bottom: 6rem;
  position: relative;
  background-color: clr(subcolor-2);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  @include card-width;

  &__brand-shape {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 3rem;

    svg {
      fill: rgba(clr(subcolor-1-rgb), 0.2);
      width: 50rem;
      height: 50rem;
      position: absolute;
      top: 1rem;
      right: -25rem;
    }
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    min-height: 52rem;
    padding: 6rem 0 3rem 0;
    display: flex;
    flex-direction: column;
  }

  &-heading {
    margin-bottom: 0;
  }

  &-heading__link {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-title, article-card-title);
    text-decoration: none;
    font-size: 4rem;
    line-height: 4.4rem;
    margin-bottom: 3rem;
    padding-bottom: 0.6rem;
    max-height: 182px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &-paragraph--xs {
    @include set-font($font-type: 'secondary-font');

    word-break: break-word;
    color: clr(primary, card-title, article-card-title);
    font-size: 1.6rem;
    line-height: 2.24rem;
    flex-grow: 1;
    margin-top: 0;
    font-weight: bold;
    max-height: 135px;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &-paragraph--with-eyebrow {
    max-height: 112px;
    -webkit-line-clamp: 5;
  }

  .badge {
    position: absolute;
    top: -3.5rem;
    right: -1.5rem;
    z-index: 2;
  }

  .eyebrow {
    @include set-font($font-type: 'primary-font');

    color: clr(primary, card-eyebrow, article-card-eyebrow);
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &--with-bg-img {
    background-color: #ccc;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;

    .eyebrow,
    .article-card-heading__link,
    .article-card-paragraph--xs {
      color: clr(subcolor-3, card-title, article-card-title);
    }

    .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: variable(card-border-radius);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & .default-link {
    align-self: flex-start;
    position: absolute;
    bottom: 3rem;
    left: 0;
  }
}
