{#
/**
 * @file
 * Ordered list component.
 * 'ol_items' => NULL,
 */
#}

<div {{ bem('block') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        {% include "@atoms/lists/ol.twig" with {
            ol_items: ol_items
        } %}
    {% endblock %}
</div>
