{#
/**
 * @file
 * Full width video component.
 * 'heading' => NULL,
 * 'media' => NULL,
 * 'content' => NULL,
 */
#}

<div {{ bem('block') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        {% include "@molecules/article-media/full-width/full-width-media.twig" with {
            heading: heading,
            media: media,
            content: content,
        } %}
    {% endblock %}
</div>
