{#
/**
 * @file
 * Inline image component.
 * 'image_src' => NULL,
 * 'image_alt' => NULL,
 * 'image_title' => NULL,
 * 'shape_motif' => NULL,
 * 'content' => NULL,
 */
#}

<div {{ bem('block') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        {% include "@molecules/article-media/inline/inline-media.twig" with {
            image_src: image_src,
            image_alt: image_alt,
            image_title: image_title,
            shape_motif: shape_motif,
            content: content
        } %}
    {% endblock %}
</div>
