{#
/**
 * @file
 * Flexible framer component.
 * 'grid_label' => NULL,
 * 'grid_type' => NULL,
 * 'item_type' => NULL,
 * 'items' => NULL,
 * 'brand_border' => NULL,
 * 'divider' => NULL,
 */
#}

<div {{ bem('block') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        {% include "@molecules/flexible-framer/flexible-framer.twig" with {
            theme_styles: 'drupal',
            grid_label: grid_label,
            grid_type: grid_type,
            item_type: item_type,
            items: items,
            brand_border: brand_border,
            divider: divider,
        } %}
    {% endblock %}
</div>
