{#
/**
 * @file
 * Flexible framer component.
 * 'grid_label' => NULL,
 * 'grid_type' => NULL,
 * 'item_type' => NULL,
 * 'items' => NULL,
 * 'brand_borders' => NULL,
 * 'divider' => NULL,
 */
#}
{% set flexible_framer__base_class = 'flexible-framer' %}
{% set grid_label = grid_label|default('More of your favorites') %}

{% set divider = '<div class=divider>'~divider~'</div>' %}
<section {{ bem(flexible_framer__base_class) }} data-theme="drupal" style="position: relative;">
  <div class="{{ brand_shape_class }}" style="top: -60px;">
    {{ brand_borders | raw }}
  </div>

  {% include "@organisms/grid/grid-ff.twig" with {
    grid_label: grid_label | t,
    grid_type: grid_type,
    divider: divider,
    item_type: item_type,
    items: items
  } %}
</section>
