{#
/**
 * @file
 * Homepage hero component (video variant).
 * 'label' => NULL
 * 'eyebrow' => NULL,
 * 'cta_url' => NULL,
 * 'cta_title' => NULL,
 * 'title_url' => NULL,
 * 'title_label' => NULL,
 * 'block_type' => NULL
 * 'background_asset' => NULL,
 * 'blocks' => [],
 */
#}

{% if (block_type == 'video_loop') %}
  {{ attach_library('emulsifymars/ambient-video') }}

  <div {{ bem('container', ['video'], 'homepage-hero-video') }}>
    {% include "@atoms/video/ambient-video/video.twig" with {
      video__src__url: background_video,
      video__control: true
    } %}
  </div>

{% elseif (block_type == 'video') %}
  {{ attach_library('emulsifymars/fullscreen-video') }}

  {% include "@molecules/homepage-hero/video/homepage-hero-video.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    video__src__url: background_asset,
  } %}

{% elseif (block_type == 'default') %}

  {% set background_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' |
    format(background_asset, background_asset, background_asset, background_asset) %}

  {% set hero_image = {
    'srcset': background_srcset,
    'src': background_asset} %}

  {% include "@molecules/homepage-hero/standard/homepage-hero-standard.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    hero_image: hero_image,
  } %}

{% elseif (block_type == 'image') %}

  {% set background_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' |
    format(background_asset, background_asset, background_asset, background_asset) %}

  {% set hero_image = {
    'srcset': background_srcset,
    'src': background_asset} %}

  {% include "@molecules/homepage-hero/3up/homepage-hero-3up.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    hero_image: hero_image,
    blocks: blocks,
  } %}

{% elseif (block_type == 'image_and_text') %}

  {{ title_label }}
  {% set background_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' |
    format(background_asset, background_asset, background_asset, background_asset) %}

  {% set hero_image = {
    'srcset': background_srcset,
    'src': background_asset} %}
  {% include "@atoms/images/image/responsive-image.twig" with {
    output_image_tag: true,
    image_alt: '',
    image_srcset: hero_image.srcset,
    image_sizes: '(max-width: 375px) 375px,
                (max-width: 768px) 768px,
                1440px',
    image_src: hero_image.src,
    responsive_image_blockname: 'homepage-hero-image',
  } %}

{% endif %}
