{#
/**
 * @file
 * Inline image/video component.
 * 'block_type' => NULL
 * 'video_src' => NULL,
 * 'image_src' => NULL,
 * 'image_alt' => NULL,
 * 'image_title' => NULL,
 * 'shape_motif' => NULL,
 * 'content' => NULL,
 * 'title' => NULL,
 * 'hide_volume' => NULL,
 */
#}
<div {{ bem('block') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        {% if (block_type == 'image') %}
        {% include "@molecules/article-media/inline/inline-media.twig" with {
            theme_styles: 'drupal',
            media_type: 'image',
            image_src: image_src,
            image_alt: image_alt,
            image_title: image_title,
            shape_motif: shape_motif,
            content: content,
            title: title
        } %}
        {% elseif (block_type == 'video') %}
        {% include "@molecules/article-media/inline/inline-media.twig" with {
            theme_styles: 'drupal',
            media_type: 'video',
            video__src__url: video_src,
            video__control: true,
            shape_motif: shape_motif,
            content: content,
            title: title,
            hide_volume: hide_volume,
        } %}
        {% endif %}
    {% endblock %}
</div>
