.inline-search {
  display: block;
  width: 100%;
  min-width: 90px;
  text-align: left;

  &--hidden {
    display: none !important;
  }

  &__link {
    @include set-font($font-type: 'primary-font');

    position: relative;
    display: inline-block;
    padding: $space $space-one-and-half $space 2.8rem;
    color: clr(subcolor-1);
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: normal;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      fill: currentColor;
    }

    &:hover ,
    &:focus {
      color: clr(subcolor-3);
    }
  }

  @include large {
    display: inline-block;
    width: auto;
    margin-left: 0;
    padding-top: 1.8rem;
    padding-bottom: 0;

    &__link {
      color: clr(primary, text-color-override);
      font-size: 1.4rem;
      line-height: 1.4rem;

      &:hover, 
      &:focus {
        color: clr(secondary, hover-color);
      }
    }
  }
}

.inline-search__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
}
