.overlay-video {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-video__control[data-state="play"] {
    @include playbutton;

    top: 15px;
    right: 15px;
    left: auto;
    height: 60px;
    width: 60px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);

    .play-icon {
      width: 20px;
      height: 24px;
      fill: var(--c-secondary);
      margin: auto 25%;
    }

    @include xs {
      height: 50px;
      width: 50px;
      top: 0;
      right: calc(5% - 30px);
    }

    @include small {
      height: 50px;
      width: 50px;
      top: 0;
      right: calc(5% - 30px);
    }

    @include medium {
      top: 10px;
      right: calc(5% - 50px);
    }

    @include large {
      top: 10px;
      right: calc(5% - 55px);
    }

    @include xl {
      top: 10px;
      right: calc(5% - 55px);
    }
  }

  &__control[data-state="pause"] .play-icon{
    display: none;
  }

  .overlay-video__control[data-state="pause"] {
    @include pausebutton;

    width: 60px;
    height: 60px;
    top: 15px;
    right: 15px;
    left: auto;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);

    >div {
      width: 6px;
      height: 17px;
      border-right: 4px solid clr(text-inverse);
      border-left: 4px solid clr(text-inverse);
      margin: auto;
      position: absolute;
    }

    @include xs {
      height: 50px;
      width: 50px;
      top: 0;
      right: calc(5% - 30px);
    }

    @include small {
      height: 50px;
      width: 50px;
      top: 0;
      right: calc(5% - 30px);
    }

    @include medium {
      top: 10px;
      right: calc(5% - 50px);
    }

    @include large {
      top: 10px;
      right: calc(5% - 55px);
    }

    @include xl {
      top: 10px;
      right: calc(5% - 55px);
    }
  }

  .overlay-video__controls[data-state="unmute"] {
    @include mutebutton;

    top: 15px;
    right: 15px;
    left: auto;
    height: 60px;
    width: 50px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(241, 241, 241, 0.5);

    .mute-icon {
      width: 20px;
      height: 24px;
      fill: #fff ;
      margin: auto 25%;
    }

    @include xs {
      top: 80px;
      height: 50px;
      width: 30px;
      right: calc(5% - 5px);
    }

    @include small {
      top: 80px;
      height: 50px;
      width: 30px;
      right: calc(5% - 5px);
    }

    @include medium {
      height: 50px;
      width: 30px;
      top: 100px;
      right: calc(5% - 25px);
    }

    @include large {
      height: 50px;
      width: 40px;
      top: 100px;
      right: calc(5% - 30px);
    }

    @include xl {
      top: 100px;
      right: calc(5% - 30px);
    }
  }

  .overlay-video__controls[data-state="mute"] {
    @extend .overlay-video__controls[data-state="unmute"];

    .mute-icon {
      width: 20px;
      height: 24px;
      fill: #fff ;
      margin: auto 25%;
      opacity: 0.5;
    }
  }
}

