.product-content-pair-up {

  .product-content-pair-up__heading {
    width: 100%;
    text-align: center;
    font-family: variable(primary-font);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.14rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 33.5rem;
    color: clr(primary);
    text-transform: uppercase;
  }

  .product-content-pair-up__graphic-divider {
    text-align: center;
    margin-bottom: 4rem;
  }

  .product-content-pair-up__container {
    position: relative;

    .lead-card {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding-top: 50px;

      .wrapper {
        height: 538px;
        max-width: 335px;
        margin: 0 auto;
        text-align: center;

        .eyebrow {
          color: clr(subcolor-3);
          font-size: 1.4rem;
          letter-spacing: 0.14rem;
          margin-bottom: 2rem;
        }

        .heading {
          color: clr(subcolor-3);
          font-family: variable(primary-font);
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.14rem;
          margin-top: 0;
          margin-bottom: 3rem;
          text-decoration: none;

          // Remove later.
          text-transform: uppercase;

          a {
            color: clr(subcolor-3);
            text-decoration: none;
          }
        }

        .default-link {
          background-color: clr(subcolor-3);
          font-family: variable(primary-font);
          font-weight: 500;
          color: clr(secondary);
          line-height: 5rem;

          &:hover {
            color: clr(subcolor-3);
          }

          &::after {
            background-color: clr(secondary);
          }
        }
      }
    }

    .svg-asset {
      position: absolute;
      left: 0;
      right: 0;
      overflow-x: hidden;
      top: 630px;
      width: 100%;
      height: auto;
      margin: auto;

      figure {
        float: right;
        margin-right: -20%;
        width: 110%;
      }
    }

    .supportive-card {
      position: absolute;
      left: 0;
      right: 0;
      top: 306px;
      max-width: 31.5rem;
      margin: auto;

      .wrapper > section {
        max-width: 31.5rem;
      }
    }
  }

  @include medium {
    &:not(.size--375) {
      .product-content-pair-up__heading {
        letter-spacing: 0.2rem;
        font-size: 4rem;
        max-width: 532px;
      }

      .product-content-pair-up__container {
        .lead-card {
          height: 538px;
          padding-top: 60px;

          .wrapper {
            margin: 0 auto;
            max-width: 572px;

            .eyebrow {
              font-size: 1.6rem;
              letter-spacing: 0.16rem;
              margin-bottom: 4rem;
            }

            .heading {
              font-size: 4rem;
              letter-spacing: 0.2rem;
            }
          }
        }

        .svg-asset {
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          right: 0;
          top: 365px;
          margin: auto;
          height: 768px;
          width: 768px;

          figure {
            float: none;
            margin-right: auto;
            width: auto;
          }
        }

        .supportive-card {
          top: 361px;
          max-width: 33.4rem;

          .wrapper > section {
            max-width: 33.4rem;
          }
        }
      }
    }
  }

  @include xl {
    &:not(.size--375):not(.size--768) {
      .product-content-pair-up__heading {
        max-width: none;
        font-size: 4.8rem;
        margin-bottom: 6rem;
        line-height: 1.6;
        letter-spacing: 0.24rem;
      }

      .product-content-pair-up__graphic-divider {
        margin-bottom: 6rem;
      }

      .product-content-pair-up__container {
        padding-bottom: 275px;

        .lead-card {
          width: 1127px;
          height: 665px;
          padding: 179px 0 0 85px;

          .wrapper {
            margin: 0;
            max-width: 640px;

            .heading {
              font-size: 4.8rem;
              letter-spacing: 0.24rem;
              margin-top: auto;
              margin-bottom: 6rem;
            }

            .default-link {
              line-height: 6rem;
            }
          }
        }

        .svg-asset {
          left: auto;
          right: 0;
          top: 80px;
          width: 860px;
          height: 860px;
        }

        .supportive-card {
          top: 185px;
          left: auto;
          max-width: none;
          right: 158px;

          .wrapper > section {
            max-width: 43.2rem;
          }
        }
      }
    }
  }

}
