.product-content-pair-up {
  &__heading {
    width: 100%;
    text-align: center;
    font-family: variable(heading-font);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 33.5rem;
    color: clr(primary);
    text-transform: uppercase;

    @include medium {
      max-width: 688px;
      font-size: 4rem;
    }

    @include xl {
      max-width: none;
      font-size: 4.8rem;
      margin-bottom: 6rem;
    }
  }

  &__graphic-divider {
    text-align: center;
    margin-bottom: 4rem;

    @include xl {
      margin-bottom: 6rem;
    }
  }

  &__container {
    position: relative;

    .lead-card {
      background-color: clr(subcolor-2);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding-top: 50px;
      position: relative;

      @include medium {
        height: 1060px;
        padding-top: 60px;
      }

      @include large {
        width: 100%;
        height: 750px;
        padding-top: 179px;
      }

      @include xl {
        padding: 179px 0 0 85px;
      }

      &::before {
        position: absolute;
        content: "\200B";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($black, 0.4);
      }

      .supportive-card .wrapper {
        text-align: left;

        .product-card, .recipe-card, .article-card {
          @include medium {
            width: 396px;
          }
          @include xl {
            width: 432px;
            right: 0;
          }
        }

        @include xs {
          padding-top: 0;
        }

        @include medium {
          padding-top: 3rem;
        }
      }

      .wrapper {
        max-width: 335px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        padding: 3rem 0;

        @include medium {
          margin: 0 auto;
          max-width: 572px;
          right: auto;
          background-position: center center;
          padding: 0;
        }

        @include large {
          margin: 0;
          right: 0;
        }

        @include xl  {
          right: 0;
          max-width: 900px;
        }

        .product-card .product-card__title {
          text-align: center;
          -webkit-line-clamp: 3;
        }

        .recipe-card {
          margin-bottom: 0;
        }

        .content-pair-up-eyebrow {
          color: clr(subcolor-3);
          font-size: 1.4rem;
          margin-bottom: 2rem;

          .eyebrow {
            margin-top: 0;
            font-weight: normal;
          }

          @include medium {
            font-size: 1.6rem;
            margin-bottom: 4rem;
          }
        }

        .heading {
          color: clr(subcolor-3);
          font-family: variable(primary-font);
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 3rem;
          text-decoration: none;
          word-break: break-word;

          @include xs {
            font-size: 4rem;
            line-height: 4rem;
          }

          @include medium {
            font-size: 5.6rem;
            line-height: 5.6rem;
          }

          @include large {
            font-size: 6.4rem;
            line-height: 6.4rem;
          }

          @include xl {
            margin-top: auto;
            margin-bottom: 6rem;
          }

          // Remove later.
          text-transform: uppercase;

          a {
            color: clr(subcolor-3);
            text-decoration: none;
            display: inline-block;
            max-width: 828px;
          }
        }

        & > .default-link {
          background-color: clr(subcolor-3);
          font-family: variable(primary-font);
          font-weight: 500;
          color: clr(secondary);
          line-height: 5rem;

          @include xs {
            bottom: -5px;
          }

          @include medium {
            bottom: 0;
          }

          @include xl {
            line-height: 6rem;
          }

          &:hover {
            color: clr(subcolor-3);
          }

          &::after {
            background-color: clr(secondary);
          }
        }
      }
    }

    .supportive-card {
      position: relative;
      left: 0;
      right: 0;
      max-width: 31.8rem;
      margin: auto;
      z-index: $content-pair-supportive-card;

      @include medium {
        top: 450px;
        position: absolute;
        max-width: 396px;
      }

      @include large {
        top: 85px;
        left: auto;
        right: 30px;
      }

      @include xl {
        right: 115px;
      }

      .recipe-card-heading__link {
        @include xs {
          font-size: 2rem;
          line-height: 2.2rem;
        }

        @include medium {
          font-size: 2.6rem;
          line-height: 2.86rem;
        }

        @include large {
          font-size: 2.8rem;
          line-height: 3.08rem;
        }
      }

      .wrapper > section {
        max-width: 31.8rem;
        text-align: initial;
      }
    }
  }
}
