.product-content-pair-up {
  padding-bottom: 500px;

  .product-content-pair-up__heading {
    width: 100%;
    text-align: center;
    font-family: variable(primary-font);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.14rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 33.5rem;
    color: clr(primary);
    text-transform: uppercase;
  }

  .product-content-pair-up__graphic-divider {
    text-align: center;
    margin-bottom: 4rem;
  }

  .product-content-pair-up__container {
    position: relative;

    .lead-card {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 0;
      padding-top: 50px;

      .wrapper {
        height: 538px;
        max-width: 335px;
        margin: 0 auto;
        text-align: center;

        .eyebrow {
          color: clr(subcolor-3);
          font-size: 1.4rem;
          letter-spacing: 0.14rem;
          margin-bottom: 2rem;
        }

        .heading {
          color: clr(subcolor-3);
          font-family: variable(primary-font);
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.14rem;
          margin-top: 0;
          margin-bottom: 3rem;
          text-decoration: none;

          // Remove later.
          text-transform: uppercase;

          a {
            color: clr(subcolor-3);
            text-decoration: none;
          }
        }

        .default-link {
          background-color: clr(subcolor-3);
          font-family: variable(primary-font);
          font-weight: 500;
          color: clr(secondary);
          line-height: 5rem;

          &:hover {
            color: clr(subcolor-3);
          }

          &::after {
            bottom: -110px;
            background-color: clr(secondary);
          }
        }
      }
    }

    .png-asset {
      position: absolute;
      left: 0;
      right: 0;
      overflow-x: hidden;
      top: 840px;
      width: 100%;
      min-height: 375px;
      margin: auto;

      .wrapper {
        position: absolute;
        right: -20%;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
      }
    }

    .supportive-card {
      position: absolute;
      left: 0;
      right: 0;
      top: 420px;
      max-width: 31.5rem;
      margin: auto;

      .wrapper > section {
        max-width: 31.5rem;
      }
    }
  }

  .layout-builder & {
    .png-asset {
      top: 640px;
    }

    .supportive-card {
      top: 306px;
    }
  }

  &.size--375 {
    max-width: 375px;
  }

  &.size--768 {
    max-width: 768px;
  }

  &.size--1440 {
    max-width: 1440px;
  }

  @include medium {
    padding-bottom: 600px;

    &:not(.size--375) {
      .product-content-pair-up__heading {
        letter-spacing: 0.2rem;
        font-size: 4rem;
        max-width: 532px;
      }

      .product-content-pair-up__container {
        .lead-card {
          height: 538px;
          padding-top: 60px;

          .wrapper {
            margin: 0 auto;
            max-width: 572px;

            .eyebrow {
              font-size: 1.6rem;
              letter-spacing: 0.16rem;
              margin-bottom: 4rem;
            }

            .heading {
              font-size: 4rem;
              letter-spacing: 0.2rem;
            }
          }
        }

        .png-asset {
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          right: 0;
          top: 640px;
          margin: auto;
          height: 768px;
          width: 768px;

          .wrapper {
            right: auto;
            background-position: center center;
          }
        }

        .supportive-card {
          top: 361px;
          max-width: 33.4rem;

          .wrapper > section {
            max-width: 33.4rem;
          }
        }
      }
    }

    .layout-builder &:not(.size--375) {
      .png-asset {
        top: 365px;
      }

      .supportive-card {
        top: 361px;
      }
    }
  }

  @include xl {
    padding-bottom: 275px;

    &:not(.size--375):not(.size--768) {
      .product-content-pair-up__heading {
        max-width: none;
        font-size: 4.8rem;
        margin-bottom: 6rem;
        line-height: 1.6;
        letter-spacing: 0.24rem;
      }

      .product-content-pair-up__graphic-divider {
        margin-bottom: 6rem;
      }

      .product-content-pair-up__container {
        padding-bottom: 275px;

        .lead-card {
          width: 1127px;
          height: 665px;
          padding: 179px 0 0 85px;

          .wrapper {
            margin: 0;
            max-width: 640px;

            .heading {
              font-size: 4.8rem;
              letter-spacing: 0.24rem;
              margin-top: auto;
              margin-bottom: 6rem;
            }

            .default-link {
              line-height: 6rem;
            }
          }
        }

        .png-asset {
          left: auto;
          right: 0;
          top: 360px;
          width: 860px;
          height: 860px;
        }

        .supportive-card {
          top: 185px;
          left: auto;
          max-width: none;
          right: 158px;

          .wrapper > section {
            max-width: 43.2rem;
          }
        }
      }
    }

    .layout-builder &:not(.size--375):not(.size--768) {
      .png-asset {
        top: 80px;
      }

      .supportive-card {
        top: 75px;
      }
    }
  }

}
