.legal-links-menu {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.legal-links-menu__item {
  flex: 0 1 50%;
  margin: 0.75rem 0;

  @include medium {
    flex: 0 0 33%;
    margin: 0 0 30px;
  }
}

.legal-links-menu__link {
  @include link;

  font-family: variable(secondary-font);
  font-size: 14px;
  color: clr(subcolor-3);
  text-decoration: none;
}
