.legal-links-menu {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.legal-links-menu__item {
  flex: 0 1 50%;
  margin: 0 0 22px;

  @include medium {
    flex: 0 0 33%;
    margin: 0 0 21px;
  }
}

.legal-links-menu__link {
  @include link;
  @include set-font($font-type: 'secondary-font');

  color: clr(subcolor-3);
  text-decoration: none;

  @include xs {
    font-size: 1.2rem;
    line-height: 1.32rem;
  }

  @include medium {
    font-size: 1.4rem;
  }

  @include large {
    line-height: 1.54rem;
  }

  &:hover ,
  &:focus {
    color: clr(subcolor-3);
  }
}
