.article-inline {
  @include set-font($font-type: 'secondary-font');

  position: relative;
  padding: 2rem 0 2rem 0;
  max-width: 780px;
  margin: 0 auto 6rem auto;
  font-size: 2rem;
  line-height: 1.8;
  color: clr(primary);

  &__brand-shape {
    position: absolute;
    display: block;
    left: 12%;
    z-index: 0;

    @include xs {
      width: 35rem;
      height: 30rem;
      top: -40%;
      left: 12%;
    }

    @include medium {
      width: 40rem;
      height: 35rem;
      top: -15%;
      left: 50%;
    }

    @include xl {
      width: 56rem;
      height: 48.5rem;
      top: -21rem;
      left: 40%;
    }

    svg {
      fill: rgba(clr(subcolor-1-rgb), 0.2);
    }
  }

  &__heading {
    &--main-heading {
      @include set-font($font-type: 'heading-font');

      text-align: left;
      color: clr(primary);
      text-transform: uppercase;
      font-size: 2.8rem;
      line-height: 1.1;
      font-weight: 500;
      margin: 0 0 30px;

      @include small {
        font-size: 2rem;
        line-height: 2.2rem;
      }

      @include medium {
        font-size: 2.6rem;
        line-height: 2.86rem;
      }

      @include large {
        font-size: 2.8rem;
        line-height: 3.08rem;
      }
    }
  }

  &__media {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
  }

  @include small {
    margin: 0 2rem;
  }

  @include medium {
    max-width: 688px;
    margin: 0 4rem;
    font-size: 1.4rem;
    line-height: 1.3;
  }

  @include xl {
    max-width: 780px;
    margin-left: 272px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 0;

    @include small {
      margin-top: 1rem;
      font-size: 1.2rem;
      line-height: 1.56rem;
    }

    @include medium {
      margin-top: 2rem;
      font-size: 1.4rem;
    }

    @include large {
      margin-top: 3rem;
      font-size: 1.6rem;
      line-height: 2.08rem;
    }

  }

  .paragraph {
    padding-bottom: 2rem;
    margin: 0 0 2rem;
    border-bottom: 1px solid clr(subcolor-4);
    width: 100%;
  }

  .inline-video {
    max-height: 635px;

    &__control[data-state="play"] {
      $btn-size-xs: 6.7rem;
      $btn-size-md: 8.56rem;
      $btn-size-xl: 9.67rem;

      padding: 0;
      width: #{$btn-size-xs};
      height: #{$btn-size-xs};
      top: calc(50% - #{$btn-size-xs / 2});
      left: calc(50% - #{$btn-size-xs / 2});

      @include medium {
        width: #{$btn-size-md};
        height: #{$btn-size-md};
        top: calc(50% - #{$btn-size-md / 2});
        left: calc(50% - #{$btn-size-md / 2});
      }

      @include xl {
        width: #{$btn-size-xl};
        height: #{$btn-size-xl};
        top: calc(50% - #{$btn-size-xl / 2});
        left: calc(50% - #{$btn-size-xl / 2});
      }

      .play-icon {
        width: 2.09rem;
        height: 2.5rem;
        margin-left: 2.59rem;

        @include medium {
          width: 2.67rem;
          height: 3.19rem;
          margin-left: 3.31rem;
        }

        @include xl {
          width: 3.02rem;
          height: 3.6rem;
          margin-left: 3.74rem;
        }
      }
    }

    &__control[data-state="pause"] {
      width: 9.671rem;
      height: 9.671rem;
      top: calc(50% - 9.671rem / 2);;
      left: calc(50% - 9.671rem / 2);;
    }
  }
}
