.default-link {
  @include set-font($font-type: 'primary-font');

  color: clr(text-inverse);
  background-color: clr(secondary);
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 6rem;
  padding: 0 5.7rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 1s cubic-bezier(.75, 0, .25, 1), background-color 1s cubic-bezier(.75, 0, .25, 1);
  border-radius: variable(button-border-radius);

  &::after {
    content: '';
    position: absolute;
    display: block;
    margin-top: -20%;
    left: -450%;
    top: 0;
    width: 1000%;
    transform: rotate(18deg);
    height: 0;
    background-color: clr(subcolor-3);
    transition: height .5s 0s cubic-bezier(.75, 0, .25, 1);

    @include medium {
      margin-bottom: -20%;
      top: auto;
      bottom: 0;
    }
  }

  &:hover {
    color: clr(secondary);
    background-color: transparent !important;

    &::after {
      height: 800%;
    }
  }

  &--light {
    background-color: clr(subcolor-3);
    color: clr(secondary);
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 2rem;
    text-align: center;
    transition: all 1s ease;

    &::after {
      background-color: clr(secondary);
    }

    &:hover {
      color: clr(subcolor-3);
    }
  }

  &__label {
    position: relative;
    z-index: 1;
  }

  &--rounded {
    border-radius: 3rem;
  }

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding: 0 3.7rem;
  }

  @media (max-width: 375px) {
    padding: 0 2.7rem;
  }

  &--small {
    line-height: 5rem;
    padding: 0 2.7rem;
    font-size: 1.4rem;
  }
}
