.default-link {
  @include set-font($font-type: 'primary-font');

  color: clr(text-inverse);
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  line-height: 5rem;
  padding: 0 1rem;
  min-width: 13.3rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: variable(button-border-radius);
  cursor: pointer;

  @include cta-background-animation(clr(secondary), clr(subcolor-3));

  @include medium {
    min-width: 15.7rem;
  }

  @include xl {
    min-width: 20.2rem;
    line-height: 6rem;
    font-size: 1.6rem;
  }

  &:hover {
    color: clr(secondary);
  }

  &__label {
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0.75, 0, 0.25, 0);
  }

  &--small {
    font-size: 1.4rem;
    line-height: 5rem;
  }

  &--light {
    color: clr(secondary);
    text-align: center;
    @include cta-background-animation(clr(subcolor-3), clr(secondary));

    &:hover {
      color: clr(subcolor-3);
    }
  }

  & + & {
    margin-top: 2rem;

    @include medium {
      margin-top: 0;
    }
  }
}
