.default-link {
  color: clr(text-inverse);
  background-color: clr(subcolor-1);
  font-family: variable(primary-font);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  text-decoration: none;
  line-height: 6rem;
  padding: 0 5.7rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 1.2s cubic-bezier(.75, 0, .25, 1);
  border-radius: variable(border-radius);

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -100px;
    left: -170px;
    width: 1000px;
    transform: rotate(18deg);
    height: 0;
    background-color: clr(subcolor-3);
    transition: height 1.2s cubic-bezier(.75, 0, .25, 1);

    @include xs {
      width: 1000px;
    }

    @include medium {
      width: 350px;
    }
  }

  &:hover {
    color: clr(primary);

    &::after {
      height: 300px;
    }
  }

  &--light {
    background-color: clr(secondary);
    color: clr(subcolor-3);
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 2rem;
    text-align: center;
    &::after {
      background-color: clr(subcolor-3);
    }
    &:hover {
      color: clr(secondary);
    }
  }

  &__label {
    position: relative;
    z-index: 1;
  }

  &--rounded {
    border-radius: 3rem;
  }

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding: 0 3.7rem;
  }

  @media (max-width: 375px) {
    padding: 0 2.7rem;
  }

  &--small {
    line-height: 5rem;
    padding: 0 2.7rem;
    font-size: 1.4rem;
  }
}
