{# 
  Available variables:
    default_link_base_class - base class of the link
    default_link_modifier - CSS modifier, sets border radius, 'square' (default) or 'rounded'
    default_link_attributes - attributes array, like href, target, rel, ...
    default_link_content - content of the link, image or text
 #}

{% set default_link_base_class = default_link_base_class|default('default-link') %}
{% set default_link_modifier = default_link_modifier|default('square') %}

<a 
  {{ bem(default_link_base_class, [default_link_modifier]) }}
  {% for key, value in default_link_attributes %}
    {{ key }}="{{ value }}"
  {% endfor %}
>
  {% block default_link_content %}
    {{ default_link_content }}
  {% endblock %}
</a>