{#
/**
 * @file
 * Media carousel component.
 * 'title' => NULL,
 * 'items' => NULL,
 * 'brand_borders' => NULL,
 * 'hide_volume' => NULL,
 */
#}
{{ attach_library('emulsifymars/overlay-video') }}

<div {{ bem('block') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        {% include "@molecules/media-carousel/media-carousel.twig" with {
            theme_styles: 'drupal',
            brand_borders: brand_borders,
            heading: title,
            items: items,
        } %}
    {% endblock %}
</div>

