{#
/**
 * @file
 * Footer block.
 * 'top_footer_menu' => NULL,
 * 'legal_links' => NULL,
 * 'copyright' => NULL,
 * 'corporate_tout' => NULL,
 * 'social_links' => NULL,
 * 'region_selector' => NULL,
 */
#}
{% set logo_src = file_url(logo) %}
{% set logo_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' | format(logo_src, logo_src, logo_src, logo_src) %}
{% set logo_title = 'Logo' | t %}
{% set corporate_tout_button = 'See all' | t %}
{% set region_title = 'Select Region' | t %}

{% embed "@organisms/site/site-footer/site-footer.twig" with {
  theme_styles: 'drupal',
  footer_menu_items: top_footer_menu,
  legal_links_menu_items: legal_links,
  marketing_raw_text: marketing,
  social_menu_items: social_links,
  region_title: region_title,
  regions: region_selector,
  corporate_tout_text: corporate_tout,
  card__button__content: corporate_tout_button,
  current_region_title: current_region_title,
} %}

  {% block footer__logo %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: logo_title,
      image_srcset: logo_srcset,
      image_sizes: '(max-width: 375px) 101px,
        (max-width: 768px) 151px,
        (max-width: 1024px) 212px,
        212px',
      image_src: logo_src,
      responsive_image_blockname: 'logo',
    } %}
  {% endblock %}

  {% block footer__brand_border %}
    {{ border | raw }}
  {% endblock %}

  {% block footer__social %}
    <div {{ bem('section-header', [], footer__base_class) }}>{{ 'Follow Us On' | t }}</div>
    {% include "@molecules/menus/social/social-menu.twig" with {
      social_menu_items: social_menu_items,
      configured_icons: true
    }%}
  {% endblock %}

  {% block footer__menu %}
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: 'footer-menu',
      items: footer_menu_items,
    } %}
  {% endblock %}

  {% block footer__legal_links %}
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: 'legal-links-menu',
      items: legal_links_menu_items,
    } %}
  {% endblock %}

{% endembed %}
