{#
/**
 * @file
 * Template for the newsletter form component.
 *
 * Available variables:
 * 'form_type' => NULL
 */
#}
{% set newsletter_signup__base_class = 'newsletter-signup' %}

{% if form_type == 'widget' %}
  <section {{ bem(newsletter_signup__base_class) }}>
    <div {{ bem(form_type, [], newsletter_signup__base_class) }}>
      <iframe src="http://cloud.confectionery.mars.com/WidgetPOC"></iframe>
    </div>
  </section>
{% elseif form_type == 'page' %}
  <section {{ bem(newsletter_signup__base_class) }}>
    <div {{ bem(form_type, [], newsletter_signup__base_class) }}>
      <iframe src="http://cloud.confectionery.mars.com/WidgetPOC"></iframe>
    </div>
  </section>
{% endif %}