{#
/**
 * @file
 * Template for the Where To Buy component.
 *
 * Available variables:
 * - commerce_vendor -
 * - product_id -
 * - cta_title -
 * - button_type -
 * - widget_id -
 * - data_token -
 * - data_subid -
 * - data_locale -
 * - data_displaylanguage -
 * - products -
 * - default_product -
 */
#}
{% set where_to_buy_base_class = where_to_buy_base_class|default('where-to-buy') %}
{% set where_to_buy_modifiers = ['wtb-page'] %}
<div id="wtb-container"{{ bem(where_to_buy_base_class, where_to_buy_modifiers) }}>
    {% include "@molecules/product-selector/product-selector.twig" with {
        theme_styles: 'drupal',
        products: products,
        default_product: default_product,
        commerce_vendor: commerce_vendor,
    } %}
</div>
