// 1.1 Custom cookie banner
// 1.2 OneTrust cookie banner

// 1.1 Custom cookie banner
.cookie-banner {
  position: fixed;
  z-index: 2147483644;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  box-shadow: 0 0 18px rgba(0, 0, 0, .2);
  background-color: white;


  @include brand-border-overflow;

  &--brand-border {
    box-shadow: unset;
  }

  &__wrapper {
    position: relative;
    letter-spacing: normal;
    padding: 20px 49px 30px 20px;
    max-height: 90%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: clr(primary, cookie-banner-text);

    @include medium {
      padding: 40px 80px 40px 40px;
    }

    @include xl {
      padding: 40px 350px 60px 40px;
    }
  }

  .cookie-banner__border {
    padding-top: 20px;
  }

  &__link {
    flex: .45;
    justify-content: center;
    display: flex;

    #cookie-banner-settings {
      color: #0000a0;
      font-weight: bold;
      text-decoration: underline;
      background: none;
      border: none;
      letter-spacing: normal;
      cursor: pointer;
    }

    #onetrust-accept-btn-handler {
      background-color: #0000a0;
      border-color: #0000a0;
      color: #FFF;
      min-width: 125px;
      margin-left: 2em;
      padding: 12px 10px;
      line-height: 1.2;
      text-decoration: none;
    }

    @include xs {
      margin-top: 20px;
    }

    @include medium {
      margin-top: 20px;
    }

    @include large {
      margin-top: 0;
    }
  }

  &__content {
    p {
      margin: 0;
    }

    p > a {
      color: #3860BE;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .cookie-banner-close-button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzQ4LjMzM3B4IiBoZWlnaHQ9IjM0OC4zMzNweCIgdmlld0JveD0iMCAwIDM0OC4zMzMgMzQ4LjMzNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzQ4LjMzMyAzNDguMzM0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZmlsbD0iIzU2NTY1NiIgZD0iTTMzNi41NTksNjguNjExTDIzMS4wMTYsMTc0LjE2NWwxMDUuNTQzLDEwNS41NDljMTUuNjk5LDE1LjcwNSwxNS42OTksNDEuMTQ1LDAsNTYuODVjLTcuODQ0LDcuODQ0LTE4LjEyOCwxMS43NjktMjguNDA3LDExLjc2OWMtMTAuMjk2LDAtMjAuNTgxLTMuOTE5LTI4LjQxOS0xMS43NjlMMTc0LjE2NywyMzEuMDAzTDY4LjYwOSwzMzYuNTYzYy03Ljg0Myw3Ljg0NC0xOC4xMjgsMTEuNzY5LTI4LjQxNiwxMS43NjljLTEwLjI4NSwwLTIwLjU2My0zLjkxOS0yOC40MTMtMTEuNzY5Yy0xNS42OTktMTUuNjk4LTE1LjY5OS00MS4xMzksMC01Ni44NWwxMDUuNTQtMTA1LjU0OUwxMS43NzQsNjguNjExYy0xNS42OTktMTUuNjk5LTE1LjY5OS00MS4xNDUsMC01Ni44NDRjMTUuNjk2LTE1LjY4Nyw0MS4xMjctMTUuNjg3LDU2LjgyOSwwbDEwNS41NjMsMTA1LjU1NEwyNzkuNzIxLDExLjc2N2MxNS43MDUtMTUuNjg3LDQxLjEzOS0xNS42ODcsNTYuODMyLDBDMzUyLjI1OCwyNy40NjYsMzUyLjI1OCw1Mi45MTIsMzM2LjU1OSw2OC42MTF6Ii8+PC9nPjwvc3ZnPg==);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 12px;
    width: 12px;
    border: none;
    position: absolute;
    cursor: pointer;

    @include xs {
      right: 10px;
      top: 10px;
    }

    @include medium {
      right: 10px;
      top: 10px;
    }

    @include large {
      right: 20px;
      top: 50%;
    }
  }
}

// 1.2 OneTrust cookie banner
#onetrust-consent-sdk.--loaded #onetrust-banner-sdk.bottom {
  opacity: 1;
  transform: translateY(0);
}

#onetrust-consent-sdk #onetrust-banner-sdk.bottom {
  @include set-font($font-type: 'secondary-font');

  overflow: initial;
  background-image: radial-gradient(circle at 50% 30vw,var(--c-cookie-banner-gradient), var(--c-cookie-banner) 50%);
  transition: 500ms transform ease;
  transform: translateY(150%);

  .ot-close-icon {
    background-image: none !important;
    &::before {
      content: "\00d7";
      color: clr(primary, cookie-banner-text, cookie-banner-close);
      font-size: 30px;
      font-weight: normal;
      font-family: "Helvetica", "Arial", sans-serif;
    }
  }

  // image border
  .cookie-banner__border svg {
    fill: var(--c-cookie-banner);
    position: absolute;
    bottom: 2px;
    width: 100%;
  }

  // inner container
  [role="alertdialog"] {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
  }

  .ot-sdk-container {
    padding: 20px 49px 30px 20px;

    @include medium {
      padding: 15px 80px 5px 40px;
    }

    @include xl {
      padding: 40px 350px 60px 40px;
    }
  }

  // paragraph
  #onetrust-group-container {
    width: 100%;

    #onetrust-policy {
      margin: 0;
      font-size: 1.8rem;
      line-height: 1.4;
    }

    #onetrust-policy-text,
    a[href],
    a[href] font,
    .ot-link-btn { color: clr(primary, cookie-banner-text); }
  }

  // "cookie settings" button
  #onetrust-button-group-parent {
    position: relative;
    left: 0;
    width: initial;
    padding: 0;
    transform: none;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.16rem;
    text-align: initial;

    #onetrust-button-group {
      display: inline-block;
      margin-right: 6rem;
    }

    #onetrust-reject-all-handler{	
      @include xs{
        margin-top: 10px;
      }
      @include medium{
        margin: 0 0 0 15px;
      }
      @include large{
       margin: 0 13px 0 13px;
      }
  }

    #onetrust-pc-btn-handler {
      margin: 0;
      min-width: initial;
      text-align: left;
      text-transform: uppercase;
      background-color: initial;
      color: clr(primary, cookie-banner-text);
    }
  }
}

#onetrust-pc-sdk {
  .ot-close-icon {
    background-image: none !important;
    &::before {
      content: "\00d7";
      font-size: 30px;
      font-weight: normal;
      font-family: "Helvetica", "Arial", sans-serif;
    }
  }
}

#onetrust-consent-sdk.global-cookie #onetrust-banner-sdk.bottom {
  background-image: none;

  .ot-sdk-container {
    padding: 20px;

    @include large {
      padding: 10px 50px 10px 40px;
    }
  }

  #onetrust-group-container {
    width: 100%;

    @include medium {
      width: 95%;
    }

    @include large {
      width: 60%;
    }

    #onetrust-policy {
      font-size: unset;
    }

    #onetrust-policy-text { 
      color: clr(text); 
      margin: 3.5rem 0 2rem;

      @include medium {
        margin: 1rem 0;
      }

      a[href] {
        color: #0000a0;
      }
    }
  }

  #onetrust-button-group-parent {
    position: relative;
    width: 100%;
    padding: 0;   

    @include large {
      left: auto;
      width: 40%;
      padding: 0 2%;
    }

    #onetrust-button-group {
      display: block;
      margin-right: auto;

      @include large {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
      }
    }

    #onetrust-pc-btn-handler {
      margin: 0;
      min-width: 125px;
      text-align: center;
      text-transform: capitalize;
      background-color: #FFF;
      color: #0000a0;

      @include medium {
        margin: 0 1rem;
      }
    }

    #onetrust-accept-btn-handler {

      @include medium {
        margin: 0 1rem;
      }
    }
  }
}
