<div class="cookie-parent-div">
  <div class="cookie-banner-content">
    <p>
      We use cookies to personalize content and ads, to provide social media features and to analyze our traffic. See our <a href="https://www.mars.com/cookies-english" target="_blank" aria-label="See our Cookie Policy">cookie policy</a> You can use cookie settings to change your preferences.
    </p>
  </div>
  <div class="cookie-banner-link">
    <button id="cookie-banner-settings">Cookie Settings</button>
    <button id="onetrust-accept-btn-handler">Accept Cookies</button>
  </div>
  <button class="cookie-banner-close-button"></button>
</div>
