{% set pdp_template__base_class = 'pdp-body' %}

{% for pdp_item in pdp_data %}
  <section {{ bem(pdp_template__base_class) }} data-theme="{{ theme_styles }}" data-pdp-size-active={{pdp_item.active}} data-pdp-size-id={{pdp_item.size_id}}>
    <!-- PDP Hero Module -->
    {% include "@molecules/pdp/pdp-hero/pdp-hero.twig" with {
      gtin: pdp_item.gtin,
      size_id: pdp_item.size_id,
      pdp_common_hero_data: pdp_common_data.hero_data,
      pdp_size_items_data: pdp_size_data,
      pdp_hero_data: pdp_item.hero_data,
      pdp_label_nutrition: (pdp_common_data.nutrition_data.show_nutrition_data) ? pdp_common_data.nutrition_data.nutritional_label : FALSE,
      pdp_label_allergen: pdp_item.allergen_data.allergens_list|length ? pdp_common_data.allergen_data.allergen_label : '',
      pdp_label_cooking: pdp_item.cooking_data is not empty ? pdp_common_data.cooking_data.cooking_label : '',
      pdp_label_more_information: pdp_common_data.more_information_data.show_more_information_label ? pdp_common_data.more_information_data.more_information_label : '',
      show_rating_and_reviews: pdp_item.show_rating_and_reviews,
      pdp_is_main_variant: pdp_item.is_main_variant,
      pdp_description: pdp_item.product_description,
      pdp_disclaimers: pdp_common_data.nutrition_data.break_disclaimers_description,
      pdp_title: pdp_item.product_name,
      wtb_manual_link_info: pdp_item.wtb_manual_link_info,
      price_spider_link_info: pdp_item.price_spider_link_info,
      mik_mak_link_info: pdp_item.mik_mak_link_info
    } %}

    <!-- PDP Benefits -->
    {% set benefits_list = [] %}
    {% for benefit_item in pdp_item.nutrition_data.claims_benefits %}
      {% set benefits_list = benefits_list|merge([{'content' : benefit_item }])   %}
    {% endfor %}
    {% set benefits_data = {
      'enabled': pdp_item.nutrition_data.claims_benefits is not empty and pdp_common_data.nutrition_data.show_claims_benefits != false and pdp_common_data.nutrition_data.show_claims_benefits != 0,
      'title': pdp_common_data.nutrition_data.benefits_title,
      'list': benefits_list,
      'disclaimer': pdp_common_data.nutrition_data.benefits_disclaimer,
    } %}
    {% include "@molecules/pdp/pdp-benefits/pdp-benefits.twig" with {
      benefits_data: benefits_data,
    } %}

    {% if pdp_common_data.nutrition_data.show_nutrition_data %}
      <!-- PDP Nutrition -->
      {% include "@molecules/pdp/pdp-nutrition/pdp-nutrition.twig" with {
        size_id: pdp_item.size_id,
        pdp_nutrition_data: pdp_item.nutrition_data,
        pdp_common_nutrition_data: pdp_common_data.nutrition_data,
        show_table_footer: pdp_item.dual_nutrition_data is empty
      } %}

      <!-- PDP Dual Nutrition -->
      {% if pdp_item.dual_nutrition_data is not empty  %}
        {% include "@molecules/pdp/pdp-nutrition/pdp-nutrition.twig" with {
          size_id: pdp_item.size_id,
          pdp_nutrition_data: pdp_item.dual_nutrition_data,
          pdp_common_nutrition_data: pdp_common_data.nutrition_data,
          is_dual_table: true,
          show_table_footer: true
        } %}
      {% endif %}
    {% endif %}

    <!-- PDP Allergen -->
    {% include "@molecules/pdp/pdp-allergen/pdp-allergen.twig" with {
      size_id: pdp_item.size_id,
      pdp_allergen_data: pdp_item.allergen_data,
      pdp_common_allergen_data: pdp_common_data.allergen_data,
    } %}

    <!-- PDP Cooking -->
    {% include "@molecules/pdp/pdp-cooking/pdp-cooking.twig" with {
      size_id: pdp_item.size_id,
      pdp_cooking_data: pdp_item.cooking_data,
      pdp_common_cooking_data: pdp_common_data.cooking_data,
    } %}
  </section>
{% endfor %}
<!-- PDP More Information -->
{% include "@molecules/pdp/pdp-more-information/pdp-more-information.twig" with {
  pdp_more_information_data: pdp_item.more_information_data,
  pdp_common_more_information_data: pdp_common_data.more_information_data,
} %}
