{#
/**
 * @file
 * Homepage hero component (video variant).
 * 'label' => NULL
 * 'eyebrow' => NULL,
 * 'cta_url' => NULL,
 * 'cta_title' => NULL,
 * 'title_url' => NULL,
 * 'title_label' => NULL,
 * 'block_type' => NULL
 * 'background_asset' => NULL,
 * 'blocks' => [],
 * 'background_color' => [],
 * 'brand_shape' => NULL,
 * 'dark_overlay' => NULL,
 */
#}

{% if (block_type == 'video_loop') %}
  {{ attach_library('emulsifymars/ambient-video') }}

  <div {{ bem('container', ['video'], 'homepage-hero-video') }}>
    {% include "@atoms/video/ambient-video/video.twig" with {
      video__src__url: background_asset.src,
      video__control: true
    } %}
  </div>

{% elseif (block_type == 'video') %}
  {{ attach_library('emulsifymars/fullscreen-video') }}

  {% include "@molecules/homepage-hero/video/homepage-hero-video.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    video__src__url: background_asset.src,
    dark_overlay: dark_overlay,
  } %}

{% elseif (block_type == 'default') %}

  {% set background_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' |
    format(background_asset.src, background_asset.src, background_asset.src, background_asset.src) %}

  {% set hero_image = {
    'srcset': background_srcset,
    'src': background_asset.src,
    'alt': background_asset.alt,
    'title': background_asset.title} %}

  {% include "@molecules/homepage-hero/standard/homepage-hero-standard.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    background_color: background_color,
    hero_image: hero_image,
    dark_overlay: dark_overlay,
  } %}

{% elseif (block_type == 'image') %}

  {% set background_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' |
    format(background_asset.src, background_asset.src, background_asset.src, background_asset.src) %}

  {% set hero_image = {
    'srcset': background_srcset,
    'src': background_asset.src,
    'alt': background_asset.alt,
    'title': background_asset.title} %}

  {% include "@molecules/homepage-hero/3up/homepage-hero-3up.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    hero_image: hero_image,
    blocks: blocks,
    brand_shape: brand_shape,
    dark_overlay: dark_overlay,
  } %}

{% elseif (block_type == 'image_and_text') %}

  {% include "@molecules/homepage-hero/basic/homepage-hero-basic.twig" with {
    theme_styles: 'drupal',
    homepage_hero_basic_content: title_label,
    homepage_hero_basic_img: background_asset,
    dark_overlay: dark_overlay,
  } %}

{% endif %}
