{#
/**
 * @file
 * Homepage hero component (video variant).
 * 'label' => NULL
 * 'eyebrow' => NULL,
 * 'cta_url' => NULL,
 * 'cta_title' => NULL,
 * 'title_url' => NULL,
 * 'title_label' => NULL,
 * 'block_type' => NULL
 * 'background_assets' => NULL,
 * 'blocks' => [],
 * 'background_color' => [],
 * 'brand_shape' => NULL,
 * 'dark_overlay' => NULL,
 * 'hide_volume' => NULL,
 */
#}

{% if (block_type == 'video_loop') %}
  {{ attach_library('emulsifymars/ambient-video') }}

  <div {{ bem('container', ['video'], 'homepage-hero-video') }}>
    {% include "@atoms/video/ambient-video/video.twig" with {
      video__src__url: background_assets.video.src,
      video__control: true
    } %}
  </div>

{% elseif (block_type == 'video') %}
  {{ attach_library('emulsifymars/fullscreen-video') }}

  {% include "@molecules/homepage-hero/video/homepage-hero-video.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    video__src__url: background_assets.video.src,
    dark_overlay: dark_overlay,
    hide_volume: hide_volume,
  } %}

{% elseif (block_type == 'default') %}
  {% include "@molecules/homepage-hero/standard/homepage-hero-standard.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    background_color: background_color,
    hero_images: background_assets,
    dark_overlay: dark_overlay,
  } %}

{% elseif (block_type == 'image') %}

  {% include "@molecules/homepage-hero/3up/homepage-hero-3up.twig" with {
    theme_styles: 'drupal',
    eyebrow: eyebrow,
    title_label: title_label,
    title_href: title_url,
    cta_title: cta_title,
    cta_link_attributes: cta_url,
    cta_base_class: 'cta-link',
    hero_images: background_assets,
    blocks: blocks,
    brand_shape: brand_shape,
    dark_overlay: dark_overlay,
  } %}

{% elseif (block_type == 'image_and_text') %}

  {% include "@molecules/homepage-hero/basic/homepage-hero-basic.twig" with {
    theme_styles: 'drupal',
    homepage_hero_basic_content: title_label,
    hero_images: background_assets,
    dark_overlay: dark_overlay,
  } %}

{% endif %}
