{% set error_component_base_class = 'error-component' %}
{% set error_component_heading_base_class = 'error-component__heading' %}
{% set error_component_paragraph_base_class = 'error-component__paragraph' %}

<section {{ bem(error_component_base_class) }} data-theme="{{ theme_styles }}">
  <div class="error-component__brand-shape">
    {{brand_shape | raw}}
  </div>

  <div class="error-component__content">
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: error_component_heading,
      heading_level: error_component_heading_level,
      heading_base_class: error_component_heading_base_class
    } %}

    {% include "@atoms/separators/graphic-divider/graphic-divider.twig" with {
      graphic_divider_blockname: error_component_base_class,
      graphic_divider: graphic_divider
    } %}

    {% include "@atoms/text/text/07-element.twig" with {
      paragraph_content: error_component_paragraph_content,
      paragraph_base_class: error_component_paragraph_base_class
    } %}

    <div class="error-component__link-container">
      {% for link in error_component_links %}
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: link.content,
          default_link_attributes: link.attributes,
          default_link_modifiers: ['light']
        } %}
      {% endfor %}
    </div>

    <div class="error-component__img-container">
      {% set images = {
        1440: error_component_bg_image_src|resizeByWidth(1440),
        768: error_component_bg_image_src|resizeByWidth(768),
        375: error_component_bg_image_src|resizeByWidth(375),
      } %}
      {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: error_component_bg_image_alt,
          image_src: error_component_bg_image_src|resizeByWidth(1440),
          responsive_image_blockname: 'error-bg-img',
          image_array: images,
        } %}
    </div>
  </div>
</section>
