.error-component {
  background-color: clr(subcolor-2);
  position: relative;
  overflow: hidden;

  @include xs {
    padding: 0 2rem 11rem 2rem;
  }

  @include medium {
    padding: 0 8rem 46.7rem 8rem;
  }

  @include large {
    padding: 0 8rem 31.1rem 8rem;
  }

  &__content {
    z-index: 2;
  }

  &__graphic-divider {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;

    @include medium {
      margin-bottom: 4rem;
    }
  }

  &__brand-shape {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @include xs {
      height: 19rem;
    }

    @include medium {
      height: 31rem;
    }

    @include large {
      height: 32.7rem;
    }

    svg {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      fill: rgba(clr(subcolor-1-rgb), 0.2);

      @include xs {
        width: 33.4rem;
      }

      @include medium {
        width: 65.2rem;
      }

      @include large {
        width: 85.6rem;
      }
    }
  }

  &__heading {
    font-family: variable(heading-font);
    text-align: center;
    color: clr(primary);
    z-index: 5;
    position: relative;

    @include xs {
      font-size: 6rem;
      line-height: 5.4rem;
      margin-top: 6rem;
      margin-bottom: 3rem;
    }

    @include medium {
      font-size: 10rem;
      line-height: 9rem;
      margin-top: 12rem;
      margin-bottom: 4rem;
    }

    @include large {
      font-size: 12rem;
      line-height: 10.8rem;
    }
  }

  &__paragraph {
    font-family: variable(secondary-font);
    text-align: center;
    color: clr(primary);
    z-index: 5;
    position: relative;
    margin-bottom: 3rem;

    @include xs {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    @include medium {
      font-size: 2rem;
      line-height: 3.2rem;
      margin-bottom: 6rem;
    }

    @include large {
      font-size: 2.2rem;
      line-height: 3.52rem;
    }
  }

  &__link-container {
    display: flex;
    justify-content: center;
    z-index: 5;
    position: relative;

    @include xs {
      flex-direction: column;
    }

    @include medium {
      flex-direction: row;
    }

    .default-link {
      @include medium {
        flex-basis: auto;
        min-width: 157px;
        padding: 0 3rem;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 1;
    min-width: 1440px;
    margin-left: 50%;
    transform: translateX(-50%);

    picture {
      min-width: initial;
      display: inline;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include xl {
      min-width: 100%;
    }
  }
}
