.error-component {
  background-color: clr(subcolor-2);
  position: relative;
  overflow: hidden;

  @include xs {
    padding: 6rem 2rem 11rem 2rem;
  }

  @include medium {
    padding: 6rem 8rem 37rem 8rem;
  }

  &__content {
    z-index: 2;
  }

  &__graphic-divider {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__brand-shape {
    position: absolute;
    top: -5rem;
    left: 50%;

    @include xs {
      width: 40rem;
      top: -19rem;
    }

    @include medium {
      width: 65rem;
      top: -30rem;
    }

    @include large {
      width: 74rem;
    }

    @include xl {
      width: 90rem;
      top: -45rem;
    }

    svg {
      width: 100%;
      height: 100%;
      position: relative;
      left: -50%;
    }
  }

  &__heading {
    font-family: variable(heading-font);
    text-align: center;
    color: clr(primary);
    z-index: 5;
    position: relative;

    @include xs {
      font-size: 6rem;
      line-height: 5.4rem;
    }

    @include medium {
      font-size: 10rem;
      line-height: 9rem;
    }

    @include large {
      font-size: 12rem;
      line-height: 10.8rem;
    }
  }

  &__paragraph {
    font-family: variable(secondary-font);
    text-align: center;
    color: clr(primary);
    z-index: 5;
    position: relative;
    margin-bottom: 5rem;

    @include xs {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    @include medium {
      font-size: 2rem;
      line-height: 3.2rem;
    }

    @include large {
      font-size: 2.2rem;
      line-height: 3.52rem;
    }
  }

  &__link-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 65rem;
    margin: 0 auto;
    z-index: 5;
    position: relative;

    @include xs {
      flex-direction: column;
    }

    @include medium {
      flex-direction: row;
    }
  }

  &__img-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
