.search-autocomplete-wrapper {
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  color: clr(subcolor-3);
  max-height: 100%;
  margin-bottom: 2px;

  @include medium {
    margin-bottom: 30px;
  }

  @include large {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 16.2rem;
    background-image: radial-gradient(
      circle at 50% 50%,
      clr(top-nav-gradient),
      clr(top-nav)
    );
    top: 0;
    margin-bottom: 0;
  }

  &.opened {
    @include large {
      display: block;
      position: absolute;
      height: 20rem;
      z-index: 20;
    }
    .mars-search-autocomplete-suggestions-wrapper {
      @include large {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 10;
      }
    }
  }

  & .wrapper-overlay {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;

    @include large {
      align-items: center;
      height: 16.2rem;
    }

    .header__branding {
      display: none;

      @include large {
        max-width: 90%;
        display: block;
      }

      @include xl {
        width: 100%;
      }
    }
  }

  ::placeholder {
    @include set-font($font-type: 'secondary-font');

    color: clr(subcolor-3, mobile-search-right-menu-section);
    font-size: 14px;
    letter-spacing: 1.4px;

    @include medium {
      font-size: 18px;
    }

    @include large {
      color: clr(primary);
      line-height: 5rem;
    }

    @include xl {
      line-height: 6rem;
    }
  }

  & .search-input-wrapper {
    @include large {
      display: flex;
      flex-flow: column nowrap;
      width: 69%;
      position: relative;
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }

    &.suggested {
      & .mars-search-autocomplete-suggestions-wrapper {
        display: block;
        position: relative;
        width: 100%;
        background-color: transparent;

        @include large {
          position: absolute;
          top: 60px;
          z-index: 4;
          background-color: clr(subcolor-3);
        }

        .empty-text,
        .empty-text-description {
          margin: 10px 0;
        }

        .autocomplete-border {
          border-bottom: none;

          @include large {
            border-bottom: 1px solid clr(subcolor-4);
            margin: 0 20px;
          }
        }
      }

      & .mars-suggestions {
        color: clr(subcolor-3, mobile-search-right-menu-section);
        font-size: 14px;
        line-height: 100%;

        @include large {
          margin-left: 60px;
          margin-top: 10px;
          color: clr(primary);
          font-size: 18px;
          line-height: 100%;
        }

        .suggestions-links {
          position: relative;
          z-index: 10;
          margin-top: 10px;

          li {
            margin-bottom: 10px;

            & a {
              color: clr(subcolor-3);
              text-decoration: none;

              @include large {
                color: clr(primary);
              }
            }
          }
        }

        .show-all {
          margin-bottom: 20px;

          & a {
            color: clr(subcolor-3);

            @include large {
              color: clr(primary);
            }
          }
        }
      }
    }

    & input.mars-autocomplete-field {
      @include large {
        border-radius: variable(button-border-radius);
      }
    }

    & .mars-search-autocomplete-suggestions-wrapper {
      font-size: 16px;
      margin-top: 0;
      display: none;
      line-height: 100%;

      @include large {
        background-color: clr(subcolor-3);
        color: clr(primary);
        border-bottom-left-radius: variable(card-border-radius);
        border-bottom-right-radius: variable(card-border-radius);
        border: 1px solid clr(subcolor-4);
        border-top: none;
      }

      & .suggestions-links a {
        text-decoration: none;
        color: clr(subcolor-3);
        line-height: 150%;
      }

      & .suggestions-label {
        padding-left: 1px;
      }

      & ul {
        list-style: none;
        padding-left: 0;

        & li {
          padding-left: 0;
          margin-bottom: 0;
        }
      }

      .no-results {
        margin-top: 10px;
        color: clr(subcolor-3);
        line-height: 150%;
        .empty-text {
          font-weight: bold;
        }
      }
    }

    & .search-field {
      @include set-font($font-type: 'secondary-font');

      margin-right: auto;
      margin-left: auto;
      width: 100%;
      border-bottom: 1px solid clr(subcolor-3, mobile-search-right-menu-section);
      padding-bottom: 3px;

      @include medium {
        padding-bottom: 0;
      }

      @include large {
        border-bottom: none;
        margin: 5rem auto;
      }

      .form-item {
        margin-bottom: 0;
        position: relative;

        & input.mars-autocomplete-field {
          border: none;
          color: clr(subcolor-3, mobile-search-right-menu-section);
          height: 50px;
          width: 90%;
          background-color: transparent;
          outline: none;
          padding: 0 10px 0 35px;
          font-size: 1.4rem;
          line-height: 1.4rem;
          letter-spacing: 1.4px;

          @include medium {
            font-size: 18px;
            line-height: 2.52rem;
          }

          @include large {
            width: 100%;
            max-width: 840px;
            height: 60px;
            color: clr(primary);
            border: 1px solid clr(subcolor-4);
            background-color: clr(subcolor-3);
            outline: none;
            font-size: 1.8rem;
            line-height: 2.52rem;
            padding: 0 10px 0 50px;
          }
        }

        &::before {
          content: '';
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23490E00' d='M19.644 18.107l-4.098-4.098c.2-.267.4-.535.556-.824.067-.112.134-.245.2-.357.134-.244.246-.49.357-.757.268-.646.468-1.336.58-2.049.044-.29.066-.579.088-.868 0-.156.023-.29.023-.446C17.372 3.898 13.474 0 8.686 0c-.156 0-.29 0-.445.022-.29.023-.58.045-.87.09-.868.133-1.692.4-2.449.757-.245.111-.512.245-.735.378-.245.156-.468.312-.69.468-.446.334-.869.713-1.225 1.114-.09.11-.178.2-.268.311-.356.423-.668.891-.935 1.381C.379 5.768 0 7.194 0 8.686c0 .156 0 .29.022.445.023.29.045.58.09.869.11.713.311 1.403.578 2.049.335.78.78 1.492 1.292 2.138.09.111.178.223.267.312.38.4.78.78 1.225 1.114.223.155.446.311.69.467.246.156.49.29.736.401.757.356 1.581.624 2.45.757.29.045.579.067.868.09.156 0 .29.022.446.022 1.982 0 3.808-.669 5.278-1.782l4.098 4.098c.223.223.512.334.78.334.267 0 .579-.111.78-.334.49-.423.49-1.136.044-1.56zM1.782 8.686c0-3.808 3.096-6.904 6.904-6.904s6.904 3.096 6.904 6.904-3.096 6.904-6.904 6.904-6.904-3.096-6.904-6.904z'/%3E%3C/svg%3E%0A");
          position: absolute;
          width: 2rem;
          height: 2rem;
          top: calc(50% - 1rem);
          left: 0;
          background-color: clr(subcolor-3, mobile-search-right-menu-section);

          @include large {
            background-color: clr(primary);
            left: 2rem;
          }
        }
      }
    }
  }

  & .inline-search--closebtn {
    display: none;

    @include large {
      display: block;
      margin-left: auto;
      height: 60px;
      max-width: 3%;
      position: absolute;
      z-index: 10;
      right: 2%;
      top: 0;
    }

    @include xl {
      display: block;
      margin-left: auto;
      margin-right: 8%;
      height: 60px;
      max-width: 3%;
      position: absolute;
      z-index: 10;
      right: 2%;
      top: 0;
    }
  }
}

input.mars-autocomplete-field:-webkit-autofill,
input.mars-autocomplete-field:-webkit-autofill:hover,
input.mars-autocomplete-field:-webkit-autofill:focus,
input.mars-autocomplete-field:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: clr(subcolor-3);

  @include large {
    -webkit-text-fill-color: clr(primary);
    font-size: 18px;
    margin-left: 60px;
    padding-left: 60px;
  }
}


.search-input-wrapper {
  .js-form-item {
    input:placeholder-shown + .clear-icon {
      display: none;
    }
    .clear-icon {
      position: absolute;
      border: 1px solid transparent;
      background-color: transparent;
      display: inline-block;
      vertical-align: middle;
      outline: 0;
      &::after {
        content: 'X';
        display: block;
        position: absolute;
        z-index: 1;
        right: 10px;
        margin: auto;
        padding: 2px;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 18px;
        cursor: pointer;
        top: calc(50% + 1rem);
        @include large {
          right: 30px;
          font-size: 23px;
          color: red;
        }
      }
    }
  }
}
