.search-autocomplete-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 50% 50%, clr(top-nav-gradient), clr(top-nav));
  position: absolute;
  top: 0;

  &.opened {
    display: flex !important;
  }

  & .wrapper-overlay {
    display: flex;
    width: 100%;
  }

  & .search-field-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 69%;
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    &.suggested {
      & .mars-search-autocomplete-suggestions-wrapper {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
      }

      & input.mars-autocomplete-field {
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
      }

      & .mars-suggestions {
        margin-left: 60px;
        margin-top: 10px;
      }

      .autocomplete-border {
        border-top: 1px solid clr(subcolor-4);
        margin: 0 25px;
      }
    }

   & input.mars-autocomplete-field {
      border-radius: variable(border-radius);
    }

    & .mars-search-autocomplete-suggestions-wrapper {
      color: clr(primary);
      font-size: 16px;
      margin-top: 0;
      background-color: clr(subcolor-3);
      display: none;

      @include large {
        border-bottom-left-radius: variable(border-radius);
        border-bottom-right-radius: variable(border-radius);
        border: 1px solid clr(subcolor-4);
        border-top: none;
      }

      & .suggestions-label {
        padding-left: 1px;
      }

      & ul {
        list-style: none;
        padding-left: 0;

        & li {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }

   & .search-field {
     margin-right: auto;
     margin-left: auto;
     width: 100%;

      & svg {
        align-self: center;
        z-index: 1;
        position: absolute;

        path {
          fill: clr(primary);
        }

        @include medium {
          left: 15px;
          top: 15px;
        }

        @include large {
          left: 25px;
          top: 20px;
        }
      }

      & input.mars-autocomplete-field {
        width: 100%;
        height: 50px;
        font-size: 16px;
        line-height: 140%;
        color: clr(primary);
        font-family: variable(secondary-font);
        border: 1px solid clr(subcolor-4);
        border-bottom: none;
        outline: none;
        padding-left: 45px;

        @include large {
          height: 60px;
          font-size: 18px;
          line-height: 140%;
          padding-left: 60px;
        }
      }
    }
  }

  & .inline-search--closebtn {
    margin-left: auto;
    margin-right: 40px;
  }

}

.search-autocomplete-wrapper-mobile {
  position: relative;
  display: none;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  color: clr(subcolor-3);

  & .search-field-wrapper {
    .search-field {
        & svg {
          align-self: center;
          width: 16px;
          height: 16px;

          path {
            fill: clr(subcolor-3);
          }
        }

        & input {
          border: none;
          color: clr(subcolor-3);
          width: 90%;
          background: transparent;
          padding-left: 5px;

          &:focus {
          outline: none;
          }

          &::placeholder {
            color: clr(subcolor-3);
          }
        }
      }

    .mars-search-autocomplete-suggestions-wrapper {
      margin-top: 20px;
      display: none;

      &.suggested {
        display: block;
      }

      & .autocomplete-border {
        border-top: 1px solid clr(subcolor-3);
      }

      & ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
          margin: 0;
          padding: 0;
          height: 16px;
          margin-top: 12px;
        }
      }
    }
    }
}
