.toggle-button {
  display: inline-block;
  margin: 0 12px 12px 0;

  &__input {
    display: none;
  }

  &__label {
    @include set-font($font-type: 'primary-font');

    display: inline-block;
    cursor: pointer;
    border: 1px solid clr(secondary);
    padding: 20px 40px;
    border-radius: variable(button-border-radius);
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: clr(secondary);
  }

  &__input:checked ~ &__label {
    background-color: clr(secondary);
    color: clr(subcolor-3);
  }
}
