.search-results-page {
  .ajax-card-grid {
    &__content {
      background-color: transparent;
    }
  }
}

.results-key-header-container.active {
  font-family: variable(heading-font);
  color: clr(primary);
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;

  @include medium {
    font-size: 2.6rem;
    line-height: 2.86rem;
    margin-bottom: 6rem;
  }

  @include large {
    font-size: 2.8rem;
    line-height: 3.08rem;
    margin-bottom: 8rem;
  }
}
