.related-recipes {
  font-family: variable(primary-font);
  background-color: clr(subcolor-2);
  color: clr(subcolor-1);
  margin-top: 23px;
  padding-top: 50px;

  @include medium {
    margin-top: 40px;
  }

  @include large {
    margin-top: 75px;
  }

  & .curve {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    top: 3px;

    > svg {
      width: 100%;
      > path {
        fill: clr(subcolor-2);
        width: 100%;
      }
      > rect {
        width: 100%;
        height: 100%;
      }
    }

  }

  & .h2 {
    font-family: variable(heading-font);
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 1.4px;
    color: clr(subcolor-1);
    text-transform: uppercase;
    text-align: center;
  }

  & .divider {
    text-align: center;
    margin-top: 20px;
    svg {
      path {
        fill: clr(subcolor-3);
      }
    }
  }

  & .image-wrapper {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img:hover {
      transform: scale(1.1);
      transition: transform 0.8s;
    }
  }

  & .grid--card {
    margin: 40px 20px 0 20px;

  & .image-background {
    display: inline-block;
    margin: auto;
  }



    @include medium {
      flex-flow: row nowrap;
      flex-grow: 1;
    }

    & .card {
      text-align: center;
      &__heading {
        text-align: center;

        a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 22px;
        }
      }

      &__body {
        font-family: variable(secondary-font);
        font-size: 16px;
        line-height: 22.4px;
      }

      & a.default-link {
       height: 50px;
       line-height: 50px;
       padding: 0 20px;
       background-color: clr(primary);
       font-size: 14px;
       border:none;

        &:hover {
          color: clr(primary);
        }
      }
    }
  }

  & .grid__item {
    display: flex;
    flex-flow: column;

    & .cta-wrapper {
      margin-top: auto;
      margin-bottom: 20px;
    }

    &:nth-child(2n-1) {
      & .image-background {
        background-image: variable(brand-shape);
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.8s ease;
        }

        & svg {
          circle {
            fill: clr(subclor-2);
          }
        }
      }
    }
  }
}
