.related-recipes {
  font-family: variable(primary-font);

  & .wrapper {
    background-color: #f9f5ef;
  }

  &.h2 {
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 2.4px;
    color: clr(primary);
  }

}