.flexible-driver {
  background-color: clr(subcolor-2);
  border-top: 5px solid clr(secondary);
  position: relative;
  overflow: hidden;
  margin: 5rem 2rem;

  @include medium {
    margin: 6rem 4rem;
  }

  @include large {
    margin: 8rem auto;
    max-width: 1125px;
    max-height: 422px;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__bg-image {
    position: absolute;
    z-index: 1;
    display: block;

    &--left {
      @include xs {
        width: 19rem;
        left: 0;
        bottom: 0;
      }

      @include medium {
        width: 28rem;
        bottom: -8rem;
      }

      @include large {
        bottom: -3rem;
        width: 34.6rem;
      }
    }

    &--right {
      @include xs {
        width: 17rem;
        right: -5rem;
        top: 2rem;
      }

      @include medium {
        width: 25rem;
      }

      @include large {
        width: 28.9rem;
        top: 0;
      }
    }
  }

  & .middle_content {
    float: left;
    width: 100%;
    z-index: 2;
  }

  & .h2 {
    color: clr(primary);
    font-family: variable(heading-font);
    font-size: 2.8rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.8rem;
    margin: 0 2rem;
    padding-top: 8.5rem;
    text-transform: uppercase;
    text-align: center;

    @include medium {
      font-size: 4rem;
      margin: 0 4rem;
    }

    @include large {
      font-size: 4.8rem;
      margin: 0 11.5rem;
    }
  }

  &__paragraph {
    color: clr(primary);
    font-family: variable(secondary-font);
    font-size: 1.8rem;
    line-height: 2.52rem;
    padding-top: 4rem;
    text-align: center;

  }

  & .cta_wrapper {
    padding: 8.3rem 0;
    text-align: center;

    @include medium {
      padding: 6.3rem 0 12.6rem 0;
    }

    @include large {
      padding: 6.3rem 0 8rem 0;
    }
  }

  & .default-link {
    background-color: clr(secondary);
    color: clr(subcolor-3);
    margin: 0 auto;
  }

  & .default-link:hover {
    color: clr(secondary);
  }

  & .flexible_driver__brand-shape_1 {
    position: absolute;

    @include small {
      top: 40%;
    }

    @include medium {
      top: 25%;
    }
  }

  & .flexible_driver__brand-shape_2 {
    position: absolute;
    right: 0;
  }
}
