.flexible-driver {
  background-color: clr(subcolor-2);
  border-top: 5px solid clr(secondary);
  position: relative;
  overflow: hidden;
  margin: 5rem 2rem;
  padding: 1rem 0;
  min-height: 337px;

  @include medium {
    margin: 6rem 4rem;
    padding-bottom: 1.5rem;
    min-height: 386px;
  }

  @include large {
    margin: 8rem auto;
    max-width: 1125px;
    min-height: 422px;
    padding-bottom: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

 &__bg-image {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &--left {
      width: 16.3rem;
      height: 16.3rem;
      left: 0;
      bottom: -1.3rem; // 163 - 150 = 13

      @include xs {
        width: 9.3rem;
        height: 11.2rem;
        left: 0rem;
        bottom: -0.3rem;
      }

      @include medium {
        width: 22.2rem;
        height: 22.2rem;
        left: 1.9rem;
        bottom: -5.8rem; // 222 - 164 = 58
      }

      @include xl {
        width: 31.6rem;
        height: 31.6rem;
        left: 1.5rem;
        bottom: -7.8rem; // 316 - 238 = 78
      }
    }

    &--right {
      width: 11.4rem;
      height: 11.4rem;
      right: -4.6rem; // 114 - 68 = 46
      top: 2.1rem;
      
      @include xs
      {
        width: 7.4rem;
        height: 7.4rem;
        right: -2rem;
        top: 2.1rem;
      }
      @include small
      {
        width: 11.4rem;
        height: 10rem;
        right: -2rem;
        top: 2rem;
      }
      @include medium {
        width: 18.4rem;
        height: 15.4rem;
        right: -5.5rem;
        top: 2.1rem;
      }

      @include large
      {       
          width: 26.3rem;
          height: 23.3rem;
          right: -7.7rem;
          top: 4rem;
      }

      @include xl {
        width: 25.9rem;
        height: 25.9rem;
        right: -5.2rem; // 259 - 207 = 52
        top: 2.2rem;
      }
    }

    img {
      object-fit: contain;
      flex-grow: 1;
      max-width: 100%;
      max-height: 100%;
    }
  }

  & .middle_content {
    float: left;
    width: 100%;
    z-index: 2;
  }

  & .h2 {
    @include set-font($font-type: 'heading-font');

    color: clr(primary);
    font-size: 2.8rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    margin: 0 2rem;
    padding-top: 5rem;
    text-align: center;

    @include xs
    {
      font-size: 2rem;
      margin: 0 6rem;
    }

    @include small
    {
      font-size: 2rem;
      margin: 0 10.5rem;
    }
    @include medium {
      font-size: 4rem;
      margin: 0 10rem;
      padding-top: 8.5rem;
    }

    @include large {
      font-size: 4.8rem;
      margin: 0 11.5rem;
    }
  }

  &__paragraph {
    @include set-font($font-type: 'secondary-font');

    color: clr(primary);
    font-size: 1.8rem;
    line-height: 2.52rem;
    margin: 0;
    padding: 3rem 0 4rem 0;
    text-align: center;

    @include small{
      padding: 3rem 0 4rem 2rem;
    }

    @include medium{
      padding: 3rem 0 4rem 2rem;
    }

    @include large {
      max-width: 40%;
      margin: 0 auto;
    }

  }

  & .cta_wrapper {
    padding: 0;
    text-align: center;

    @include medium {
      padding: 3.3rem 0 0 0;
    }
  }

  & .default-link {
    background-color: clr(secondary);
    color: clr(subcolor-3);
    margin: 0 auto;
  }

  & .default-link:hover {
    color: clr(secondary);
  }

  & .flexible_driver__brand-shape_1 {
    position: absolute;

    @include small {
      top: 40%;
    }

    @include medium {
      top: 25%;
    }
  }

  & .flexible_driver__brand-shape_2 {
    position: absolute;
    right: 0;
  }
}