{% set felxible_driver__base_class = 'flexible-driver' %}
{% set flexible_driver_paragraph_base_class = 'flexible-driver__paragraph' %}
{% set asset_1 = asset_1.length > 0 ? asset_1 : flexible_driver_asset_1 %}
{% set asset_2 = asset_2.length > 0 ? asset_2 : flexible_driver_asset_2 %}


<section {{ bem(felxible_driver__base_class) }} data-theme="{{ theme_styles }}"
  {% if select_background_color|length > 0 %}
    style="background-color: {{ 'var(' ~ select_background_color ~ ')' }}"
  {% endif %}
>
  <div class="flexible-driver__bg-image flexible-driver__bg-image--left">
    {% set images_1 = {
      1440: asset_1|resize(346, 346),
      768: asset_1|resize(280, 280),
      375: asset_1|resize(190, 190),
    } %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: asset_1_alt,
      image_src: asset_1|resize(346, 346),
      image_array: images_1,
      height: '346px',
	    width: '346px',
    } %}
  </div>

  <div class="flexible-driver__bg-image flexible-driver__bg-image--right">
    {% set images_2 = {
      1440: asset_2|resize(289, 289),
      768: asset_2|resize(250, 250),
      375: asset_2|resize(170, 170),
    } %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: asset_2_alt,
      image_src: asset_2|resize(289, 289),
      image_array: images_2,
      height: '289px',
	    width: '289px',
    } %}
  </div>

  <div class="flexible-driver__content">
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: flexible_driver_heading,
      heading_level: flexible_driver_heading_level,
      heading_base_class: flexible_driver_heading_base_class
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_size: flexible_driver_paragraph_size,
      paragraph_content: flexible_driver_text,
      paragraph_base_class: flexible_driver_paragraph_base_class,
      paragraph_modifiers: flexible_driver_paragraph_modifiers
    } %}

    <div class="cta_wrapper">
      {% include "@atoms/links/defaultLink/defaultLink.twig" with {
        default_link_content: flexible_driver_button_text,
        default_link_attributes: flexible_driver_button_link_attributes,
        default_link_modifiers: flexible_driver_button_modifiers
      } %}
    </div>
  </div>

</section>
