.card-item {
  .default-link {
    font-size: 1.4rem;
    min-width: 13.3rem;

    @include xl {
      line-height: 5rem;
    }
  }
}

.card__heading {
  @include heading-large($font-size: 1.3rem);
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: clr(text);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
}

/* Variations */
.card--bg {
  background-color: clr(highlight-high);
  padding: 1em;
}

@mixin card-width {
  width: 31.5rem;

  @include medium {
    width: 33.4rem;
  }

  @include xl {
    width: 31.8rem;
  }
}
