{% set article_template__base_class = 'content-hub' %}
<div {{ bem(article_template__base_class) }} data-theme="{{ theme_styles }}">

    <!-- Content Hub Page Header -->
    {% include "@molecules/parent-page-header/parent-page-header.twig" %}

    <!-- Recipe Feature Module -->
    {% include "@molecules/recipe-feature-module/recipe-feature-module.twig" %}

    {% for component in components %}
      {{ components | raw }}
    {% endfor %}

</div>
