.homepage-hero-3up {
  &__inner {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    @include large {
      flex-flow: row nowrap;
    }
  }

  &__left {
    flex: 2 0 65%;
    width: 100%;

    @include large {
      width: auto;
    }

    & .wrapper {
      position: relative;
      height: 100%;
      min-height: 435px;

      @include medium {
        min-height: 600px;
      }

      @include large {
        min-height: 580px;
      }

      & .container {
        @include large {
          position: relative;
          max-width: 1440px;
          height: 100%;
          margin: 0 auto;
        }
      }

      & .eyebrow {
        @include set-font($font-type: 'primary-font');

        font-size: 1.4rem;
        color: clr(subcolor-3);
        text-decoration: none;
        margin-bottom: 2.5rem;

        @include medium {
          font-size: 1.6rem;
          margin-bottom: 3.3rem;
        }

        @include large {
          margin-bottom: 3.1rem;
        }
      }

      & .heading {
        margin: 0;
        max-width: 70%;

        &__link {
          @include set-font($font-type: 'heading-font');

          color: clr(subcolor-3);
          text-decoration: none;
          font-weight: 300;
          word-wrap: break-spaces;
          font-size: 3.3rem;
          line-height: 0.9;

          @include xs {
            font-size: 3.3rem;
          }

          @include small {
            font-size: 3.8rem;
          }
          @include medium {
            font-size: 4.5rem;
          }
          @include large {
            font-size: 5rem;
          }
          @include larger{
            font-size: 6rem;
          }
          @include xl{
            font-size: 6rem;
          }
        }
      }

      & .default-link {
        margin: 3.4rem 0 3.5rem;

        @include medium {
          margin: 6rem 0;
        }

        @include large {
          height: 6rem;
          line-height: 6rem;
        }
      }
    }
  }

  &__right {
    flex: 1 0 35%;
    width: 100%;

    @include large {
      width: auto;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
      background-color: clr(subcolor-3);
      display: flex;
      flex-flow: column nowrap;
      padding: 1rem 2rem;

      @include medium {
        padding: 0 4rem;
      }

      @include large {
        padding: 0 4rem 0 2.9rem;
        height: 100%;
      }
    }
  }

  &__brand-shape {
    position: absolute;
    z-index: 0;
    display: block;
    top: 44%;
    right: -26%;
    width: 36rem;
    height: 36rem;
    transform: translateY(-50%);
    animation: hero-brand-shape-xs-m-animates-in 1.7s cubic-bezier(0.75,0,0.25,0);

    @include medium {
      width: 60rem;
      height: 60rem;
      top: 40%;
    }

    @include large {
      width: 54rem;
      height: 54rem;
      right: -37%;
      top: 49%;
      animation: hero-brand-shape-l-animates-in 1.7s cubic-bezier(0.75,0,0.25,0);
    }

    svg {
      width: 100%;
      height: auto;
      fill: clr(subcolor-1);
      opacity: 0.1;
    }
  }

  &__container--image {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__image {
    flex-grow: 1;
    object-fit: cover;
    animation: hero-3up-image-animates-in 1.7s cubic-bezier(0.75,0,0.25,0);

    @include large {
      transform: scale(1.05);
      animation: hero-3up-image-animates-in 1.7s cubic-bezier(0.75,0,0.25,0);
    }
  }

  &__container--hero-text {
    padding: 37px 20px 36px 37px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    animation: hero-3up-text-animates-in 1.7s cubic-bezier(0.75,0,0.25,0);

    @include xs {
      padding: 30px 20px 5px 20px;
    }

    @include small {
      padding: 29px 20px 10px 20px;
    }

    @include medium {
      padding: 30px 20px 100px 37px;
    }

    @include large {
      padding: 30px 20px 78px 37px;
    }    
    
    @include xl{
      padding: 30px 20px 40px 50px;
    }

  }

  .dark-overlay {
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
    }
  }

  &--left-right-block {
    @include xl {
      .homepage-hero-3up__left .container {
        max-width: unset;
        margin-left: calc((100vw - 1440px) / 2);
        margin-right: 0;
      }

      .homepage-hero-3up__right__wrapper {
        padding-right: calc((100vw - 1440px) / 2 + 4rem);
      }
    }
  }
}

@keyframes hero-3up-image-animates-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes hero-3up-text-animates-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-brand-shape-xs-m-animates-in {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: -26%;
  }
}

@keyframes hero-brand-shape-l-animates-in {
  0% {
    opacity: 0;
    right: -100%;
  }
  100% {
    opacity: 1;
    right: -37%;
  }
}