.homepage-hero {
  &__inner {
    display: flex;
    flex-flow: row wrap;
    min-height: 580px;

  }
  &__container--image {
    position: absolute;
    right: 0;
    top:0;
    object-fit: cover;

     small {
      width: 212px;
      right: 50px;
    }
  }

  &__left {
    flex-grow: 2;
    background-color: clr(primary);
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
    position: relative;

    .eyebrow {
      font-family: variable(primary-font);
      font-size: 16px;
      color: clr(subcolor-3);
      text-decoration: none;
      letter-spacing: 1.6px;
      margin-top: 212px;
      margin-bottom: 0;
      padding: 0;

      @include small {
        margin-top: 154px;
      }
    }

    .heading {
      width: 400px;
      display: block;
      margin-top: 20px;
      margin-bottom:0;

      &__link {
        font-family: variable(heading-font);
        color: clr(subcolor-3);
        font-size: 5.25rem;
        line-height: 75.6px;
        text-decoration: none;
        font-weight: 300;

        @include small {
          font-size: 48px;
          line-height: 43.2px;
          font-weight: 375;
          display: inline-block;
          width: 335px;
        }
      }
    }

    .default-link {
      display: inline-block;
      margin-top: -60px;
      background-color: clr(subcolor-2);
      padding: 0;

      @include small {
        margin-top: 30px;
        margin-bottom: 20px;
      }

      &__label {
        color: clr(primary);
        text-transform: uppercase;
        font-size: 16px;
        width: 200px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
      }
    }

  }
  &__right {
    flex-grow: 1;
    &__wrapper {
      display: flex;
      height: 100%;
      flex-flow: column nowrap;
      background-repeat: no-repeat;
      background-position: right center;
    }
  }
}
