.homepage-hero-block {
  @include set-font($font-type: 'primary-font');

  z-index: 1;
  flex: 1 0 auto;
  padding-top: 2.9rem;

  @include medium {
    padding-top: 4em;
  }

  &--block-1 {
    border-bottom: 1px solid rgba(clr(subcolor-4-rgb), 0.6);
  }

  & .wrapper {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    padding: 0 0 2.8rem;

    @include medium {
      padding-bottom: 4rem;
    }
  }

  &:last-child .wrapper {
    @include medium {
      padding-bottom: 5.8rem;
    }
  }

  &__left {
    font-weight: 150;
    flex: 2 0 58%;
    display: flex;
    flex-flow: column nowrap;

    .eyebrow {
      @include set-font($font-type: 'primary-font');

      flex: 0 0 auto;
      color: clr(primary);
      font-size: 1.4rem;
      line-height: 1;
      font-weight: 500;
      margin: 0;
    }

    h3 {
      flex: 1 0 auto;
      color: clr(primary);
      margin-top: 3rem;
      margin-bottom: 5.5rem;

      @include medium {
        margin-bottom: 6rem;
      }

      & a {
        color: clr(primary);
        text-decoration: none;
        font-size: 2rem;
        line-height: 1.1;

        @include medium {
          font-size: 2.6rem;
        }

        @include large {
          font-size: 2.8rem;
        }
      }
    }
    & .cta-link {
      flex: 0 0 auto;
      background: none;
      color: clr(secondary);
      padding-left: 0;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.4rem;
      line-height: 1;

      @include large {
        font-size: 1.6rem;
      }

      &__label {
        position: relative;
        display: inline-block;
        padding-right: 1.5rem;

        &::after {
          content: "";
          position: absolute;
          top: 2px;
          right: 0;
          border: solid clr(secondary);
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__right {
    flex: 1 0 42%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .block1-small__image {
      width: 136px;

      @include medium {
        width: 200px;
      }

      &:hover,
      &:focus {
        transform: scale(1.1);
        transition: transform 0.8s;
      }
    }
  }

}
