.homepage-hero-block {
  flex-grow: 1;
  font-family: variable(primary-font);
  padding-top: 45px;

  &--block-1 {
    & .wrapper {
      border-bottom: 1px solid rgba(196, 196, 196, .6);
      margin-bottom: 20px;
    }
  }

  & .wrapper {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__left {
    padding-left: 20px;
    font-weight: 150;
    flex-grow: 2;

    .eyebrow {
      color: clr(primary);
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1.4px;
      margin: 0;
    }
    h3 {
      color: clr(primary);
      margin-top: 20px;

      @include large {
        margin-bottom: 18rem;
      }

      & a {
        color: clr(primary);
        text-decoration: none;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.8px;
      }
    }
    & .cta-link {
      background: none;
      color: clr(secondary);
      padding-left: 0;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1.12px;

      &__label::after {
        border: solid clr(secondary);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        content: "";
        margin-left: 5px;
      }
    }
  }

  &__right {
    flex-grow: 1;

    & .block1-small__image {
      width: 136px;

      @include large {
        width: 200px;
      }
    }
  }

}
