{#
/**
 * Available variables:
 * - block_eyebrow_text - the content of the block
 * - block_heading_level - the heading of the block
 * - block_title_label - label of the heading title
 * - block_heading_base_class - heading of the base class
 * - block_title_href - href for the heading title
 * - block_eyebrow_text - the content of the block
 * - block_image - the content of the block
 * - block_list - the content of the block
 * - separate_class
 */
#}
{% set homepage_hero__block_class = 'homepage-hero-block' %}

<div {{ bem(homepage_hero__block_class, [separate_class]) }}>
  <div class="wrapper">
    <div {{ bem('left', [], homepage_hero__block_class) }}>
      {% include "@atoms/text/eyebrow/eyebrow.twig" with {
        eyebrow_text: block_eyebrow_text
      } %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: block_title_label,
        heading_base_class:'heading-block',
        heading_url: block_title_href
      }
      %}
      {% include "@atoms/links/defaultLink/defaultLink.twig" with {
        default_link_base_class: 'cta-link',
        default_link_content: cta_block.title,
        default_link_attributes: cta_block.link_attributes.0
      } %}
    </div>
    <div {{ bem('right', [], homepage_hero__block_class) }}>
      {% if block_image is not empty %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: block_image.alt,
          image_title: block_image.title,
          image_srcset: block_image.srcset,
          image_sizes: '(max-width: 375px) 375px,
                  (max-width: 768px) 768px,
                  (max-width: 1024px) 1024px,
                  1440px',
          height: '200px',
          width: '200px',
          image_src: block_image.src,
          responsive_image_blockname: block_image.class,
        } %}
      {% endif %}
    </div>
  </div>
</div>
