.product-used-items {

  // overrides for the default styles of swiper - container, progress bar and buttons of the carousel
  .product-used-swiper-container {
    width: 100%;

   @include small{
    width: 33.4rem;
  }

   @include xl{
     width: 31rem;
   }
  }
  .swiper-slide {
    @include card-width;

    @include xs{
      width: 100%;
    }

    .product-card {
      box-sizing: border-box;
      height: 5.2rem;
      margin-top: 3rem;
      margin-bottom: 3rem;

      @include xs{
        width: 100%;
      }

      @include medium {
        margin-bottom: 4rem;
      }
    }
  }

  // increasing specificity to avoid using !important
  .swiper-scrollbar {
    background-color: rgba(clr(secondary-rgb),0.4);
    height: 0.5rem;
    width: 16.1rem;
    margin: 0 auto 3rem;

    @include medium {
      height: 0.5rem;
      width: 25.7rem;
      margin-bottom: 4rem;
    }

    & .swiper-scrollbar-drag {
      background: clr(secondary);
    }
  }

  .swiper-button-prev, .swiper-button-next  {
    background-color: clr(text-inverse);
    border-radius: 50%;
    border: 0;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: -(5.5rem - 3rem + 3rem)/2; // -(buttonHeight - cardMarginTop + cardMarginbottom)/2
    width: 5.5rem;
    height: 5.5rem;

    @include medium {
      margin-top: -(6rem - 3rem + 4rem)/2;
      width: 6rem;
      height: 6rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      display: none; // hide original icon
    }

    &__icon {
      width: 100%;
      height: 100%;
      fill: clr(secondary);
    }
  }

  .swiper-button-prev{
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }
}
