{{ attach_library('emulsifymars/product-used-module') }}
{% set product_used_base_class = product_used_base_class|default('product-used-items') %}

<section id="product-used-items" {{ bem(product_used_base_class) }} data-theme="twix">
  <div class="swiper-container product-used-swiper-container">
    <div class="swiper-wrapper">
        {% for item in product_used_items %}
          <div class="swiper-slide product-used-item">
            {% include "@molecules/card/product-card/product-card.twig" with { item: item } %}
          </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev product-used-nav" id="swiper-button"></div>
    <div class="swiper-button-next product-used-nav" id="swiper-button"></div>
    <div class="swiper-scrollbar product-used-nav"></div>
  </div>
</section>
