.parent-page-header {
  background-color: clr(subcolor-2);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .wrapper {
    padding: 12rem 4rem 8rem 4rem;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  
    @include small {
      padding: 5rem 4rem 8rem 4rem;
    } 
  }

  .bg-video {
    width: 100%;
    height: 452px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include medium {
      height: 483px;
    }

    @include xl {
      height: 640px;
    }

    .ambient-video__control {
      z-index: 10;
      top: 15px;
      left: calc(100% - 75px);
    }
  }

  & .wrapper > *:not(.bg-video):not(.brand-shape) {
    position: relative;
    z-index: 3;
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .parent-page-heading {
    @include set-font($font-type: 'primary-font');

    color: clr(primary);
    text-align: center;
    font-weight: 500;

    @include xs {
      font-size: 2.5rem;
    }

    @include small {
      font-size: 4rem;
      line-height: 4.4rem;
    }

    @include medium {
      font-size: 5.6rem;
      line-height: 5.6rem;
    }

    @include large {
      font-size: 6.4rem;
      line-height: 6.4rem;
    }
  }

  .parent-page-paragraph {
    @include set-font($font-type: 'secondary-font');

    color: clr(primary);
    text-align: center;
    margin: 0 auto;

    @include small {
      font-size: 1.8rem;
      line-height: 2.88rem;
    }

    @include medium {
      font-size: 2rem;
      max-width: 89.6rem;
      line-height: 3.2rem;
    }

    @include large {
      font-size: 2.2rem;
      line-height: 3.52rem;
    }
  }

  &--with-min-height {
    .wrapper {
      min-height: 45.2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .brand-shape {
      position: absolute;
      display: block;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;

      @include xs {
        height: 17rem;
      }

      @include medium {
        height: 26.7rem;
      }

      @include large {
        height: 32.7rem;
      }

      svg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        fill: clr(subcolor-1);
        opacity: 0.2;

        @include xs {
          width: 33.4rem;
        }

        @include medium {
          width: 65.2rem;
        }

        @include large {
          width: 85.6rem;
        }
      }
    }

    .eyebrow {
      margin-top: 1rem;

      @include medium {
        margin-top: 5rem;
        margin-bottom: 3rem;
      }

      @include large {
        margin-top: 7rem;
        margin-bottom: 3rem;
      }
    }

    .parent-page-heading {
      margin: 0 auto 4rem;

      @include large {
        margin-bottom: 6rem;
      }
    }

    @include small {
      .eyebrow {
        margin-top: 1rem;
      }
    }

    @include medium {
      .wrapper {
        min-height: 48.3rem;
      }

      .eyebrow {
        margin-top: 5rem;
        margin-bottom: 3rem;
      }
    }

    @include large {
      .wrapper {
        min-height: 52rem;
      }
    }
  }

  &--with-bg-media {
    .brand-shape {
      display: none;
    }

    .parent-page-heading,
    .eyebrow,
    .parent-page-paragraph {
      color: clr(subcolor-3);

      a {
        color: clr(subcolor-3);
        text-decoration: none;
      }
    }
  }

  &--with-bg-video {
    .wrapper {
      padding: 0;
    }

    .content {
      position: absolute;
      z-index: 1;
      padding: 0 2rem;
      left: 0;
      width: 100%;
      top: calc(50% - 15rem);

      @include small {
        padding: 0 2rem;
      }

      @include large {
        padding: 0 4rem;
      }

      @include xl {
        left: calc(50% - 89.6rem / 2);
        width: 89.6rem;
      }
    }

    .brand-shape {
      display: none;
    }

    .parent-page-heading,
    .eyebrow,
    .parent-page-paragraph {
      color: clr(subcolor-3);

      a {
        color: clr(subcolor-3);
        text-decoration: none;
      }
    }
  }

  .eyebrow {
    @include xs {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }

    @include medium {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  &--tint-enabled {
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.46),
        rgba(0, 0, 0, 0.46),
        rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.46),
        rgba(0, 0, 0, 0.42),
        rgba(0, 0, 0, 0.29),
        rgba(0, 0, 0, 0.2)
      );
    }
  }
}
