// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$red: #f00;
$near-white: #f2f2f2;
$gray-tranparent: #f4f3f029;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Status
$yellow-light: #f9fb93;
$red-light: #fbe3e4;
$green-light: #cfefc2;

// Project
$purple: #610c63;
$blue: #005de0;

// Use color names from name-that-color service http://chir.ag/projects/name-that-color/#6195ED

// ------------------
// -- Mars Wrigley --
// ------------------
$navy-blue: #0a00a0;
$downy: #61d5ba;
$governor-bay: #3e45b1;
$blue-marguerite: #7f81ca;
$mine-shaft: #3c3c3c;
$cararra: #f4f3f0;

// ----------
// -- Twix --
// ----------
$alizarin-crimson: #e62b1e;
$web-orange: #eaaa00;
$brown-pod: #490e00;
$sandwisp: #f5e1a4;
$white: #fff;
$silver: #c4c4c4;

// ----------
// -- Dove --
// ----------
$metallic-bronze: #502c1c;
// $white
$alizarin-crimson-1: #e42525;
$tussock: #cb9f53;
$merino: #f9f5ef;
// $cararra: #f4f3f0;

// ------------
// -- Galaxy --
// ------------
// $metallic-bronze: #502c1c;
// $white
$cerise-red: #e02466;
// $tussock: #cb9f53;
// $merino: #f9f5ef;
// $cararra: #f4f3f0;
