.signup-form-wrp {
  background-color: clr(subcolor-2);
}

.newsletter-label {
  padding-top: 4rem;
  text-align: center;
  color: clr(primary, newsletter-text-color-override);
  font-size: 20px;
  font-family: var(--v-heading-font);
  font-weight: 900;
  letter-spacing: var(--v-heading-font-m-letter-spacing);
}

.globalNameClass {
  margin-top: 2rem;
  @include medium {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .js-form-item {
    @include xs {
     max-width: 25rem;
     margin: 0 auto;
    }
    @include small {
      max-width: 31rem;
      width: 100%;
      margin: 0 auto;
    }
    @include medium {
      margin: unset;
      margin-left: 1rem !important;
    }
    label {
      font-family: var(--v-primary-font);
      font-size: 16px;
      color: clr(subcolor-1, newsletter-text-color-override);
    }
    input {
      font-family: var(--v-primary-font);
      border-radius: var(--v-button-border-radius);
      font-size: 16px;
      // border-width: 0 0 1px;
      color: var(--c-primary);
      &:focus-visible {
        outline: none;
      }
    }
  }
}

.globalClass {
  margin: 0 auto;
  margin-top: 2rem;
  @include xs {
    max-width: 25rem;
  }
  @include small {
    max-width: 31rem;
  }
  @include medium {
    max-width: 62rem;
  }
  label {
    font-family: var(--v-primary-font);
    color: clr(subcolor-1, newsletter-text-color-override);
    font-size: 16px;
  }
  .globalElement {
    border-radius: var(--v-button-border-radius);
    font-family: var(--v-primary-font);
    font-size: 16px;
    color: var(--c-primary);
    &:focus-visible {
      outline: none;
    }
    @include medium {
      max-width: 65rem;
      width: 63rem;
    }
  }
}

.globalPrivacy {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  @include xs {
    margin-left: 3rem;
  }
  @include small {
    margin-left: 0;
  }
  .globalCheckBox {
    width: 20px;
    height: 20px;
  }
  .webform-element-description {
    margin-top: -8px;
    font-size: 16px;
    font-family: var(--v-primary-font);
    color: clr(primary, newsletter-text-color-override);
    padding-left: 10px;
  }
}

.globalFormSubmit {
  padding-top: 20px;
  padding-bottom: 40px;
  .webform-button--submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-width: 13.3rem;
    line-height: 3.7rem;
    color:clr(subcolor-3);
    border-radius: var(--v-button-border-radius);
    background-color: clr(secondary);
    cursor: pointer;
    font-size: 1.4rem;
    @include medium {
      min-width: 15.7rem;
    }
  }
}
