{#
/**
 * Available variables:
 * - where_to_buy_base_class -
 * - wtb_manual_link_info -
 *
 */
#}
{% set where_to_buy_base_class = where_to_buy_base_class|default('where-to-buy') %}

{% if wtb_manual_link_info is not empty %}
  {% set button_link_attributes = {
    href: wtb_manual_link_info.button_url,
    taget: (wtb_manual_link_info.button_new_tab) ? '_blank' : '_self'
  } %}
  <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }}>

    {% if wtb_manual_link_info.button_style == 'button' %}
      {% include "@atoms/links/defaultLink/defaultLink.twig" with {
        default_link_content:  wtb_manual_link_info.button_name,
        default_link_attributes: button_link_attributes,
      } %}
    {% else %}
      {% include "@atoms/links/link/link.twig" with {
        "link_content": wtb_manual_link_info.button_name,
        "link_url": wtb_manual_link_info.button_url,
        "link_attributes": {
          taget: (wtb_manual_link_info.button_new_tab) ? '_blank' : '_self'
        },
        "link_base_class": 'link-base-class',
      } %}
    {% endif %}
  </div>
{% endif %}
