{#
/**
 * Available variables:
 * - where_to_buy_base_class -
 * - product_sku -
 * - commerce_vendor -
 * - data_widget_id -
 * - reference_for_analitics -
 * - cta_title -
 * - button_type -
 *
 */
#}
{% set where_to_buy_base_class = where_to_buy_base_class|default('where-to-buy') %}
{% if product_sku is not empty %}
  <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }}>
    {% set attr = {
      'href': 'javascript:;',
      'data-label': cta_title,
      'class': 'ps-widget',
      'ps-config': data_widget_id,
      'ps-sku': product_sku
    } %}
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: '',
      default_link_attributes: attr,
    } %}
  </div>
{% endif %}