.status__list {
  @include list-reset;
}

.status {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.2;
  padding: $space-double $space-quadruple;

  &--warning {
    color: $gray;
    background-color: clr(warning);
  }

  &--error {
    color: $gray;
    background-color: clr(error);
  }

  &--status {
    color: $gray;
    background-color: clr(message);
  }

  &--alert {
    color: clr(subcolor-3);
    background-color: clr(primary);
  }
}
