.status__list {
  @include list-reset;
}

.status {
  @include set-font($font-type: 'secondary-font');

  display: block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 1.2rem $space-quadruple 1.1rem;

  @include medium {
    font-size: 1.6rem;
    padding: 1.9rem $space-quadruple 2.1rem;
  }

  @include large {
    font-size: 1.8rem;
    padding: 2.2rem $space-quadruple 1.7rem;
  }

  &--warning {
    color: $gray;
    background-color: clr(warning);
  }

  &--error {
    color: $gray;
    background-color: clr(error);
  }

  &--status {
    color: $gray;
    background-color: clr(message);
  }

  &--alert {
    color: clr(subcolor-3);
    background-color: clr(secondary);
  }

  &-link {
    @include link;
  }
}
