.search-page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: clr(secondary);
  overflow: hidden;
  padding: 10px 40px;
  min-height: 578px;

  @include medium {
    padding: 60px 40px;
  }

  @include xl {
    padding: 80px 40px;
  }

  &__brand-shape {
    position: absolute;
    display: block;

    &--first {
      @include xs {
        left: -5rem;
        width: 12.5rem;
        bottom: 5rem;
      }

      @include large {
        left: -5.3rem;
        top: 4.2rem;
        width: 10rem;
      }

      @include xl {
        left: 8rem;
        top: 7rem;
        width: 11rem;
      }
    }

    &--second {
      @include xs {
        right: -9rem;
        bottom: 8rem;
        width: 28.4rem;
      }

      @include large {
        bottom: -15.5rem;
        left: 4rem;
        width: 26rem;
      }

      @include xl {
        left: 21.5rem;
        bottom: -16rem;
        width: 26.5rem;
      }
    }

    &--third {
      @include xs {
        display: none;
      }

      @include large {
        right: -30rem;
        bottom: -12rem;
        width: 43rem;
        display: block;
      }

      @include xl {
        right: -11rem;
        bottom: -18rem;
        width: 46rem;
      }
    }

    svg {
      fill: rgba(clr(subcolor-3-rgb), 0.2);
      width: 100%;
      height: 100%;
    }
  }

  .search-page-heading {
    font-family: variable(primary-font);
    color: clr(subcolor-3);
    font-size: 40px;
    line-height: 1em;
    text-align: center;
    font-weight: normal;
    z-index: 2;

    @include medium {
      font-size: 56px;
    }

    @include xl {
      font-size: 64px;
    }
  }

  .search-input {
    margin-top: 20px;
  }

  &__border {
    position: absolute;
    bottom: (-$brand-border-offset);
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: clr(subcolor-3);
    }
  }
}
