{% set search_page_header_base_class = search_page_header_base_class|default('search-page-header') %}

<section {{ bem(search_page_header_base_class, [], []) }} data-theme="twix">
  {% include "@atoms/text/headings/_heading.twig" with {
    heading: search_page_header_heading,
    heading_level: search_page_header_heading_level,
    heading_base_class: search_page_header_heading_base_class
  }%}

  {% include "@molecules/search/search-input/search-input.twig" %}

  {% include "@molecules/search/search-results/search-results.twig" with {
    search_results: search_results
  }%}

  {% block search_page_header_divider %}
    <div class="{{ brand_shape_class }}">
      {{ shape | raw }}
    </div>
  {% endblock %}
</section>
