.search-page-header {
  position: relative;
  background-color: clr(secondary);

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem 4rem;
    margin-bottom: 5rem;
    min-height: 30.5rem;
    width: 100%;

    @include medium {
      padding: 10rem 4rem;
      margin-bottom: 6rem;
    }

    @include xl {
      padding: 12rem 4rem 0;
      min-height: 59.4rem;
      margin-bottom: 8rem;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  &__brand-shape {
    position: absolute;
    display: block;

    &--first {
      @include xs {
        left: -8.25rem;
        width: 12.5rem;
        top: 27rem;
      }

      @include medium {
        left: -8.25rem;
        width: 21rem;
        top: 26rem;
      }

      @include large {
        left: 6.5rem;
        top: 7.5rem;
        width: 11rem;
      }
    }

    &--second {
      @include xs {
        right: -9rem;
        top: 14rem;
        width: 28.4rem;
      }

      @include medium {
        right: -13rem;
        top: 3rem;
        width: 47rem;
      }

      @include large {
        top: 40.4rem;
        left: 16.5rem;
        width: 28rem;
      }
    }

    &--third {
      @include xs {
        display: none;
      }

      @include large {
        right: -7.5rem;
        top: 21.2rem;
        width: 45rem;
        display: block;
      }
    }

    svg {
      fill: rgba(clr(subcolor-3-rgb), 0.2);
      width: 100%;
      height: 100%;
    }
  }

  .search-page-heading {
    @include set-font($font-type: 'primary-font');

    color: clr(subcolor-3);
    font-size: 40px;
    line-height: 1em;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    margin: 0 auto 3rem;
    max-width: 33.5rem;

    @include medium {
      font-size: 56px;
      max-width: 55rem;
      margin-bottom: 4rem;
    }

    @include xl {
      font-size: 64px;
      max-width: 100%;
      margin-bottom: 8rem;
    }
  }

  &__border {
    position: absolute;
    bottom: -4px;
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: clr(subcolor-3);
    }
  }

  .search-input-wrapper {
    border: 1px solid clr(subcolor-4);
    background-color: clr(subcolor-3);
    position: relative;
    border-radius: var(--v-button-border-radius);
    width: 100%;

    @include large {
      width: 89.6rem;
    }

    &.suggested {
      border-radius: variable(card-border-radius) variable(card-border-radius) 0 0;
    }
  }

  .mars-search-autocomplete-suggestions-wrapper {
    position: absolute;
    width: calc(100% + 2px);
    left: -1px;
    border: 1px solid clr(subcolor-4);
    border-top: none;
  }
  .search-input {
    .form-item {
      .clear-icon {
        &::after {
          right: 30px !important;
          color: red !important;
        }
      }
    }
  }
}
