.article-wysiwyg {
  background-color: clr(subcolor-3);
  padding: 2rem;
  overflow-x: hidden;
  margin: 0 2rem;
  font-family: variable(secondary-font);
  font-size: 2rem;
  line-height: 1.8;
  color: clr(primary);

  @include medium {
    margin: 0 4rem;
    padding: 2rem 0;
  }

  @include large {
    margin: 0;
  }

  &__content {
    margin: 0 auto;

    @include medium {
      max-width: 688px;
    }

    @include xl {
      max-width: 780px;
      text-align: justify;
      margin-left: 19%;
    }
  }
}

.article-detail {
  .article-wysiwyg {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

.node--article .article-wysiwyg {
  margin: 0;
}
