.article-wysiwyg {
  background-color: clr(subcolor-3);
  padding: 2rem 0 2rem 0;
  overflow-x: hidden;
  margin: 0 20px 0 30px;
  font-family: variable(secondary-font);
  font-size: 2rem;
  line-height: 1.8;
  color: clr(primary);

  @include medium {
    max-width: 688px;
    margin: 0 40px;
  }

  @include xl {
    max-width: 780px;
    margin: 0 27% 0 19%;
    text-align: justify;
  }

}

.article-detail {
  .article-wysiwyg {
    width: 90%;
    margin: 0 auto;

    @include small {
      max-width: 355px;
      margin: 0 20px;
      font-size: 1.8rem;
      line-height: 1.6;
    }

    @include medium {
      max-width: 688px;
      margin: 0 40px;
    }

    @include xl {
      max-width: 780px;
      margin: 0 27% 0 19%;
      text-align: justify;
    }
  }
}
