.article-wysiwyg {
  background-color: clr(subcolor-3);
  font-family: variable(secondary-font);
  font-size: 1.8rem;
  line-height: 1.6;
  color: clr(primary);
  margin: 40px 0;

  @include medium {
    margin: 60px 0;
  }

  @include xl {
    font-size: 2rem;
    line-height: 1.8;
    margin: 80px 0;
  }

  &__content {
    margin: 0 20px;

    @include medium {
      max-width: 570px;
      margin: 0 auto;
    }

    @include xl {
      max-width: 1128px;
      padding: 0 30px;
    }
  }
}

.article-detail {
  .article-wysiwyg {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
