{% set full_width__base_class = 'article-wysiwyg' %}
{% if heading %}
  {% set heading = heading %}
{% else %}
  {% set heading = storybook_wysiwyg_heading %}
{% endif %}

<section {{ iframe_width_full ? bem(full_width__base_class, '', '', ['nospace']) : bem(full_width__base_class) }} data-theme="{{ theme_styles }}">
  <div {{ iframe_width_full ? bem('container', ['skittles-container'], full_width__base_class) : bem('container', [], full_width__base_class) }}>
    <div {{ iframe_width_full ? bem('content', ['skittles-content'], full_width__base_class) : bem('content', [], full_width__base_class) }}>
      {% if heading is not empty %}
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: heading,
          heading_blockname: full_width__base_class,
          heading_base_class: 'heading',
        } %}
      {% endif %}

      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_size: paragraph_size,
        paragraph_content: content,
        paragraph_base_class: paragraph_base_class,
        paragraph_modifiers: paragraph_modifiers
      } %}
    </div>
  </div>
</section>



