{{ attach_library('emulsifymars/recipe-email-form') }}

<div class="recipe-email-layout" data-theme="dove">
  <div class="recipe-email-close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#fff" d="M19.64 2.11c.48-.482.48-1.268 0-1.75-.482-.48-1.268-.48-1.75 0l-7.562 7.564c-.175.174-.437.174-.612 0L2.109.36C1.63-.12.842-.12.361.36-.12.84-.12 1.628.36 2.109l7.563 7.563c.174.175.174.437 0 .612L.36 17.891c-.481.48-.481 1.268 0 1.748.48.481 1.267.481 1.748 0l7.563-7.563c.175-.174.437-.174.612 0l7.563 7.563c.48.481 1.268.481 1.749 0 .48-.48.48-1.267 0-1.748l-7.52-7.563c-.174-.175-.174-.437 0-.612l7.563-7.607z"/></svg>
  </div>
  <div class="recipe-email recipe-email-lightbox">
    <div class="recipe-email__content">
      {{ email_recipe_form|raw }}
    </div>
  </div>
</div>
