{{ attach_library('emulsifymars/recipe-email-form') }}

<div class="recipe-email-layout" data-theme="dove">
  <div class="recipe-email-close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#fff" d="M19.64 2.11c.48-.482.48-1.268 0-1.75-.482-.48-1.268-.48-1.75 0l-7.562 7.564c-.175.174-.437.174-.612 0L2.109.36C1.63-.12.842-.12.361.36-.12.84-.12 1.628.36 2.109l7.563 7.563c.174.175.174.437 0 .612L.36 17.891c-.481.48-.481 1.268 0 1.748.48.481 1.267.481 1.748 0l7.563-7.563c.175-.174.437-.174.612 0l7.563 7.563c.48.481 1.268.481 1.749 0 .48-.48.48-1.267 0-1.748l-7.52-7.563c-.174-.175-.174-.437 0-.612l7.563-7.607z"/></svg>
  </div>
  <div class="recipe-email recipe-email-lightbox">
    <div class="recipe-email__content">

      {{ email_recipe_form|raw }}

      {#
      <form class="recipe-email-form" data-drupal-selector="recipe-email-form" action="/node/191/latest" method="post" id="recipe-email-form" accept-charset="UTF-8" data-drupal-form-fields="edit-grocery-list,edit-email-recipe,edit-email,edit-submit">
        <div class="recipe-email__title">Share your recipe</div>
        <div class="recipe-email__description">Select options</div>

        <div class="recipe-email__checkbox">
          <div class="js-form-item form-item">
            <input data-drupal-selector="edit-grocery-list" aria-describedby="edit-grocery-list--description" type="checkbox" id="edit-grocery-list" name="grocery_list" value="1" class="form-checkbox form-item__textfield" tabindex="-1">
            <label for="edit-grocery-list" class="option form-item__label">Email a grocery list</label>
            <div id="edit-grocery-list--description" class="form-item__description">
              Email a grocery list
            </div>
          </div>
        </div>

        <div class="recipe-email__checkbox">
          <div class="js-form-item form-item">
            <input data-drupal-selector="edit-email-recipe" aria-describedby="edit-email-recipe--description" type="checkbox" id="edit-email-recipe" name="email_recipe" value="1" class="form-checkbox form-item__textfield" tabindex="-1">
            <label for="edit-email-recipe" class="option form-item__label">Email a recipe</label>
            <div id="edit-email-recipe--description" class="form-item__description">
              Email a recipe
            </div>
          </div>
        </div>

        <div class="recipe-email__text-input">
          <div class="js-form-item form-item">
            <label for="edit-email" class="form-item__label">Email address</label>
            <input data-drupal-selector="edit-email" aria-describedby="edit-email--description" type="text" id="edit-email" name="email" value="" size="60" maxlength="128" class="form-text form-item__textfield" tabindex="-1">
            <div id="edit-email--description" class="form-item__description">
              Email address*:
            </div>
          </div>
        </div>

        <input autocomplete="off" data-drupal-selector="form-mrnm3gzmttfrnmrpje5lptrknwn7ugu9q-exa9yxhts" type="hidden" name="form_build_id" value="form-mRNm3GzmttfrnmRpje5lptRkNwN7uGu9q_exa9yxHts" class="form-item__textfield">
        <input data-drupal-selector="edit-recipe-email-form-form-token" type="hidden" name="form_token" value="AaGNXJ3Cazr71V3Mv3FK7pl8Z12xuy-GGLvLD9tNHrw" class="form-item__textfield">
        <input data-drupal-selector="edit-recipe-email-form" type="hidden" name="form_id" value="recipe_email_form" class="form-item__textfield">

        <div class="recipe-email__submit">
          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
            <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="submit" value="Submit" class="button js-form-submit form-submit" tabindex="-1">
          </div>
        </div>

        <div class="email-recipe-message"> </div>
      </form>
      #}
    </div>
  </div>
</div>
