.pdp-hero {
  position: relative;
  overflow: hidden;
  background-color: clr(subcolor-2);

  &__wrapper {
    position: relative;
    padding: 2rem 2rem 0;
    max-width: 1440px;
    margin: 0 auto;

    @include medium {
      padding: 2rem 4rem 0;
    }

    @include large {
      padding-top: 4.8rem;
      padding-bottom: 0;
    }
  }

  &__bubble {
    position: absolute;

    svg {
      width: 100%;
      height: auto;
      fill: rgba(clr(subcolor-3-rgb), 0.2);
    }

    &--1 {
      top: 5.5%;
      right: 5%;
      height: 90px;
      width: 90px;

      @include medium {
        top: 3%;
        right: 6.5%;
        height: 117px;
        width: 117px;
      }

      @include large {
        top: -6%;
        right: -6%;
        height: 420px;
        width: 420px;
      }
    }

    &--2 {
      top: 26.5%;
      left: 47%;
      height: 292px;
      width: 292px;

      @include medium {
        top: 14%;
        left: -21%;
        height: 302px;
        width: 302px;
      }

      @include large {
        top: 11%;
        left: 25%;
        height: 115px;
        width: 115px;
      }
    }

    &--3 {
      top: 120%;
      left: 31.5%;
      height: 214px;
      width: 214px;

      @include medium {
        display: block;
        top: 19%;
        left: 41%;
        height: 505px;
        width: 505px;
      }

      @include large {
        top: 83%;
        left: 31.5%;
        height: 214px;
        width: 214px;
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
  }

  &__content-container {
    padding-top: 1.2rem;
    max-width: 100%;

    & .menu-container {
        @include large {
            margin-top: 14.7rem;
        }
    }

    @include large {
      flex: 1 0 55.82627119%;
      padding-top: 4.1rem;
      padding-bottom: 4.1rem;
      padding-right: 5.4rem;
    }

    @include larger {
      flex: 1 0 50%;
      padding-top: 4.1rem;
      padding-bottom: 4rem;
      padding-right: 6rem;
    }
  }

  &__content-mobile {
    display: block;

    @include large {
      display: none;
    }
  }

  &__sticky-nav-top {
    flex: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background-image: radial-gradient(circle at 0 0, clr(card-background), clr(subcolor-1));
    transform: translateY(-100%);
    transition: transform 1s ease-out;
    z-index: 11;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);

    @include medium {
      flex-direction: column;
      padding: 3.25rem;
   }

    @include large {
      display: none;
    }

    &.nav--show {
      transform: translateY(0);
    }
  }

  &__sticky-nav-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 7.5rem;
    z-index: 10;
    transition: z-index 0.7s;

    @include medium {
      flex-direction: column;
      padding: 4rem 4rem 9.5rem;
    }

    @include large {
      position: static;
    }

    .pdp-hero__sections-container {
      transition: visibility 0.7s, opacity 0.7s ease-out;
      visibility: visible;
      opacity: 1;
    }

    &.sections--hide .pdp-hero__sections-container {
      visibility: hidden;
      opacity: 0;
    }

    &.sections--hide {
      z-index: -1;
    }

    &.nav--hide {
      display: none;
    }
  }

  &__product-label {
    @include set-font($font-type: 'primary-font');

    margin: .3rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;
    color: clr(primary);

    @include large {
      font-size: 1.6rem;
    }

    &--sticky {
      margin: 0;
      padding-right: 3.2rem;
      color: clr(primary, card-title, product-card-title);
      line-height: 1;
    }
  }

  &__product-name {
    @include set-font($font-type: 'primary-font');

    margin: 2rem 0 1.7rem;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    color: clr(primary);

    @include medium {
      font-size: 4rem;
      margin-bottom: 2.5rem;
    }

    @include large {
      font-size: 3.6rem;
      margin-top: 2.7rem;
      margin-bottom: 3rem;
    }

    @include larger {
      font-size: 4.8rem;
      margin-bottom: 3.6rem;
    }

    &--sticky {
      margin: 0;
      color: clr(primary, card-title, product-card-title);
      font-size: 1.6rem;

      @include medium {
        font-size: 1.8rem;
        margin-top: 1.5rem;
      }
    }
  }

  &__description {
    @include set-font($font-type: 'secondary-font');

    margin: 3rem 0 5rem;
    font-size: 1.8rem;
    line-height: 2.88rem;
    text-align: center;
    color: clr(primary);

    @include medium {
      margin: 4rem 13.8rem 6rem 11.8rem;
    }

    @include large {
      display: block;
      min-height: auto;
      margin: 3.2rem 8.2rem 3.1rem 0;
      text-align: left;
      line-height: 2.52rem;
      font-size: 1.4rem;
    }

    @include larger {
      margin: 2.2rem 17rem 3.6rem 0;
      line-height: 3.6rem;
      font-size: 2rem;
    }
  }

  &__size-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.9rem 0;
  }

  &__size-label {
    @include set-font($font-type: 'secondary-font');

    flex: 1 0 42%;
    font-size: 1.2rem;
    line-height: 1.3;
    color: clr(primary);

    @include medium {
      font-size: 1.4rem;
    }

    @include large {
      flex: 1 0 37%;
      font-size: 1.6rem;
    }
  }

  &__list-container {
    flex: 1 0 58%;

    @include large {
      flex: 1 0 63%;
    }
  }

  &__size-list {
    @include list-reset;

    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  &__list-item {
    flex: 0 0 auto;
    margin-bottom: 1rem;

    &--link {
      @include set-font($font-type: 'secondary-font');

      padding: 1.6rem 1rem;
      font-size: 1.2rem;
      line-height: 1.3;
      text-decoration: none;
      color: clr(secondary);
      font-weight: 600;

      &[data-size-selected="true"] {
        text-decoration: underline;
      }

      @include medium {
        padding: 1.6rem 1.3rem;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
      }

      @include large {
        padding: 1.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__main-image {
    display: flex;
    justify-content: center;
    animation: cubic-bezier(0, 0, 1, 1) pulse 4.8s infinite;
    align-items: center;


    &-container {
      padding: 1.8rem 0 .2rem 0;

      @include medium {
        padding: 1rem 0 2rem;
      }
    }

    img {
      width: 27.7rem;
      height: 27.7rem;
      object-fit: contain;

      @include medium {
        width: 54.9rem;
        height: 54.9rem;
      }
    }
  }

  &__side-image {
    display: flex;
    justify-content: center;
    object-fit: contain;

    &-container {
      margin: 4.5rem 0 2rem;

      @include medium {
        margin-left: 9.8rem;
        margin-right: 11.8rem;
      }
    }

    &-item {
      min-height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 3rem auto;
      max-width: 65vw;

      @include medium {
        margin: 4rem 0;
      }

      @include large {
        display: block;
      }
    }

    img {
      width: 27.7rem;
      height: 27.7rem;
      object-fit: contain;

      @include medium {
        width: 47.2rem;
        height: 47.2rem;
      }
    }
  }

  &__sections-list {
    @include list-reset;

    flex: 1 0 auto;
    margin: 1rem 0 2rem;

    @include small {
      display: flex;
      justify-content: space-between;
    }

    @include large {
      display: none;
    }
  }

  &__sections-item {
    width: 100%;
    margin: 0 0 0 1.2rem;

    @include medium {
      margin-left: 3rem;
    }

    &:first-child {
      margin: 0;
    }
  }

  .default-link__label {
    display: inline-block;
    pointer-events: none;
    position: relative;
    width: 100%;
  }

  &__slider-container {
    position: relative;
    display: none;

    @include large {
      display: flex;
      align-items: center;
      flex: 1 0 44.17372881%;
      padding-right: 11.7rem;
    }

    @include larger {
      flex: 1 0 50%;
      padding-right: 13.2rem;
    }

    .swiper-pagination {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      flex-flow: column nowrap;
    }

    .swiper-pagination-bullet {
      width: .5rem;
      height: 3.5rem;
      border-radius: 3px;
      margin: .7rem 0;
      background: clr(secondary);
    }

    .swiper-control {
      display: none;
      position: absolute;
      top: 2.3rem;
      right: 3.1rem;
      width: 0;
      height: 0;

      &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        transform: translate(-50%, -50%);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
        background-color: clr(accent-high);
        opacity: 0.2;
      }

      & .playpause-icon {
        position: absolute;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before,
        &::after {
          content: '';
          position: absolute;
          opacity: 1;
          width: 5px;
          height: 16px;
          background-color: clr(subcolor-3);
          top: 50%;
          transform: translateY(-50%);
        }

        &::before {
          left: 22px;
        }

        &::after {
          right: 22px;
        }
      }

      & .sronly--play {
        display: none;
      }

      &-play {
        & .playpause-icon {
          &::before {
            width: 0;
            height: 0;
            background: transparent;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 20px solid clr(secondary);
          }

          &::after {
            display: none;
          }
        }

        & .sronly--play {
          display: inline-block;
        }

        & .sronly--pause {
          display: none;
        }
      }
    }

    .swiper-container-initialized ~ .swiper-control {
      display: block;
    }
  }

  &__nutrition-menu,
  &__allergen-menu,
  &__cooking-menu,
  &__more-info-menu {
    @include set-font($font-type: 'primary-font');

    position: relative;
    display: block;
    padding: 2.3rem 2.3rem 0;
    font-size: 2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    background: $white;
    border-bottom: 0;
    color: clr(secondary);
    cursor: pointer;
    margin: 0;
    z-index: 1;

    @include large {
      font-size: 2.4rem;
      line-height: 2.64rem;
    }
  }

  &__nutrition-menu {
    width: 100%;

    @include large {
      width: auto;
    }
  }

  &__nutrition-menu,
  &__allergen-menu,
  &__cooking-menu {
    @include large {
      @include large {
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 1px;
          height: 2rem;
          background-color: clr(subcolor-4);
          bottom: 0.3rem;
          right: 1px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &__allergen-menu,
  &__cooking-menu,
  &__more-info-menu {
    color: clr(subcolor-4);
    display: none;

    &:hover {
      color: clr(secondary);
    }

    @include large {
      display: block;
    }
  }

  .pdp-hero-menu-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid clr(subcolor-4);
    border-bottom: none;
    overflow: hidden;

    @include large {
      width: auto;
    }

    .pdp-hero__nutrition-menu {
      pointer-events: none;

      @include large {
        pointer-events: auto;
      }
    }
  }



  [data-bv-show="rating_summary"] .bv_main_container {
    width: 100% !important;
    justify-content: space-between !important;

    @include xs {
      max-width: 100% !important;
    }

    @include medium {
      max-width: 75% !important;
      margin-bottom: 2rem !important;
    }

    @include large {
      margin-bottom: 0 !important;
    }

  }



  [data-bv-show="rating_summary"] .bv_main_container .bv_avgRating_component_container,
  [data-bv-show="rating_summary"] .bv_main_container .bv_avgRating_component_container:hover,
  [data-bv-show="rating_summary"] .bv_main_container .bv_numReviews_component_container,
  [data-bv-show="rating_summary"] .bv_main_container .bv_numReviews_component_container:hover,
  [data-bv-show="rating_summary"] .bv_main_container .bv_button_buttonMinimalist,
  [data-bv-show="rating_summary"] .bv_main_container .bv_button_buttonMinimalist:hover  {
    color: clr(primary) !important;
    font-family: variable(secondary-font) !important;
    line-height: 1.3;

    @include xs {
      font-size: 1.2rem !important;
    }

    @include medium {
      font-size: 1.4rem !important;
    }

    @include xl {
      font-size: 1.6rem !important;
    }
  }
  [data-bv-show="rating_summary"] .bv_main_container .bv_button_buttonMinimalist,
  [data-bv-show="rating_summary"] .bv_main_container .bv_button_buttonMinimalist:hover {
    border-bottom: 1px solid clr(primary) !important;
  }

}

// overrides for the default styles of swiper - container, progress bar and buttons of the carousel
.swiper-container.pdp-hero-swiper-container {
  position: relative;
  width: 100%;
  margin-bottom: 10.4rem;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .swiper-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.where-to-buy {
  &--container {
    text-align: center;
    transition: visibility 0.5s, opacity 0.5s ease-out;
    visibility: visible;
    opacity: 1;
    margin: 0 0 14.7rem 0;

    @include large {
      margin: 0;
      text-align: left;
    }
  }

  &--hide {
    visibility: hidden;
    opacity: 0;
  }
}

.default-link {
  &--pdp-sections {
    @include set-font($font-type: 'primary-font');

    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.1;
    text-align: center;
    background-color: clr(subcolor-3);
    color: clr(secondary);
    height: 6rem;
    width: 100%;
    padding: 0 1.2rem;

    @include medium {
      padding: 0 3.4rem;
    }
  }
}

@keyframes pulse {
  0%   { transform: translateY(-16px); }
  50%  { transform: translateY(16px); }
  100%  { transform: translateY(-16px); }
}

[data-block-plugin-id="rating_bazarvoice_block"] .bv-cv2-cleanslate {

  @include xs {
    max-width: 100% !important;
    padding: 2rem !important;
 }

  @include medium {
    max-width: 100% !important;
    padding: 4rem !important;
 }

 @include large {
    max-width: 78% !important;
    margin: 0 auto !important;
 }
}

.bv-cv2-cleanslate .bv-content-data-label-container .bv-content-data-icon {
  color:green !important;

  @include xs{
    font-size: 24px !important;
  }
}

.bv-cv2-cleanslate .bv-content-data-label-container .bv-content-data-label,
.bv-content-data .bv-content-data-recommend-yes .bv-content-data-value{
  color: var(--c-primary) !important;
  font-family: var(--v-secondary-font) !important;

  @include xs {
    font-size: 16px !important;
  }

  @include large {
    font-size: 18px !important;
  }
}

.bv-content-feedback-vote-active .bv-content-feedback-btn-container .bv-content-btn-feedback-yes span,
.bv-content-feedback-vote-active .bv-content-feedback-btn-container .bv-content-btn-feedback-no span
 {
  line-height: 1.4 !important;
  display: inline-block !important;
  font-family: var(--v-secondary-font) !important;

  @include xs {
    padding: 1px 4px !important;
    font-size: 12px !important;
  }

  @include large {
    padding: 2px 5px !important;
    font-size: 14px !important;
  }
}

.bv-content-item-avatar-offset .bv-content-actions-container .bv-feedback-container .bv-content-feedback-vote-active .bv-content-feedback-vote-active .bv-content-report-btn  {
  display: inline-block !important;
  font-size: 14px !important;
  font-family: var(--v-secondary-font) !important;

  @include xs {
    padding: 3px 10px !important;
    font-size: 12px !important;
  }

  @include large {
    padding: 6px 12px !important;
    font-size: 14px !important;
  }
}

.bv-content-list-container .bv-header .bv-action-bar .bv-action-bar-header {
  @include set-font($font-type: 'primary-font');

  text-align: center !important;
  display: block !important;
  float: none !important;
  font-family: var(--v-heading-font) !important;
  font-size: 64px !important;
  color: var(--c-primary) !important;
}

.bv-cv2-cleanslate .bv-content-list-container .bv-header .bv-action-bar .bv-write-review-container {
  position: relative !important;
  top: 70px !important;
  float: right !important;
  z-index: 1 !important;

  @include xs {
    float: right !important;
  }
}

.bv-cv2-cleanslate .bv-shared .bv-content-list-container .bv-section-summary .bv-section-summary-inline .bv-inline-histogram-ratings {
  margin-top: 5rem !important;

  @include small {
    margin: 0 !important;
  }
}

.bv-cv2-cleanslate .bv-content-list-container .bv-section-summary .bv-inline-histogram-header .bv-content-title {
  background-color: transparent !important;
}

.bv-cv2-cleanslate .bv-content-list-container .bv-section-summary .bv-secondary-rating-summary .bv-content-title {
  background-color: transparent !important;

  @include medium {
    width: 55% !important;
  }
}

.bv-cv2-cleanslate .bv-content-item .bv-content-feedback-vote-request p{
  padding-right: 5rem !important;
  font-family: var(--v-secondary-font) !important;
  color: rgba(34, 34, 34, 0.5) !important;
  line-height: 1.4 !important;

  @include xs {
    font-size: 16px !important;
  }

  @include large {
    font-size: 18px !important;
  }
}

.bv-cv2-cleanslate .bv-avatar-popup-target span,
.bv-cv2-cleanslate .bv-core-container-38 .bv-content-author-name .bv-author {
  font-family: var(--v-secondary-font) !important;
  color: var(--c-primary) !important;
  font-weight: normal !important;
  line-height: 1.4 !important;

  @include xs {
    font-size: 16px !important;
  }

  @include large {
    padding-left: 2rem !important;
    font-size: 18px !important;
  }
}

.bv-cv2-cleanslate .bv-content-datetime .bv-content-datetime-dot,
.bv-cv2-cleanslate .bv-content-datetime .bv-content-datetime-stamp{
  font-family: var(--v-secondary-font) !important;
  font-weight: normal !important;

  @include xs {
    font-size: 16px !important;
  }

  @include large {
    font-size: 18px !important;
  }
}

.bv-content-header-meta .bv-rating-ratio .bv-rating-stars-container .bv-rating-stars-off {
  @include xs {
    font-size: 22px !important;
  }

  @include large {
    font-size: 27px !important;
  }
}

.bv-content-header-meta .bv-rating-ratio .bv-rating-stars-container .bv-rating-stars-on {

  @include xs {
    font-size: 22px !important;
  }

  @include large {
    font-size: 27px !important;
  }
}

.bv-cv2-cleanslate .bv-core-container-35 .bv-content-title-container .bv-content-title {
 color: var(--c-primary) !important;
 line-height: 1.4 !important;
 font-weight: 500 !important;
 letter-spacing: 0.9px !important;

  @include xs {
    font-size: 1.6rem !important;
  }

  @include large {
    font-size: 1.8rem !important;
  }
}

.bv-content-summary .bv-content-summary-body .bv-content-summary-body-text p {
  color: var(--c-primary) !important;
  line-height: 1.4 !important;
  font-weight: normal !important;

  @include xs {
    font-size: 1.6rem !important;
  }

  @include large {
    font-size: 1.8rem !important;
  }
}

.bv-cv2-cleanslate .bv-core-container-38 .bv-secondary-content-list .bv-content-list-clientresponses .bv-content-item {
  background-color: transparent !important;
}

.bv-compat .bv-content-list-container .bv-header .bv-control-bar {
  padding: 10px 0 !important;
}

.bv-content-list-container .bv-header .bv-control-bar .bv-control-bar-count {
  display: none !important;
  margin-right: 0 !important;
}

.bv-content-list-container .bv-header .bv-control-bar .bv-relevancy-link-target {
  display: none !important;
}

.bv-content-list-container .bv-header .bv-control-bar .bv-control-bar-sort {
  margin-right: auto !important;
}

.bv-cv2-cleanslate .bv-header .bv-control-bar .bv-expand-filter-button .bv-filter-control-icon {
  color: var(--c-secondary) !important;
}

.bv-control-bar-sort .bv-dropdown .bv-dropdown-target .bv-dropdown-label {
  color: var(--c-primary) !important;
}

.bv-control-bar .bv-control-bar-sort .bv-dropdown .bv-dropdown-target .bv-dropdown-title,
.bv-control-bar .bv-control-bar-sort .bv-dropdown .bv-dropdown-target .bv-select-cleanslate {
  color: var(--c-primary) !important;
}

.bv-mbox-wrapper .bv-mbox {
  @include medium {
    border-radius: 15px !important;
  }
}

.bv-mbox-wrapper .bv-mbox .bv-mbox-content-container {
  @include medium {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  }
}

.bv-mbox-content-container .bv-mbox-breadcrumb .bv-mbox-breadcrumb-item span {
  @include set-font($font-type: 'primary-font');

  font-family: var(--v-primary-font) !important;
  color: var(--c-primary) !important;
  font-size: 28px !important;
  font-weight: normal !important;
}

.bv-mbox-current .bv-submission .bv-compat .bv-form span.bv-fieldset-label-text
.bv-mbox-current .bv-submission .bv-compat .bv-form span.bv-rating-helper,
.bv-mbox-current .bv-submission .bv-compat .bv-form span.bv-fieldset-label-text,
.bv-mbox-current .bv-submission .bv-compat .bv-form p,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-title .bv-fieldset-inner input.bv-text,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-reviewtext .bv-fieldset-inner textarea.bv-text,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-title .bv-fieldset-inner input.bv-text::placeholder,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-reviewtext .bv-fieldset-inner textarea.bv-text::placeholder,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-usernickname .bv-fieldset-inner input.bv-text,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-usernickname .bv-fieldset-inner input.bv-text::placeholder,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-userlocation .bv-fieldset-inner input.bv-text,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-userlocation .bv-fieldset-inner input.bv-text::placeholder,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-hostedauthentication_authenticationemail .bv-fieldset-inner input.bv-text,
.bv-submission .bv-compat .bv-form .bv-submission-section .bv-fieldsets .bv-fieldset-hostedauthentication_authenticationemail .bv-fieldset-inner input.bv-text::placeholder {
  color: var(--c-primary) !important;
  font-family: var(--v-secondary-font) !important;
}

.bv-cv2-cleanslate .bv-core-container-38 .bv-mbox .bv-mbox-sidebar .bv-submission-sidebar .bv-subject-info-section .bv-subject-info span.bv-subject-name-header {
  font-family: var(--v-secondary-font) !important;
}

.pdp-disclaimers {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
