// component is OBSOLETE! Please use @atoms/separators/graphic-divider/graphic-divider
.horizontal-img {
  &__inner {
    margin: 0 auto 5rem auto;
    width: 10rem;
    min-height: 1rem;

    @include medium {
      width: 12.5rem;
      min-height: 1.5rem;
    }
  }

  &__graphic-divider {
    height: inherit;
    width: inherit;
  }
}
