.horizontal-img {

  &__inner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: variable(graphic-divider);
    margin: 0 auto 5rem auto;
    width: 12.5rem;
    height: 1.5rem;

    @media (max-width: 768px) {
      width: 10rem;
      height: 1rem;
    }
  }
}
