.horizontal-img {
  &__inner {
    margin: 0 auto 5rem auto;
    width: 12.5rem;
    min-height: 1.5rem;

    @media (max-width: 768px) {
      width: 10rem;
      min-height: 1rem;
    }
  }

  &__divider {
    height: inherit;
    width: inherit;
  }
}
