{% set horizontal_img_base_class = horizontal_img_base_class|default('horizontal-img') %}
{% set horizontal_img_element = horizontal_img_element|default('inner') %}

<div {{ bem(horizontal_img_element, [], horizontal_img_base_class) }} >
    <img {{ bem('divider', horizontal_img_element, horizontal_img_base_class)}} src="{{ graphic_divider }}">
</div>

