{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}
{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}
{% if directory %}
  {% set item_attributes = item.item_attributes | default([]) %}
{% else %}
  {% set item_attributes = {} %}
{% endif %}
{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
  {% set item_attributes = {'aria-expanded': 'false'}|merge(item_attributes) %}
{% endif %}
{# below could maybe be done without a loop? #}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}
{% set item_attributes = create_attribute(item_attributes|merge([])) %}

{% embed "@atoms/lists/_list-item.twig" with {
  list_item_label: item_label,
  li_base_class: item_base_class|default(menu_class ~ '__item'),
  li_modifiers: item_modifiers,
  li_blockname: item_blockname,
} %}
  {% block list_item_content %}
    {% if item.below %}
      <div {{ bem('heading', item_modifiers, 'menu-item') }}>
        {% include "@atoms/buttons/twig/button.twig" with {
          button_base_class: item_base_class|default(menu_class ~ '__link'),
          button_modifiers: item_modifiers,
          attributes: item_attributes,
          button_content: item.title,
          button_url: item.url,
        } %}
        {% include "@atoms/images/icons/_icon.twig" with {
          icon_base_class: "icon",
          icon_blockname: "menu_chevron",
          icon_name: "chevron",
          icon_decorative: true,
        } %}
      </div>

      {% import "@molecules/menus/_menu.twig" as menus %}

      {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname, directory) }}
    {% else %}
      {% include "@atoms/links/link/link.twig" with {
        link_content: item.title,
        link_url: item.url,
        link_base_class: item_base_class|default(menu_class ~ '__link'),
        link_modifiers: item_modifiers,
        attributes: item_attributes,
      } %}
    {% endif %}
  {% endblock %}
{% endembed %}
