.search-cards-container {
  padding: 60px 0;
  background-color: clr(subcolor-2);

  .search-cards {
    display: flex;
    justify-content: center;

    & > * {
      margin: 0 15px 0 15px;;
    }
  }

  .search-cards-all-results {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}
