.search-filter-container {
  padding: 2rem 2rem 1rem;
  background-color: clr(subcolor-2);
  position: relative;

  @include tablet {
    padding-top: 2rem;
  }

  @include desktop {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  &__search {
    margin: 60px auto;
    max-width: 896px;

    .search-input {
      border: 1px solid clr(subcolor-4);
      border-radius: variable(button-border-radius);
      flex-grow: 1;
      width: 100%;
      background-color: clr(subcolor-3);
      .form-item {
        .clear-icon {
          &::after {
            right: 30px !important;
            color: red !important;
          }
        }
      }
    }
  }

  .search-input-wrapper {
    &.suggested {
      .search-input {
        border-radius: variable(card-border-radius) variable(card-border-radius)
          0 0;
        border-bottom: none;

        &__field {
          width: calc(100% - 20px);
          margin: 0 20px;

          @include desktop {
            width: calc(100% - 20px);
          }
        }
      }
      .mars-search-autocomplete-suggestions-wrapper {
        margin-top: -25px;
        padding-top: 25px;
        border: 1px solid clr(subcolor-4);
        border-top: none;
      }
    }
  }
}

.search-filter-block {
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: none;
  z-index: 5;

  @include desktop {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;

    // Use negative margin-bottom to compensate .filter-title bottom margins.
    margin-bottom: -1rem;
  }

  @include large {
    margin-bottom: -3rem;
  }

  &--opened {
    display: block;
    z-index: 100;
    background-color: clr(subcolor-3);
  }

  &__button {
    @include set-font($font-type: 'primary-font');

    font-size: 1.4rem;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    border: 2px solid clr(secondary);
    padding: 1.6rem 1rem;
    border-radius: variable(button-border-radius);
    text-transform: uppercase;
    color: clr(product_filter_clearall_color);
    background-color: clr(subcolor-3);
    margin: 0;
    text-decoration: none;

    &--highlighted {
      background-color: clr(secondary);
      color: clr(subcolor-3);
    }

    &--simple {
      border: none;
      margin: 0;
      padding: 0;
      line-height: 20px;
      background: none;
    }

    &--hidden {
      display: none;
    }

    &--disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}

.filter-block .search-filter-block__button--apply {
  display: none;

  @include desktop {
    display: block;
  }
}

.search-filter-header {
  height: 60px;
  position: absolute;
  top: 0;
  width: 100%;

  @include desktop {
    display: none;
  }

  &__title {
    @include set-font($font-type: 'primary-font');

    font-size: 1.8rem;
    line-height: 1.4;
    padding: 30px 20px 0;
    color: clr(secondary);
  }

  &__close {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      height: 2px;
      width: 22px;
      position: absolute;
      top: 9px;
      left: -1px;
      background-color: clr(secondary);
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

.search-filter-content {
  padding: 0 2rem;
  position: absolute;
  top: 6rem;
  bottom: 8rem;
  width: 100%;
  overflow: auto;

  @include medium {
    bottom: 11rem;
  }

  @include desktop {
    max-width: 920px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
    position: static;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.search-filter-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 8rem;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  @include medium {
    min-height: 11rem;
  }

  @include desktop {
    display: none;
  }

  .search-filter-block__button {
    flex-grow: 1;
    flex-basis: 15rem;
    max-width: 21.5rem;
    white-space: nowrap;
  }

  .search-filter-block__button--apply {
    margin-left: 1.5rem;

    @include medium {
      margin-left: 2rem;
    }
  }
}

.search-filter-open-button {
  @include set-font($font-type: 'secondary-font');

  height: 50px;
  padding: 0 20px;
  border-radius: variable(button-border-radius);
  background-color: clr(secondary);
  color: clr(subcolor-3);
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  max-width: 570px;
  margin: 0 auto;

  @include desktop {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    top: 17px;
    right: 20px;
    border-right: 1px solid clr(subcolor-3);
    border-bottom: 1px solid clr(subcolor-3);
    transform: rotate(45deg);
  }
}

.search-filter-info {
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;
  max-width: 688px;
  border-bottom: 1px solid clr(subcolor-4);

  &__applied-label {
    @include set-font($font-type: 'primary-font');

    font-size: 1.6rem;
    line-height: 1.4;
    color: clr(primary);
    text-transform: uppercase;
  }

  &__applied-text {
    font: 16px/1.8em variable(secondary-font);
    color: clr(primary);
    margin: 3rem auto 2rem;
    padding: 0 5rem 0 0;

    @include xl {
      margin-bottom: 3rem;
    }
  }

  &__applied-name {
    display: inline-flex;
    margin-right: 16px;
  }

  &__applied-clear {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 5px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    font-size: 0; /* needed to set minimal iOS Safari button size */
    background-color: clr(secondary);
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 16px;
      border-radius: 2px;
      background-color: clr(subcolor-3);
      position: absolute;
      top: 9px;
    }

    &::before {
      left: 2px;
      transform: rotate(45deg);
    }

    &::after {
      right: 2px;
      transform: rotate(-45deg);
    }
  }

  &__applied {
    flex-grow: 1;

    &--hidden {
      display: none;
    }
  }

  &__clear {
    flex-shrink: 0;
  }

  &--hidden {
    display: none;
  }
}

.search-results-filter {
  .search-filter-container {
    background-color: clr(subcolor-3);
    padding: 0 2rem;

    @include medium {
      padding-bottom: 2rem;
    }
  }
}

body.locked-scroll {
  position: fixed;

  @include desktop {
    position: static;
  }
}
