.search-filter-container {
  padding: 20px;
  background-color: clr(subcolor-2);
  position: relative;

  &__search {
    margin: 60px auto;
    max-width: 896px;

    .search-input {
      border: 1px solid clr(subcolor-4);
      border-radius: variable(button-border-radius);
      flex-grow: 1;
      width: 100%;
      background-color: clr(subcolor-3);
    }
  }

  .search-input-wrapper {
    &.suggested {
      .search-input {
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        border-bottom: none;

        &__field {
          width: calc(100% - 20px);
          margin: 0 20px;

          @include xl {
            width: calc(100% - 20px);
          }
        }
      }
      .mars-search-autocomplete-suggestions-wrapper {
        margin-top: -25px;
        padding-top: 25px;
        border: 1px solid clr(subcolor-4);
        border-top: none;
      }
    }
  }
}

.search-filter-block {
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: none;
  z-index: 5;

  @include xl {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
  }

  &--opened {
    display: block;
    z-index: 100;
    background-color: clr(subcolor-3);

    @include xl {
      background-color: clr(subcolor-2);
    }

    .search-filter-block__button--apply {
      display: block;
    }
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    border: 2px solid clr(secondary);
    padding: 16px 40px;
    border-radius: variable(button-border-radius);
    font-family: variable(primary-font);
    text-transform: uppercase;
    color: clr(secondary);
    margin: 0 6px;
    text-decoration: none;

    @include xs {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }

    &--highlighted {
      background-color: clr(secondary);
      color: clr(subcolor-3);
    }

    &--simple {
      border: none;
      margin: 0;
      padding: 0;
      line-height: 20px;
    }

    &--hidden {
      display: none;
    }

    &--disabled {
      opacity: .6;
      cursor: default;
    }
  }
}

.filter-block .search-filter-block__button--apply {
  display: none;

  @include xl {
    display: block;
  }
}

.search-filter-header {
  height: 60px;
  position: absolute;
  top: 0;
  width: 100%;

  @include xl {
    display: none;
  }

  &__title {
    padding: 30px 20px 0;
    font: 18px/25px variable(primary-font);
    color: clr(secondary);
  }

  &__close {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      height: 2px;
      width: 22px;
      position: absolute;
      top: 9px;
      left: -1px;
      background-color: clr(secondary);
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

.search-filter-content {
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  bottom: 80px;
  width: 100%;
  overflow: auto;

  @include xl {
    width: 920px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.search-filter-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  @include xl {
    display: none;
  }
}

.search-filter-open-button {
  height: 50px;
  padding: 0 20px;
  border-radius: variable(button-border-radius);
  background-color: clr(secondary);
  font-family: variable(secondary-font);
  color: clr(subcolor-3);
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  max-width: 896px;
  margin: 0 auto;

  @include xl {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    top: 17px;
    right: 20px;
    border-right: 1px solid clr(subcolor-3);
    border-bottom: 1px solid clr(subcolor-3);
    transform: rotate(45deg);
  }
}

.search-filter-info {
  margin: 60px auto 20px;
  display: flex;
  justify-content: space-between;
  max-width: 688px;

  &__applied-label {
    color: clr(primary);
    font-family: variable(primary-font);

    @include xs {
      font-size: 1.6rem;
      line-height: 2.24rem;
    }
  }

  &__applied-text {
    font: 16px/1.8em variable(secondary-font);
    color: clr(primary);
    margin-top: 20px;
    padding-right: 50px;
  }

  &__applied-name {
    display: inline-flex;
    margin-right: 16px;
  }

  &__applied-clear {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 5px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    font-size: 0; /* needed to set minimal iOS Safari button size */
    background-color: clr(secondary);
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 16px;
      border-radius: 2px;
      background-color: clr(subcolor-3);
      position: absolute;
      top: 9px;
    }

    &::before {
      left: 2px;
      transform: rotate(45deg);
    }

    &::after {
      right: 2px;
      transform: rotate(-45deg);
    }
  }

  &__applied {
    flex-grow: 1;

    &--hidden {
      display: none;
    }
  }

  &__clear {
    flex-shrink: 0;
  }

  &--hidden {
    display: none;
  }
}

.search-results-filter {
  .search-filter-container {
    background-color: clr(subcolor-3);
  }
}
