{% set article_template__base_class = 'article-detail' %}
<div {{ bem(article_template__base_class) }} data-theme="{{ theme_styles }}">
    {% for component in components %}
      {{component | raw}}
    {% endfor %}
</div>
