.social-feed {
    background-color: clr(background);
    padding: 2rem 4rem 4rem 4rem;
    overflow-x: hidden;
}

.social-feed-heading {
    text-align: center;
    color: clr(subcolor-1);
    text-transform: uppercase;
    font-size: 6.4rem;
    line-height: 6.4rem;
}

.createdAt {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.4rem;
}

.swiper-slide-link {
    text-decoration: none;
    color: clr(text-inverse);
    font-size: 1.4rem;
}

.slide-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 83%);
    position: absolute;
    width: 100%;
}

.swiper-container {
    width: 1460px;
    height: 355px;
    @media (max-width: 1460px) {
        width: 1160px;
        height: 390px
    }
    @media (max-width: 1024px) {
        width: 955px;
        height: 530px;
    }
    @media (max-width: 768px) {
        width: 650px;
        height: 675px;
    }
}

// overrides for the default styles of swiper
// TODO: need to find a better way to override default styles

.swiper-button-disabled {
    opacity: 0 !important;
}

.swiper-container.swiper-container-horizontal > .swiper-scrollbar {
    height: 8px;
}

.swiper-container.swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag {
    background: clr(subcolor-1);
}

#swiper-button {
    background-color: clr(text-inverse);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    &::after {
        color: clr(primary);
    }
}
