.social-feed {
  position: relative;
  @include brand-border-overflow;

  &__content {
    position: relative;
    background-color: clr(subcolor-2);
    padding-bottom: 8rem;
    padding-top: 2rem;
  }

  &__heading {
    &--main-heading {
      text-align: center;
      color: clr(primary);
      text-transform: uppercase;
      font-family: variable(heading-font);

      @include xs {
        font-size: 4rem;
        line-height: 4rem;
      }

      @include medium {
        font-size: 5.6rem;
        line-height: 5.6rem;
      }

      @include large {
        font-size: 6.4rem;
        line-height: 6.4rem;
      }
    }
  }

  &__graphic-divider {
    text-align: center;
    margin-bottom: 6rem;

    svg {
      path {
        fill: clr(subcolor-1);
      }
    }
  }

  // overrides for the default styles of swiper - container, progress bar and buttons of the carousel
  .social-feed-swiper-container {
    width: 100%;
    height: 35.5rem;

    @media (max-width: 768px) {
      height: 25rem;
    }

    @media (max-width: 375px) {
      height: 27.5rem;
    }
  }

  // increasing specificity to avoid using !important
  .social-feed-swiper-container.swiper-container-horizontal>.swiper-scrollbar {
    height: 0.8rem;
    width: 70%;
    left: 15%;
    background-color: rgba(clr(secondary-rgb), 0.4);

    & .swiper-scrollbar-drag {
      background: clr(secondary);
    }
  }

  .social-feed-slide.swiper-slide {
    border-radius: 1rem;
    max-height: 31.7rem;
    overflow: hidden;

    &:focus-within {
      border: 2px solid black;
    }
  }

  .social-feed-swiper-container .swiper-button-prev, .social-feed-swiper-container .swiper-button-next  {
    background-color: clr(subcolor-3);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;

    @media (max-width: 768px) {
      width: 6rem;
      height: 6rem;
    }

    @media (max-width: 375px) {
      width: 5.5rem;
      height: 5.5rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }

    &::after {
      color: clr(secondary);
      font-size: 2.5rem;
    }
  }
}
